[2021-10-12 00:42] Chrischmi opened #648 "Bug: Widget does not work"
## Environment

 - OS Version: 14.*, 15.*
 - App Version: 14.1.1.1

## Description

Widget is a a white box w/o any content.

## Steps to reproduce the behavior
1. Add widget to homescreen
2. see white box

![7957B33E-0C59-4876-AFEB-3E239A5BCD5B](https://user-images.githubusercontent.com/6383221/136871552-98c7b44d-849a-4b8e-8d6b-71b8812586b5.jpeg)

[2021-10-12 04:50] GianniCarlo commented on #648
Is that the recent books widget? or the time played widget?, can you try on the latest version? link to beta: https://testflight.apple.com/join/FLv3zLyN If it's the recent books widget, there's a memory limit issue, we need to change how we handle the artwork data which is the root cause for this issue

[2021-10-14 17:39] GianniCarlo commented on #638
Hi @mttjj , you're right, I don't know how we missed adding that option. We have included that change in our upcoming release 4.2.0 (see commit https://github.com/TortugaPower/BookPlayer/pull/645/commits/945f4fbd13dfdf6b94b03f7eed4b394305f7fc5f) I'll update the beta later today

[2021-10-14 17:48] mttjj commented on #638
Since I posted this a few weeks ago I found a workaround that saved me some time. I just needed to have the particular playlist open while importing to be prompted to import to the _current playlist_. But this new functionality will still be a very welcome addition and makes sense functionally.

Thanks so much @GianniCarlo!

[2021-10-15 14:41] rakleed opened #650 "Bug: Old widgets don't change their background to match system theme"
## Environment

 - OS Version: 15.0.2
 - App Version: 4.1.1-1

## Description

Old widgets do not change their background to match the system theme. If I choose a dark system theme, the widget stays with a light background. Also, when choosing a light system theme, different parts of the widget have a slightly different background color.

## Steps to reproduce the behavior
1. Open the screen with

[2021-10-17 00:48] GianniCarlo commented on #638
that's great! 😁 , I've updated the beta with the changes, I'm closing this issue, but feel free to continue discussing here if you find anything wrong

[2021-10-17 00:48] #638 closed

[2021-10-19 16:06] TD540 opened #651 "Sync audio files to Apple Watch"
# 💬 Narrative

I'd like to be able to sync audio books so they're available directly on the watch (the Wi-Fi-only-one) while I'm off jogging without iPhone on me.

[2021-10-30 21:39] Chrischmi commented on #648
Recent Books, yes.

[2021-10-30 21:44] Chrischmi commented on #634
Same here in 4.2.0 final and beta.

https://user-images.githubusercontent.com/6383221/139559179-6cc8db40-526f-40d8-8954-ee6c77649cb6.MOV

I shared crash data within beta.

[2021-10-31 08:59] ralfhandl opened #653 "Bug: moving files to new playlist removes them from the device"
## Environment

 - OS Version: 15.1
 - App Version: 4.2.0-11

## Description

Moving files to new playlist removes them from device

## Steps to reproduce the behavior
1. click on „Bearbeiten“ (manage?) in top right corner
2. select some files
3. press right-arrow icon
4. choose „new list“
5. Click „create“

new list is created with thumbnail image of first file and shows all selected files, but:

[2021-10-31 15:21] lukaszmojek opened #656 "Bug: Autoplay not working on playlist"
## Environment

 - OS Version: iOS 15.1
 - App Version: 4.2.0-11

## Description

After finishing currently playing item on the playlist, next item is not played automatically.
I have noticed the issue just today, that is 31/10/2021.

## Steps to reproduce the behavior
1. Create a playlist
2. Add some audio files to it
2. Select one of the items
3. Scroll to the end of the currently playing item
4

[2021-10-31 15:21] lukaszmojek opened #657 "Bug: Autoplay not working on playlist"
## Environment

 - OS Version: iOS 15.1
 - App Version: 4.2.0-11

## Description

After finishing currently playing item on the playlist, next item is not played automatically.
I have noticed the issue just today, that is 31/10/2021.

## Steps to reproduce the behavior
1. Create a playlist
2. Select on of the items
3. Scroll to the end of the currently playing item
4. Next item is not played, it s

[2021-10-31 15:22] #657 closed

[2021-10-31 16:08] bornio commented on #634
Same. Happened after trying to import mp3, using “open with”.

[2021-10-31 16:32] fuddl opened #658 "Bug: Aspect ratio of covers is wrong"
## Environment

 - OS Version: 15.0.2
 - App Version: 4.2.0-11

## Description

Covers have a forced square aspect ratio and thus, look distorted when representing the cover of a printed book:

The issue occurred with the last update.

![Distorted book cover](https://user-images.githubusercontent.com/842548/139593254-c7f7a9ce-2c6a-4e27-b555-edee54df49cf.jpg)

## Steps to reproduce the behavior

1.

[2021-10-31 16:45] GianniCarlo commented on #653
Hi @ralfhandl! Can you go to settings inside the app, then to Storage Management, and see if the file is listed with a warning icon?

[2021-10-31 18:41] n-stone commented on #656
I can confirm this bug.
Same Version,
OS Version: iOS 15.1
App Version: 4.2.0-11

[2021-10-31 19:26] Schizocarp commented on #656
I can also confirm this bug.
Same version.
iPhone 13

[2021-10-31 19:32] tundrablasen commented on #656
Can confirm this bug. Not having continued playback makes the app not usable for audiobooks since they mostly consists out of hundred single files

[2021-10-31 19:58] ricorick commented on #656
Same for me no auto playback in playlist

[2021-10-31 21:20] GianniCarlo commented on #656
Thanks for reporting this guys, the fix was merged today in the PR #655, we'll submit a new version for review later today

[2021-10-31 21:24] GianniCarlo commented on #634
I'm looking into this, it looks like sometimes the NSFetchRequests even though the query offset is specified, it may end up fetching already loaded books. I'm patching that, also just in case, we made the file relative path as the is for the uitableviewdiffabledatasource

[2021-11-01 12:10] riotbay commented on #656
Disappointed to report I’m experiencing the same issue for the past few days. I have an Iphone 11 Pro Max (IOS 15.1).
This app has been a lifeline for listening to my audiobooks all day.  It simply won’t advance to the next file which makes the app now wholly unusable- especially when driving. 😔

[2021-11-01 12:14] Schizocarp commented on #656
Thank you. Looking forward to getting back to my books.

[2021-11-01 12:37] GianniCarlo commented on #658
thanks @fuddl for creating the ticket, this has been solved in #661 and will be released in the next version

[2021-11-01 12:37] #658 closed

[2021-11-01 12:52] GianniCarlo commented on #653
Continuing now with my comment from before, moving files is not a destructive operation, we don't explicitly call delete when moving an item, and we first move the file on disk before continuing with the operation, so I can think of two things here that may have happened:

1.- the file at some point (for whatever reason) wasn't moved, leaving the file without a reference to the database object (in

[2021-11-01 16:41] fuddl commented on #658
👌

[2021-11-01 19:56] skracke opened #663 "Bug: "Select all" not working as it should"
## Environment

 - OS Version: 14.7.1
 - App Version: 4.2.0-11

## Description

When you select "Edit" and then "Select All" to create a playlist with all selected files, only about half of the files will be included in the playlist.
Another strange phenomenon that I noticed is that if you scroll through the selected files after selecting "Select all", all selection marks disappear when you get a

[2021-11-01 22:32] GianniCarlo commented on #663
I think this is due to items being loaded in pages, so select all is only picking up the loaded items. Thanks for creating the ticket

[2021-11-01 22:34] GianniCarlo commented on #663
Oh and the deselect looks to be due to the list reloading after the next page is loaded

[2021-11-02 02:10] meeres opened #664 "Cover picture display"
## Environment

 - OS Version: [e.g. 14.3]
 - App Version: [e.g. 4.2.0-11]

## Description

## Steps to reproduce the behavior
1. Add file with cover picture of a size other than a square.
2. Preview thumbnails and now playing page will display a squished version of the cover.

Suggestions:
The squished look of the cover looks very aesthetically displeasing, and looks especially off when human fac

[2021-11-02 07:42] ralfhandl commented on #653
Yes, the moved files had a warning icon

[2021-11-02 09:20] pichfl commented on #664
Please do use the search function before creating a new issue. This is a duplicate of #658 and will be solved with the next update to be released in a few days.

[2021-11-02 09:20] #664 closed

[2021-11-02 11:16] Alosier10 commented on #656
Same here. On iOS 14.7.1, BookPlayer 4.2.0 (iPhone Xr). Looking forward to a fox and thanks for your help!

[2021-11-02 11:24] Schizocarp commented on #656
![7BA2AFA3-A726-463C-91B1-C3CF43DF24DC](https://user-images.githubusercontent.com/93490699/139837603-078a4e12-99b5-4e00-950f-7e2e0ea8b118.jpeg)

[2021-11-02 13:36] Yonidass opened #665 "v4.2.0 Crashes On Launch"
## Environment

 - OS Version: 15.1
 - App Version: 4.2.0

## Description

After upgrading to the latest version, the app worked a few times normally but now crashes every time I try to launch it. Did nothing since the upgrade except listen a few times, and added 1 bookmark to a file.

## Steps to reproduce the behavior
1.
2.
3.

[2021-11-02 14:08] gyre commented on #665
Not that this is any further help, but I'm having the same issue. iPhone 11pro. iOS 15.1. Latest book reader.

[2021-11-02 14:16] Yonidass commented on #665
Thanks. Maybe you can add this comment to the bug thread…?
On Nov 2, 2021, 9:08 AM -0500, gyre ***@***.***>, wrote:

[2021-11-02 14:22] GianniCarlo commented on #665
based on the crashlogs, this may be due to the UITableViewDiffableDataSource, we have reverted that in this PR #660. I'm leaving this issue open to follow up once v4.2.1 is out

[2021-11-02 14:32] Yonidass commented on #665
Not sure if you’ve submitted your own report, but I just got this:

Hi Matthew!

Thanks for reaching out, we have received other reports as well, and based on crashlogs we believe it’s related to this issue https://github.com/TortugaPower/BookPlayer/pull/660

We have submitted a new version to Apple so it can be reviewed and released as soon as it’s approved. We also include a fix for autoplay whi

[2021-11-02 14:33] Yonidass commented on #665
Oops. Last reply was a mistake.
On Nov 2, 2021, 9:32 AM -0500, Matthew R ***@***.***>, wrote:

[2021-11-02 14:42] GianniCarlo commented on #665
yup, I'm going through email support too, and linking to the github issues when possible

[2021-11-02 14:47] turingsecurity commented on #665
How long will it take Apple to push the update? It’s been nearly 4 days now without autoplay and an essentially dead app.

[2021-11-02 14:56] gyre commented on #665
I deleted my identical bug report as it added no extra value to the dev.  :)

[2021-11-02 14:58] GianniCarlo commented on #665
@turingsecurity It usually takes between 2-3 days upon submission, it was submitted yesterday around 7am (UTC-5)

[2021-11-02 16:52] GianniCarlo commented on #665
Apple has released v4.2.1, please let me know if the crash is still happening after updating, cc @Yonidass @turingsecurity @gyre

[2021-11-02 16:55] GianniCarlo commented on #634
I'm closing this issue in favor of #665 , also the update has just been released by Apple, please follow up on #665 if the issue persists cc @bornio @Chrischmi

[2021-11-02 16:55] #634 closed

[2021-11-02 17:07] gyre commented on #665
Bookplayer still crashes on launch for me for 4.2.1.

iOs 15.1.  iPhone 11pro.

If you need crashdump let me know how I can get it to you. :)

[2021-11-02 17:09] Yonidass commented on #665
Still crashes for me too.
On Nov 2, 2021, 12:07 PM -0500, gyre ***@***.***>, wrote:

[2021-11-02 17:24] ismael-iskauskas commented on #656
The Update today fixed this bug.
Thank you all for the quick fix.
You are the Beat

[2021-11-02 17:30] GianniCarlo commented on #665
damn, @gyre can you install the previous version beta via testflight? and submit the crash report via there? → link to join: https://testflight.apple.com/join/FLv3zLyN

[2021-11-02 17:34] GianniCarlo commented on #665
oh I see @Chrischmi has already done so, thanks a lot!, the error looks related to the Theme that it's used to load the initial state of the app, it seems to be nil, I'll add a default value for that

<img width="991" alt="Screen Shot 2021-11-02 at 12 33 53" src="https://user-images.githubusercontent.com/14112819/139916456-ff6fc2c8-0e32-497e-ba10-b1a7ab20e8f1.png">

[2021-11-02 17:46] gyre commented on #665
Heh.  I did install 4.2.0 via TF and it crashed.  Hopefully you got the crash report as well :)

[2021-11-02 17:46] #656 closed

[2021-11-02 17:54] GianniCarlo commented on #665
well we can be sure now that this is what's happening, got the crash report and it's the same issue 😬

<img width="912" alt="Screen Shot 2021-11-02 at 12 51 49" src="https://user-images.githubusercontent.com/14112819/139919254-dd8606e4-9a71-4bd7-bbf4-f4fa1e9fe623.png">

Thanks for installing @gyre 😁 , the good thing, is that I already had a solution in place for this, that I implemented for the wi

[2021-11-02 17:58] GianniCarlo commented on #665
PR: https://github.com/TortugaPower/BookPlayer/pull/666

[2021-11-02 18:19] GianniCarlo commented on #665
Build submitted to TestFlight, it takes around the same time usually as submitting to the app store for the beta to go live

<img width="463" alt="Screen Shot 2021-11-02 at 13 17 40" src="https://user-images.githubusercontent.com/14112819/139922509-1136918f-176e-4b92-ad83-e1f8908b2288.png">

I'll post here once it's approved and live, link to join: https://testflight.apple.com/join/FLv3zLyN

[2021-11-02 21:25] patjolata opened #667 "Chapter selection is white in dark mode"
After the update to the v. 4.2.1 the selection has a white background in dark mode (please take a look at the screenshot). Until yesterday it was black or dark in dark mode. Please tell me, if you need any more information. Thanks!

![3B459D00-343B-4E79-AF35-BD0CAF668D7C](https://user-images.githubusercontent.com/53347808/139953860-8a0a8a82-065d-4ef8-9218-1735bb93c3c8.png)

[2021-11-03 02:57] lexxanite commented on #665
Can confirm this is still present in 4.2.1

[2021-11-03 09:01] malloy70 opened #670 "Bug: Imported playlist files appear at top of list instead of bottom"
## Environment

 - OS Version: 15.0.2
 - App Version: 4.2.1-1

## Description

Before two updates ago, when adding a file to a playlist, the file appeared at the end/bottom of the list. Now it appears at the beginning/top and must must be dragged to the bottom, if desired. Perhaps an option could be made available to set a default?

## Steps to reproduce the behavior
1. At the bottom of the list o

[2021-11-03 09:13] malloy70 opened #671 "Bug: Filename appears in main player vs. Title tag"
## Environment

 - OS Version: 15.0.2
 - App Version: 4.2.1-1

## Description

Before two updates ago, the main player screen displayed the currenlty playing file's "Title" metadata tag. Now it displays the filename (e.g. "myfilename20211103.mp3" vs. "My File Title, 11-03-2021"). However, the Title tag is displayed in other areas, such as a playlist and the player widget. Preferably, the Title tag

[2021-11-03 13:40] LordZork opened #672 "Bug: v4.2.1 Crashes On Launch"
## Environment

 - iOS Version: 15.1
 - App Version: 4.2.1

## Description

The BookPlayer app updated either last night or this morning, and now crashes immediately on launch (every time).  I've rebooted my iPhone and I've tried opening the app a dozen or more times, to no avail.

Note:  I updated to iOS 15.1 yesterday, though I don't recall if I used BookPlayer between that update and the app up

[2021-11-03 14:01] LordZork commented on #671
@malloy70 I noticed this too, I think after the **4.2.0** update.  I didn't think about it being a bug, though—good call!

**4.2.1** crashes on launch for me, every time, so I'm not sure if the file name issue is still present... at least for me.

[2021-11-03 14:22] GianniCarlo commented on #671
I had to double check, but you're right, for some reason we thought that all parts of an mp3 book would have the same encoded title, but they do have the part number encoded in there too. Thanks for creating a ticket for this, I'll create a PR addressing this

[2021-11-03 15:11] GianniCarlo commented on #670
I reverted the changes in this PR → https://github.com/TortugaPower/BookPlayer/pull/675

[2021-11-03 16:30] gyre commented on #665
4.2.2(1) just arrived.  and crashed.  stacktrace (hopefully) submitted via TF

[2021-11-03 16:56] GianniCarlo commented on #665
Thanks for your prompt reply @gyre , can you update to the build 3 and test? I just updated the beta again

[2021-11-03 16:57] gyre commented on #665
4.2.2(3) starts and plays.  at least the first few secs i tested.  :)

[2021-11-03 16:57] GianniCarlo commented on #665
nice!

[2021-11-03 16:58] gyre commented on #665
now i can go and continue the washing up with my earbuds in.  thanks for fixing this :) :)

[2021-11-03 17:43] LordZork commented on #672
@GianniCarlo, I would be happy to join/test the beta, but I'm nervous I might lose app date (loaded books, playlists, listen location, etc.).  I am guessing you cannot guarantee this won't happen, but can you at least tell me if it is likely or not?  Thanks!

[2021-11-03 18:03] GianniCarlo commented on #672
it should not happen if you're on v4.2.1, the only case where that may happen is when there's a database migration, and the beta has stuff that the appstore version doesn't have, in that case you cannot revert to the app store version.

But that's not the case here, you can switch between the appstore version and the latest beta without any problems

[2021-11-03 18:10] GianniCarlo commented on #671
This will be included in the next release 4.2.2

[2021-11-03 18:10] #671 closed

[2021-11-03 18:11] GianniCarlo commented on #670
This will be included in the next release 4.2.2

[2021-11-03 18:11] #670 closed

[2021-11-03 18:11] GianniCarlo commented on #663
This will be included in the next release 4.2.2

[2021-11-03 18:11] #663 closed

[2021-11-03 18:23] LordZork commented on #672
@GianniCarlo, I just installed the beta....

I opened and closed the app several times—no crashes this time! :)

Also, I see you fixed #671 as well.  Thanks!

[2021-11-03 22:30] GianniCarlo commented on #672
awesome 🙌

[2021-11-03 22:30] #672 closed

[2021-11-03 22:30] GianniCarlo commented on #665
Thanks everyone for your help in solving this issue 🙌

[2021-11-03 22:30] #665 closed

[2021-11-04 18:59] Erickallen opened #678 "App crashes when opened"
## Environment

 - OS Version: iOS 15.1
 - App version 4.2.1
 -
 app crashes on open

## Steps to reproduce the behavior
1. Open app
2. it crashes

[2021-11-04 19:17] GianniCarlo commented on #678
This is a possible duplicate of #672 and #665, the next build should fix this, it is live in TestFlight right now, and should be available in the AppStore in a few days

[2021-11-05 11:04] jvaclavik opened #679 "Bug: Autoplay is not working"
## Environment

 - OS Version: 15.0.2
 - App Version: 4.2.0.11

## Description

In previous versions autoplay worked out of the box but in this one playing is stopped every time when I finish one file from the whole playlist. It's quite disruptive and it's hard go to next chapter during driving for example. In settings I have autoplay library turned to on.

## Steps to reproduce the behavior

It w

[2021-11-05 11:34] pichfl commented on #679
Please update to the latest release, which is 4.2.2-3

[2021-11-05 11:34] #679 closed

[2021-11-05 16:26] Mr-Mistoffelees commented on #672
Thanks so much for your dedicated work here. A lot of people in my bubble are really happy to have one of their favorite apps back!

[2021-11-05 16:56] jvaclavik commented on #679
Nice, it's working now. Thank you! Awesome app by the way 🙂

[2021-11-06 00:29] malloy70 commented on #671
Awesome! Thanks for this and for #670. It's really cool to have devs that care and are reponsive. Great community. I had to tip!

[2021-11-06 02:17] GianniCarlo commented on #671
Thanks for your support @malloy70!! :D

[2021-11-06 19:43] LordZork opened #680 "Apple Watch “Now Playing” controls—“Chapter” instead of “Rewind”"
## Environment

 - iOS Version: 15.1
 - watchOS Version: 4.3.2
 - App Version: 4.2.2

## Description

On the Apple Watch, the "Now Playing" controls should reflect the iPhone app controls.  However...

**BookPlayer**

iPhone (app):
"Rewind" and "Forward"

Apple Watch (Now Playing):
"Chapters" and "Forward"

![image](https://user-images.githubusercontent.com/65878888/140621259-9628d61b-a64e-41bd-91

[2021-11-06 20:00] LordZork commented on #680
I just remembered, the 4.2.0 update included "redesigned player... controls."  This change must have impacted how the Apple Watch "Now Playing" works... either accidentally (a bug?) or intentionally?

[2021-11-07 19:32] Chrischmi commented on #648
Seems to be fixed. I am just wondering, why two chapters of one book (folder) appear as two books in the widget.

[2021-11-09 13:55] 0507spc opened #683 "Any reason ios file sharing is disabled?"
Is there any reason ios files app sharing has been disabled?

info.plist:

<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>

can this be made true? Would that cause other issues. Main use would be for adding or saving files previously added.

[2021-11-09 17:25] GianniCarlo commented on #683
File sharing via iTunes (or Finder) is enabled already, that key though refers to when importing the files for example via the integration we have with the Files app, we make a copy, instead of accessing directly the file from its source. We don't currently support remote sources, which is one of the reasons we haven't integrated yet with the apple books/music library

For the time being it's easi

[2021-11-09 19:57] 0507spc commented on #683
What I mean is the Files app on phone and iPad, to see BookPlayer you need to enable both. Here is the stackoverflow comment I found:

 `The file sharing link included in the question is for the iTunes-based file sharing, which is still supported and requires the UIFileSharingEnabled key only. The new Files app in iOS 11 requires that key plus the LSSupportsOpeningDocumentsInPlace key.`

However,

[2021-11-09 20:01] 0507spc commented on #683
This gives details, does seem to be both required:

https://www.appcoda.com/files-app-integration/

No worries if not, just a nice to have. 😃

[2021-11-09 21:12] BayRider27 opened #684 "Importing not working with 4.2.2"
## Environment

 - OS Version: 14.8.1
 - App Version: 4.2.2

## Description

4.1.1 worked beautifully but with the first 4.2 version I started having problems importing files to BookPlayer. I also found that my multiple part play lists stopped playing at the end of a part. I had to select the next part in the play list manually.

I usually import multiple m4b files to add to a playlist via Airdrop

[2021-11-11 14:33] Matthewb143 opened #685 "Adjust time remaining based on playback speed"
## Feature request

- Have the remaining duration of what you are listening to be based on your current playback speed, ie if a book is 10 hours left at 1x speed when you change the speed it will update the remaining time so 2x speed would so 5 hours remaining and so on.

## Narrative

- Helps you know how much time you actually have left when listening to something, and also allows you to pick pl

[2021-11-11 14:36] GianniCarlo commented on #680
@LordZork can you tap on the hamburger icon and post a screenshot of the options there? before I tested on adding bookmarks support from the lock screen on the iphone, but it generated the same problem of replacing the rewind icon in favor of a hamburguer icon on the iphone. I left the code in as a reference for the future, but disabled the button

It no longer shows in the iphone, so I'm curious

[2021-11-11 14:38] GianniCarlo commented on #367
I'm closing this in favor of the newly created #685

[2021-11-11 14:38] #367 closed

[2021-11-13 03:12] LordZork commented on #680
Sorry for the delay!  Here are some screenshots...

iPhone — hamburger icon NOT tapped:

![image](https://user-images.githubusercontent.com/65878888/141603642-c1159548-746c-4f50-992e-7dcdb0d00863.png)

iPhone — hamburger icon TAPPED:

![image](https://user-images.githubusercontent.com/65878888/141603655-3c250eaa-cca1-49f8-a08e-aa20db54531d.png)

Apple Watch — hamburger icon NOT tapped:

![image](h

[2021-11-14 23:18] GianniCarlo commented on #648
@Chrischmi yes unfortunately that will happen for mp3 books until we get the bound books feature done. For more details, we moved away from having the database objects directly loaded on memory due to unexpected errors/behaviour when the library is too big.

I'm closing this issue as this would be resolved with #389

[2021-11-14 23:18] #648 closed

[2021-11-15 17:45] LordZork commented on #680
@GianniCarlo do those images help—need anything else?

[2021-11-15 18:07] GianniCarlo commented on #680
I've been trying to reproduce but with no result @LordZork , can you tap on the '...' button and see what's in there? For context, this is what I see on WatchOS 8.1:

![incoming-FD605ECF-8024-4B90-A62D-E187B143B70C](https://user-images.githubusercontent.com/14112819/141832171-521365a6-5c27-4002-8cbe-1dccd2624459.PNG)

[2021-11-16 01:50] LordZork commented on #680
@GianniCarlo, I have the original Apple Watch (still works great), which is why I'm running an older version of watchOS (it's the latest available). Though, as previously mentioned, the correct controls display for other apps, such as Audible.

I appreciate you looking into this! Here's some screenshots...

iPhone — "..." icon NOT tapped:

![image](https://user-images.githubusercontent.com/6587888

[2021-11-16 02:00] LordZork commented on #680
@GianniCarlo, btw... off topic... I couldn't help noticing the book on your screenshot.  How do you like the Hyperion series?  I've never heard of it, but I'm a big fan of Sci-Fi and Fantasy—always looking for new books.  I'm currently listening to Dune and the Stormlight Archive (both are solid so far).  Before that, I listened to the Red Rising series, which I really liked.

[2021-11-16 03:58] GianniCarlo commented on #680
I'll download the simulator version for watchOS 4.3.2 and test with that 👍

Re off topic, I love the Stormlight Archive! and for that matter I think I've gone through almost everything that Brandon Sanderson has put out on audiobooks. Haven't read Red Rising, I'll check those next, my current backlog is running thin (after Hyperion I wasn't sure which series to pick up)

To be honest, I had troubl

[2021-11-16 13:37] GianniCarlo commented on #683
I've added support for this in the PR #688, thanks for bringing this up @0507spc . This will be released in the next version after v4.2.3 which is being reviewed 👍

[2021-11-16 13:37] #683 closed

[2021-11-16 13:38] GianniCarlo commented on #678
closing this due to inactivity and possible duplicate of the issues mentioned before

[2021-11-16 13:38] #678 closed

[2021-11-16 13:41] GianniCarlo commented on #650
@rakleed we have dropped support for the Today's extension widget, due to Apple shifting to the new type of widgets in iOS 14

[2021-11-16 13:41] #650 closed

[2021-11-16 13:45] GianniCarlo commented on #640
This is as it's intended, with previous versions we learned that it's a not a great idea to just allow importing mp3/m4b/m4a, because there are other formats like mp4 that actually can be played with our player component [AVPlayer](https://developer.apple.com/documentation/avfoundation/avplayer). So we would rather let everything through, and let the player show the proper error if it can't load t

[2021-11-16 13:45] #640 closed

[2021-11-16 13:53] GianniCarlo commented on #576
A big of background regarding our integrations with third-parties:
To provide access to third-party file providers, we have an integration basically to the native Files app. The problem is, that Apple has limitations for our type of integration, that is to say that BookPlayer doesn't know what is going on when the Files app screen is shown, we only get notified about the new item(s) after them hav

[2021-11-16 13:53] #576 closed

[2021-11-16 13:56] GianniCarlo commented on #523
closing due to inactivity, the name thing could also be related to all the files having the same ID3 tag for the book title

[2021-11-16 13:56] #523 closed

[2021-11-16 13:57] GianniCarlo commented on #283
This has been solved by the Storage Management screen and the fix option it has

[2021-11-16 13:57] #283 closed

[2021-11-16 14:00] GianniCarlo commented on #202
For v4.0.0 we switched from a third-party library to the native way of dragging and dropping things in iOS due to performance issues. We also had to remove the create-playlist-on-drop interaction, due to the new interaction limitations, so this ticket no longer applies

[2021-11-16 14:00] #202 closed

[2021-11-16 14:03] GianniCarlo commented on #350
This was finally introduced in v4.2.0 🎉

[2021-11-16 14:03] #350 closed

[2021-11-16 14:05] GianniCarlo commented on #429
Introduced in v4.2.0 🎉

[2021-11-16 14:05] #429 closed

[2021-11-16 14:10] GianniCarlo commented on #489
on v4.0.0 the entire file name should be visible now 👍

[2021-11-16 14:10] #489 closed

[2021-11-16 16:31] dfdy commented on #684
I have the same problem.

[2021-11-16 21:19] patjolata commented on #667
I think I understand the problem now. I have the dark mode for iOS disabled, i.e. I'm always in light mode. But because I use the BookPlayer mostly during bedtime, I've got he toggle 'Always use dark mode' in the app enabled (screenshot 1).

![IMG_8212](https://user-images.githubusercontent.com/53347808/142066642-e0c4e0dd-6f89-480d-bea8-96487104b1ef.PNG)

When I go to the chapters of an audio book

[2021-11-17 02:06] BayRider27 commented on #684
Thanks for the report. I was just thinking that moving to iOS 15 might fix the import issue. You’ve saved me that effort, much appreciated.

I can update my feedback: 4.2.2 does move smoothly between parts in a playlist, which the previous version did not. So that’s one improvement. Still can’t import though, just tried via a different computer.

[2021-11-17 11:07] sklado80 opened #689 "Control your music in Waze"
## Feature request

Please, add BookPlayer app to the list of supported Waze's audio players.
More info https://support.google.com/waze/answer/9171270
Thank you.

[2021-11-17 11:31] pichfl commented on #689
This would require us [Become a Waze partner](https://developers.google.com/waze/intro-audio) and integrate the proprietary Waze toolkit into BookPlayer.

I do understand that this can be a useful feature, but from an ideological standpoint adding proprietary third party code to our open source project feels iffy. It's also unclear if this would affect our privacy policy or allow Google to track o

[2021-11-17 11:32] #689 closed

[2021-11-17 13:09] GianniCarlo commented on #667
Thanks for extra details 👌, we'll work on a fix for this

[2021-11-17 15:47] GianniCarlo commented on #684
I figured out what the issue is (or at least one of the issues), if the app isn't already loaded up in memory, and it's started by airdropping, the app boots up, but misses the airdrop event. I'll figure out a fix for this for the next version 👍

In the meantime, test by first opening the app before airdropping the files

[2021-11-17 17:44] BayRider27 commented on #684
Thanks for reply and considering our situation. In the past I’ve only been able to airdrop multiple book parts if the app was not already open so that has become my habit. When I get off work I will try with the app already in memory. Thanks again.

[2021-11-17 19:45] dfdy commented on #684
In my case the app was already open when I tried to AirDrop and also when I tried to import from iCloud.

In a very annoying twist, I tried again today (AirDrop) and it worked perfectly the first time.

Intermittent bugs - everyone's favourite kind. ¯\_(ツ)_/¯

[2021-11-18 05:28] BayRider27 commented on #684
Just airdropped a 3-part book the first try with the app already open, yay! So glad to have a new book available. Not sure how to help sort out the intermittent nature of the situation. Lmk if I can test something.

[2021-11-18 14:00] GianniCarlo commented on #684
@BayRider27 I found two other issues while fixing the one I mentioned, the PR #691 addresses all the issues I found, I'll see if I can submit a new version with this fix this week, and hopefully we can have it live by the weekend

[2021-11-19 00:30] GianniCarlo commented on #667
This is fixed in https://github.com/TortugaPower/BookPlayer/pull/692 and will be included in the next version

[2021-11-19 00:30] #667 closed

[2021-11-22 03:57] GianniCarlo commented on #684
@dfdy @BayRider27 version 4.3.0 was released earlier today, can you update and test importing?

[2021-11-22 04:02] GianniCarlo commented on #625
@0xConnorRhodes @carbonel17 @jstaubr @PasChris while debugging this, I found some issues with the import logic that would make the import screen not show up. The fixes were included in v4.3.0 that was released earlier today, please update and let us know if this issue persists

[2021-11-22 04:04] GianniCarlo commented on #552
This should be already be solved in the latest version 👌, please feel free to continue the conversation if you still have this issue

[2021-11-22 04:04] #552 closed

[2021-11-22 04:04] GianniCarlo commented on #534
Closing due to inactivity

[2021-11-22 04:04] #534 closed

[2021-11-22 06:37] BayRider27 commented on #684
Just tried several situations with two different .m4b files. With app not loaded into memory, both failed to add to Bookplayer library.

With app loaded into memory but not in foreground (some other app showing on phone screen), both files failed to add to Bookplayer library.

With app open and in foreground, both files were added to library successfully.

So this seems a big improvement, just nee

[2021-11-22 11:01] GianniCarlo commented on #684
Thanks @BayRider27 ! Damn I really thought I covered all the cases. I'm refactoring part of the codebase that handles the database and adding unit tests, I'll circle back to this after that

[2021-11-23 16:09] BayRider27 commented on #684
Update: just tried several sets of .m4b files in various app states with Version 4.3.0. Each attempt to import worked perfectly. I have no explanation for the problems related in my previous post - maybe the app hadn't updated to 4.3 correctly? I did restart my phone for an unrelated situation, so perhaps that sorted something out with 4.3 correctly replacing the previous version. Sorry but I just

[2021-11-23 16:16] BayRider27 commented on #684
Forgot to mention - another change I really appreciate is that when importing a sequence of files, the suggested new playlist title ignores the 01, 02, 03... prefixes. This is GREAT!!! Saves me having to move the cursor to the front and delete the 01. Thanks for this!

[2021-11-23 19:53] carbonel17 commented on #625
Thanks for the update! I tried importing two audiobooks, and both imported properly. I'll let you know if I encounter any problems going forward.

[2021-11-24 06:50] elric667 opened #697 "Bug: ...import files from cloud storage hangs"
## Environment

 - OS Version: 15.1
 - App Version: 4.3

## Description

Import files from cloud folder downloads the files and hangs when starting to import.  This has worked until the latest update

## Steps to reproduce the behavior
1. Import file
2. Select cloud storage I use pCloud
3. Find the audiobook
4. Select the audiobook and download
5. It downloads the file and shows fully downloaded b

[2021-11-24 11:48] GianniCarlo commented on #697
Hi @elric667 , can you attach a screen recording of the process? does the file app gets dismissed?

[2021-11-24 11:54] GianniCarlo commented on #684
Thanks @BayRider27 for your continued support :D 🎉! regarding other issues, feel free to open new tickets in Github for those 👍

[2021-11-24 11:55] GianniCarlo commented on #684
I'll close this issue, but feel free anyone to continue the conversation in case something comes up

[2021-11-24 11:55] #684 closed

[2021-11-24 11:56] GianniCarlo commented on #625
I'll close this issue, but feel free anyone to continue the conversation in case something comes up

[2021-11-24 11:56] #625 closed

[2021-11-24 13:59] elric667 commented on #697
https://youtube.com/shorts/1_m06_6OzDU?feature=share

[2021-11-24 14:11] elric667 commented on #697
I had it running for six hours stuck at that spot.

[2021-11-24 14:38] GianniCarlo commented on #697
@elric667 I cannot access the video, I tried from Chrome, Safari and Opera with the same blank page as result, see screenshot

<img width="1263" alt="Screen Shot 2021-11-24 at 09 36 26" src="https://user-images.githubusercontent.com/14112819/143258385-7676592c-9bc7-45a2-a73a-022e2ed9a5ad.png">

[2021-11-24 14:42] GianniCarlo commented on #697
from the Youtube app it worked. I see that you're stuck in the Files app, and BookPlayer doesn't really get any event from the Files app until all the files are downloaded. That's how the API works, what I could suggest is that you go the other way around, from the Files app, select them, and use the share icon, from the share sheet, select BookPlayer as the destination

[2021-11-24 14:42] #697 closed

[2021-11-25 07:47] cantonalex opened #698 "Allow seperate audio playback/music with audiobook"
## Feature request

- ability to play Spotify background music and audiobook at same time to make audiobooks dynamic. Which may increase BookPlayer app usage time

[2021-11-29 22:44] dziursonator opened #700 "adding covers from google or gallery"
It would be nice if i could search and add covers from google or gallery. Do you plan to introduce this feature? This is the only thing missing from this app. in any other audiobook players there is no problem with that

[2021-12-01 03:38] movieman12341 opened #701 "Apple Watch app won't connect to the phone at all"
My watch says "Connectivity Error. There's a problem connecting to your phone, please try again later."

I've tried deleting Bookplayer from my phone and watch and re installing but nothing works. All functionality on apple watch doesn't work rendering the apple watch app useless as it can't control anything or start playback.

specs:
Apple watch 6 (watchOS 8.1)
Iphone 11 Pro Max (IOS 15.1
![incom

[2021-12-01 05:15] LordZork commented on #680
@GianniCarlo any luck with the issue, or with testing the simulator version for watchOS 4.3.2?

[2021-12-01 09:07] pichfl commented on #700
Adding Google / a general purpose browser to the app would have implications for the age restrictions Apple imposes on apps, which is something I'd rather not do.

Editing books is on our agenda, but there is no estimated time frame where this will see the light of day.

[2021-12-01 14:15] angelcie opened #702 "Bug: ... app crashes when importing files"
## Environment

 - OS Version:

 - App Version: [4.3]

## Description

A clear and concise description of what the bug is.

## Steps to reproduce the behavior
1. open bookplayer app
2. open file app
3. click file to import to bookplayer app
4. click done
5. app  #crashes[]
6. (https://youtube.com/shorts/zz9BjZcsR8g?feature=share)

[2021-12-01 15:55] movieman12341 opened #703 "Bug: ...Apple Watch app won't connect to the phone at all"
## Environment

 - OS Version: [15.1]
 - App Version: [4.3.0-1]

## Description

My watch says "Connectivity Error. There's a problem connecting to your phone, please try again later."

I've tried deleting Bookplayer from my phone and watch and re installing but nothing works. All functionality on apple watch doesn't work rendering the apple watch app useless as it can't control anything or start

[2021-12-01 15:55] #701 closed

[2021-12-01 15:56] movieman12341 commented on #701
A "bug" label wasn't created in this issue so I created a new issue.

[2021-12-04 17:37] XiaoHippo commented on #702
Files -> Share crashes the app, definitely a regression. Import Files seems to have better success rate.

[2021-12-06 00:56] GianniCarlo commented on #389
This will be included in the next release 🎉

[2021-12-06 00:56] #389 closed

[2021-12-07 03:06] GianniCarlo commented on #703
This is due to [this flag: isReachable](https://developer.apple.com/documentation/watchconnectivity/wcsession/1615683-isreachable) being false. Given that once this flag gets stuck, there's nothing that can change it without doing the next steps, we have removed this check for the next release (there are reports that even if it's false, the messages between the phone and the watch still work)

Wha

[2021-12-07 03:06] #703 closed

[2021-12-07 03:13] GianniCarlo commented on #702
I managed to reproduce this issue, it looks like it's related to the Operation queue we're using. When adding to the queue, for some reason the operation may have already started

[2021-12-07 03:30] GianniCarlo commented on #702
We added a missing check to `isCancelled` when starting an operation, let's see if that fixes this issue in the next release

[2021-12-07 03:31] GianniCarlo commented on #610
This was fixed between 4.1.0 and 4.2.0 I believe, thanks for reporting it 👌

[2021-12-07 03:31] #610 closed

[2021-12-09 02:15] lilgrassin opened #707 "Bug: Storage management menu fails to detect files from failed imports"
## Environment

 - OS Version: 14.8.1
 - App Version: 4.3.0-1

## Description

I just discovered that files that fail to import via AirDrop due to #684 stick around in the app's storage, but are not detected by BookPlayer's storage management settings. This means there are several GBs worth of duplicate files that are hard to clean up because I can't tell which one BookPlayer is using (in my case

[2021-12-09 05:51] lexxanite opened #708 "Bug: Crashes on startup."
## Environment

 - OS Version: 15.1.1 iPhone 12 Pro
 - App Version: 4.4.0 (3) TestFlight

## Description

A clear and concise description of what the bug is.

## Steps to reproduce the behavior
1. Open Bookplayer

[2021-12-09 05:53] lexxanite commented on #708
https://user-images.githubusercontent.com/73835921/145342084-b1697866-8c18-44ca-a964-1210606fe17b.MOV

[2021-12-09 05:57] lexxanite commented on #708
Dropping out of TestFlight and reverting to 4.3.0 - 1 from the App Store restores the app functionality.

[2021-12-09 10:45] GianniCarlo commented on #707
Thanks for reporting this @lilgrassin !, to reproduce the import issue, after airdropping and the import screen being shown, force-close the app, and the files will get stuck in the Inbox folder

For more context, inside the Documents folder in the app, there are only two folders:
1. the Processed folder, which is the root for the library, and the folder that is considered for the storage manageme

[2021-12-09 11:42] GianniCarlo commented on #708
Thanks @lexxanite for reporting it, I'll disable the beta until I get this solved

[2021-12-09 14:47] GianniCarlo commented on #708
@lexxanite I added a new version to the beta, 4.4.0 (4), it should fix this problem. Please let us know if this is the case

[2021-12-09 19:00] lexxanite commented on #708
https://user-images.githubusercontent.com/73835921/145458914-128f9898-5250-4a46-859a-f9262ba0c65c.MOV

[2021-12-09 19:01] lexxanite commented on #708
It worked until I said start testing on the feedback explanation screen of flight test. Then it promptly crashed and does that since.

[2021-12-09 22:18] GianniCarlo commented on #708
it seems I inadvertently introduced that crash in #709, it's trying to create the Inbox folder if it's missing, but since it's a folder created by the system, it crashes when trying to create it manually.  Thanks @lexxanite for helping debug the beta. I'll write again here as soon as the next build is up in TestFlight

[2021-12-09 22:34] GianniCarlo commented on #708
@lexxanite 4.4.0 (5) is up with the fix for the crash about the Inbox folder, please when you have the time, let me know if it fixes your crash

[2021-12-10 06:32] lexxanite commented on #708
TestFlight version now opens as expected.

[2021-12-10 10:57] GianniCarlo commented on #708
Thanks again @lexxanite for your help!

[2021-12-10 10:57] #708 closed

[2021-12-11 18:01] movieman12341 opened #711 "Bug: ...Apple watch app doesn't work at all."
## Environment

 - OS Version: [15.1]
 - App Version: [4.3.0-1]

## Description

The apple watch app doesn't seem to sync to the phone rendering the apple watch app completely useless as I can't select books or start playback from the watch. If I start playback from the phone, I can pause or skip forward/backwards so at least that works. However, I should be able to start playback from the watch b

[2021-12-11 18:11] GianniCarlo commented on #711
Can you test with the beta of the upcoming version? (Link to join https://testflight.apple.com/join/FLv3zLyN)

[2021-12-11 18:22] GianniCarlo commented on #711
It seems the beta has the same issue, thanks for reporting it @movieman12341 I'll look into it

[2021-12-13 01:28] GianniCarlo commented on #711
This has been fixed in the latest beta v4.4.0 (6) and will be included in the next App Store release

[2021-12-13 01:28] #711 closed

[2021-12-13 05:27] Jakob-Sedai opened #712 "Budget Headphone Mode"
## Feature request

I am requesting that a "Budget Headphone Mode" be implemented that plays a quiet white noise in the background so my budget headphones don't cut off sentences.

## Narrative

Hi friends, I have a special request.

When I listen to audiobooks with my budget Bluetooth headphones, it cuts off the first word of each sentence. This seems like a common problem, something to do with t

[2021-12-14 13:56] ahoereth commented on #497
I also ran into something similar just note. Length 43 hours, no audio after 16:40h. Also re importing the file, which did not help

[2021-12-14 14:18] pichfl commented on #497
Historically there was a limit ~10 or ~13h in m4b files, maybe something in iOS still walks into this?

[2021-12-14 14:31] ahoereth commented on #497
So I am able to play the full mp3 using the files app.. trying a different mp3 audiobook app (“mp3 audiobook player”) everything works fine as well.

[2021-12-14 14:39] GianniCarlo commented on #497
We use [AVPlayer](https://developer.apple.com/documentation/avfoundation/avplayer) and [AVPlayerItem](https://developer.apple.com/documentation/avfoundation/avplayeritem) for playback, which are native APIs for audio playback. Whenever I run into files that are behaving oddly, I run them by [ffmpeg](https://ffmpeg.org), using the [copy command](https://ffmpeg.org/ffmpeg.html#Stream-copy) which rem

[2021-12-14 15:07] ahoereth commented on #497
Do you have an example command for me? Happy to run it

[2021-12-14 15:09] GianniCarlo commented on #497
@ahoereth sure! `ffmpeg -i damagedfile.m4b -c copy newfile.m4b`, let me know when you reimport if you still experience the issue

[2021-12-14 15:40] ahoereth commented on #497
Sadly, did not help. Problem is exactly the same at the same timepoint.

Before

[code]

After

[code]

[2021-12-14 18:23] ahoereth commented on #497
Mhh after I ran the following it now works:

[code]

[2021-12-15 13:13] EverlastEngineering commented on #508
I'm experiencing this tool. Can debug on request if necessary.

[2021-12-15 15:22] movieman12341 commented on #711
@GianniCarlo Sorry for late reply as I just saw this. Good news! Thanks for getting this fixed.

[2021-12-16 04:23] r0bj commented on #508
I can confirm issue with wrong order, version 4.3.0

[2021-12-16 04:47] r0bj opened #714 "Total time remaining, combined from all chapters"
## Feature request

Time remaining for current chapter is ok but it would be really useful to be able to see also total time remaining, combined from all chapters.

[2021-12-16 08:51] pichfl commented on #714
If your book is a chapterized m4b, you can tap the label in the middle below the playback position slider to switch between the total time of the book and the currently playing chapter.

If you have a book that is an mp3 file per chapter you'll have to wait for the 4.4.0 release to be published, which includes a feature to bind those files into a single volume which will behave like a proper m4b a

[2021-12-16 08:51] #714 closed

[2021-12-17 08:55] binglin1009 opened #715 "support "Clear Playback history""
As the name of title, will you add this feature? Users, for example, like me, want to listen some programs again and again. When I finish all the episodes, I want to replay it again. But for some episodes, there may be still few seconds/minutes left. it will not play from the very beginning.(sorry, I do not know if I am clear about it. I just want to say when a new episode is played, it should beg

[2021-12-17 09:33] pichfl commented on #715
Swipe left on any item in your library and select "Jump to start"

[2021-12-17 09:33] #715 closed

[2021-12-17 21:40] GianniCarlo commented on #707
with v4.4.0 now available in the appstore, the files shouldn't be able to hide in the Inbox folder for long anymore. I'm closing this issue, but if something related comes up, please feel free to continue the discussion

[2021-12-17 21:40] #707 closed

[2021-12-17 21:40] GianniCarlo commented on #702
@XiaoHippo v4.4.0 is out now in the AppStore, please let us know if you are still experiencing this issue

[2021-12-17 22:49] LordZork commented on #680
@GianniCarlo

Just a quick update...

I've been installing and testing beta versions of BookPlayer, as they're released, and I've even completely reset and re-setup my Apple Watch, but the wrong icon/control function is still showing instead of rewind.

As mentioned before, the correct function is present with other apps, such as audible.

Hopefully you're able to resolve this! BookPlayer is one o

[2021-12-17 23:27] GianniCarlo commented on #680
Hi @LordZork sorry I forgot to post an update, in the last Xcode there's no way to install the simulator for watchOS 4.3.2. I downloaded Xcode 9.4.1, but I haven't had time yet to tinker with how to pass the watch SDK from the older Xcode to the new one. Now that v4.4.0 is out in the AppStore I'll look at this again 👍

[2021-12-18 03:33] XiaoHippo commented on #702
Unfortunately it doesn't seem to fix it. I have BookPlayer open, then:
1. Go to Files, navigate to my server
2. Long-press on an audiobook file and tap Share
3. Tap BookPlayer
4. The Import page in BookPlayer shows
5. Tap Done, BookPlayer crashes

If I start in BookPlayer's library UI, tap Add, then Import Files, then navigate to the server, tap the audiobook file, it works.

Please let me know if

[2021-12-18 16:25] GianniCarlo commented on #702
Ooooooh ok, I've seen this before, I thought it was only a thing happening on the iPad when long-pressing the app, it pops up recent files from the Files app and lets you drag them on top of the app. I'm guessing it's the same operation underneath (from Files to BookPlayer), for some reason in that operation when trying to copy the file from the source path, it's crashing because the file is not t

[2021-12-18 16:47] XiaoHippo commented on #702
Thanks. Just FYI the file I chose was not from the Recent folder, and this has just started to happen in the past few weeks right around when this issue was created.

[2021-12-18 17:08] povlhp opened #716 "Bug: ...keeps looping on chapter change"
## Environment

 - OS Version: 15.2
 - App Version: latest

## Description

Have a self made m4b. It goes into a 1-2s loop on chapter change.

## Steps to reproduce the behavior
1.
2.
3.

[2021-12-18 19:55] SommerEngineering commented on #716
I was just about to open the same issue 😉

I am also using iOS 15.2 and the new version 4.4.0 of the app.

However, the bug does not consistently occur: Sometimes the app plays a few chapters correctly until it gets stuck in an infinite loop at the end of another chapter. Then it happens that the bug happens with every chapter. It does not help to quit the app completely (via the iOS app switcher)

[2021-12-18 20:39] povlhp commented on #716
I am like 30 short chapters into this book, around 2h30 before it happened.
Have had success once with reboot.
But force quit app and relaunch does not fix it.
So almost looks like stored state at play.
But problem is around chapter change only.

Sendt fra min iPhone

[2021-12-18 22:28] GianniCarlo commented on #716
I just experienced this as well with an m4b, I'll take a look and see if I can release a hotfix next week. Have anybody had problems with the new bound/volume feature for mp3s?

in the meantime I've had to stop playback, and skip to the next chapter manually :/

[2021-12-18 22:43] SommerEngineering commented on #716
Sorry @GianniCarlo, I only use `*.m4b`.

[2021-12-19 16:33] freedmand opened #717 "Feature request: quick rewind"
## Feature request

- A boolean player controls setting option called "Quick rewind" (or similar) that when enabled causes every pause action to rewind a short amount of seconds (5 or 10 seconds)

## Narrative

- Often users are listening to audiobooks in hands-free settings, where their only effective control is to pause or resume playback (often via a bluetooth headset). If for whatever reason y

[2021-12-19 22:59] neoofoox commented on #716
I have the same issue. I recorded it, maybe it helps. The problem happens at the end of some chapters.

If I press -30sec and this chapter is finished, it stucks again. So with this chapter I can reproduce it.

https://user-images.githubusercontent.com/4437437/146693780-0a5dd5bc-f871-47c3-9aef-13ac93cff12a.MOV

BookPlayer 4.4.0-8
iPhone 12 Pro - iOS 15.2

[2021-12-20 01:18] F1rebird opened #719 "Bug: Folder/Playlist image retains deleted book"
## Environment

 - OS Version: 15.2
 - App Version: 4.4.0-8

## The image used for the playlist or folder is retained even after a book is deleted. I seem to remember that it was linked to whatever book was currently being listened to in that folder but now I'm not sure. It seems to random at best, or hangs on to a deleted book without any way to refresh it.

[2021-12-20 02:53] GianniCarlo commented on #716
#720 fixes the issue, it turns out the for the mp3 volumes, we added a load-item on chapter change, but that it's not needed for m4b, since it's a single file

[2021-12-20 07:03] stefandesu opened #721 "Bug: Pause playback - end of current chapter not working anymore"
## Environment

 - OS Version: 15.2 (latest)
 - App Version: 4.4.0-8 (latest)

## Description

There was some recent change that seems to have caused the "end of current chapter" option to stop working. I use this option almost every day and it just stopped working a couple of days ago, so I guess it's the latest update. I'm using a folder with a bunch of files and only want to go through one per

[2021-12-20 09:32] SommerEngineering commented on #716
Good job @GianniCarlo 🙂 Do you think we can expect a hotfix release this week as a christmas present 😉 ?

[2021-12-20 13:33] GianniCarlo commented on #716
I submitted the new version for review 🙌 , it usually takes 2-3 days for Apple to review a version, but they did warn us that it will take more time for review because of the holidays. Let's hope it gets released this week 😁

![Screen Shot 2021-12-20 at 8 31 25 AM](https://user-images.githubusercontent.com/14112819/146774778-338959a3-515d-4080-b5c3-1b64771c3784.png)

[2021-12-20 16:17] GianniCarlo commented on #721
Thanks for reporting the issue @stefandesu , we're including a fix for this in the next release

[2021-12-21 02:07] domkm opened #725 "Speech-to-text"
## Feature request

For note-taking and knowledge acquisition, providing transcriptions would be very useful. In particular, transcriptions would substantially enhance the utility of bookmarks.

At least two apps do something similar but only for podcasts: [Snipd](https://www.snipd.com/) and [Airr](https://www.airr.io/). I've considered converting books to private podcast feeds just for this trans

[2021-12-22 00:15] GianniCarlo commented on #721
v4.4.1 was just released to the appstore, please let us know @stefandesu when you get to test the new version

[2021-12-22 00:16] GianniCarlo commented on #716
v4.4.1 was just released to the appstore, please let us know @SommerEngineering @neoofoox @povlhp  when you get to test the new version

[2021-12-22 02:43] XiaoHippo commented on #702
Just tried 4.4.1, still crashes. And I can repro this with these steps:
1. Save a .m4b file to Files, right under "On My iPhone"
2. Long-press on it and tap Share
3. Tap BookPlayer
4. The Import page of BookPlayer appears
5. Tap Done, BookPlayer crashes

On console, I can see the following messages before it crashes:
`12 duplicate reports for Sandbox: BookPlayer(29662) deny(1) file-read-metadata /

[2021-12-22 07:11] neoofoox commented on #716
Tested the chapter shown in the video. It works now.
Playing audiobook for 30 minutes now without issues. 👍

[2021-12-22 07:34] stefandesu commented on #721
@GianniCarlo Thanks, I actually tried it already! So it does stop after the chapter which is good, but the behavior seems to be different from before. IIRC it left off at 0:00 of the following chapter, so when you went back the next time, it would start there. Now, it stops at the end of the chapter, and if you have Smart Rewind enabled, it will replay the last 30 seconds next time you go in. I'm

[2021-12-22 09:11] SommerEngineering commented on #716
@GianniCarlo Thanks, it work‘s just fine 🙂 👍 Good work. Thanks also for the fast support 😀

[2021-12-22 12:09] GianniCarlo commented on #716
Thanks for the confirmation guys!

[2021-12-22 12:09] #716 closed

[2021-12-22 12:15] GianniCarlo commented on #721
Hmmmmmmm you're right @stefandesu , the behavior did change, I do think it's better for the timer to make it stay at the end of the chapter, so it's a visual queue for the user to know where it ended when the app is opened again. I think we just need to clear up the smart rewind timestamp, or avoid setting it when playback is paused by the sleep timer 🤔 so on resume, it won't rewind

There's a sec

[2021-12-22 17:24] RJN-bot opened #726 "Taking Bookmarks using BT"
## Feature request

- A feature which allows users to take bookmarks over Bluetooth headsets when they are unable to reach their phone
## Narrative

Much like how the podcast app 'Airr' implements taking audio bookmarks/snippets.

[2021-12-24 02:24] oricoh commented on #619
I have the same bug. Chapters don't progress automatically anymore.

[2021-12-26 18:10] GianniCarlo commented on #508
@EverlastEngineering @r0bj , I've been trying to reproduce this issue simulating the list of the screenshot (001.mp3, 002.mp3 ...), and airdropping them, but when they are finished importing, they are sorted correctly. Can someone give me another example of lists to try out?

[2021-12-26 23:18] Lwio commented on #586
Has there been any progress on this?
This is the top feature I am looking for.

[2021-12-27 03:17] GianniCarlo commented on #586
Not yet, but now that we have the bound features out, cross sync is our next big milestone to tackle

[2021-12-27 16:37] EverlastEngineering commented on #508
This is the sequence that failed to auto detect the order. I found the manual ordering button and was able to select one that seems to have worked, but out of the box, this didn't work:

![image](https://user-images.githubusercontent.com/2895375/147490765-0a9f3279-efbd-402e-b3bf-3bf19908eca1.png)

[2021-12-27 16:38] EverlastEngineering commented on #508
Also due to the length of the filename and char limit in the app when displaying the files, I couldn't see which files were in which order, as that may have helped.

[2021-12-27 21:19] Lwio commented on #586
Thank you.

[2021-12-28 04:03] GianniCarlo commented on #508
Alright, it turns out we were just sorting the incoming files in a shallow way, so if one of the files/urls was a folder, the contents weren't being sorted, there's a PR addressing this issue and it will be included in the next release

[2021-12-28 04:05] GianniCarlo commented on #702
It turns out that when we enabled to open documents in place for the app, giving access to the internal library files from within the Files app, the files imported when starting from the Files app, have a new security scope that we have to resolve before accessing the file and making a copy. #728 addresses this issue and will be included in the next release

[2021-12-28 17:57] EverlastEngineering opened #729 "Bug: ..."
## Environment

 - OS Version: [e.g. 15.1]
 - App Version: [e.g. 4.4.0-8]

## Description

App crash when adding files to a volume when that file is currently being played.

## Steps to reproduce the behavior
1.  Have some files to play, in my case, a list of mp3 files. Their location doesn't matter.
2. Play one of the files.
3. Edit->Select All the files to add to a volume, create the volume.
4.

[2021-12-30 01:18] GianniCarlo commented on #729
Hi @EverlastEngineering ! The latest beta addresses this issue. This is the link to join if you can: https://testflight.apple.com/join/FLv3zLyN otherwise we'll submit this version for AppStore review around Jan 6 😁

[2021-12-30 01:19] GianniCarlo commented on #721
@stefandesu the latest beta addresses this issue, if you'd like to join, here's the link: https://testflight.apple.com/join/FLv3zLyN otherwise we'll submit this version for AppStore review around Jan 6 🙌🏻

[2021-12-30 01:22] GianniCarlo commented on #719
@F1rebird the latest beta restores what we had before, which is that the first item with an artwork, everytime the order changes in a folder or the contents, the cache is invalidated so the artwork can be resolved again. If you'd like to join, here's the link: https://testflight.apple.com/join/FLv3zLyN otherwise we'll submit this version for AppStore review around Jan 6 👍

[2021-12-30 01:23] GianniCarlo commented on #702
@XiaoHippo this issue should be resolved in the latest beta. If you'd like to join, here's the link: https://testflight.apple.com/join/FLv3zLyN otherwise we'll submit this version for AppStore review around Jan 6 👌

[2021-12-30 01:27] GianniCarlo commented on #508
Alright everyone, the next beta is live and should solve this issue 😁. If you'd like to join, here's the link: https://testflight.apple.com/join/FLv3zLyN otherwise we'll submit this version for AppStore review around Jan 6 🙌🏻

[2021-12-31 22:35] gmaddry opened #732 "FAQ update needed"
## Environment
https://github.com/TortugaPower/BookPlayer/wiki/FAQ

## Description
Chapter and Verse no longer works with current Windows (10) and iTunes

## Steps to reproduce the behavior
Trying to install Chapter_and_Verse_V1_5_3_0.exe shows app needs QuickTime which is no longer available.

[2022-01-02 14:36] cantonalex commented on #721
Yes this is super annoying. I love this app but the last few updates are making it unusable.

Even the auto title sort was removed.

[2022-01-03 00:44] GianniCarlo commented on #721
Hi @cantonalex , we believe the auto title sort is related to #508 solved by https://github.com/TortugaPower/BookPlayer/pull/728 , if you can, please help us joining the beta (https://testflight.apple.com/join/FLv3zLyN) and testing the fix for this issue with the sleep timer, and the order of files imported, thanks 🙌

[2022-01-03 16:16] wiktorof opened #733 "ogg support"
Hi. Thanks a lot for the great app you provide.
I would like to ask you for the support for Ogg Vorbis format if possible.
It is used sometimes in e.g. education area and generally is nice format.
Thanks
Regards,

[2022-01-03 17:19] pichfl commented on #733
The playback engine behind BookPlayer right now is supplied by Apple and doesn't support ogg. I agree that this would be nice though and we might change to a different engine at some point 👍

[2022-01-05 22:47] PeggyD1001 opened #735 "Play/pause starts flashing after a few chapters"
I have to quit the app. This has happened with two different books in the last two days. I have deleted the book and re-transferred it via AirDrop. I am leaving it as individual chapters rather than a volume to see if that works. I have not had a problem with volumes prior to the last two days.

[2022-01-08 16:58] elric667 opened #736 "Bug: Large MP3 will not import"
## Environment

 - OS Version: 15.2
 - App Version: 4.4.2-2

## Description

Tried to import a local mp3 file of 1.24 gb and it would not import at all I can import into VLC without problem.  I tried from different sources but large mp3 refuses to import

## Steps to reproduce the behavior
1. Import 1.18+ gb mp3 file

[2022-01-09 18:53] joshjohanning opened #737 "Bug: "Connectivity Error" on Apple Watch"
## Environment

 - OS Version: 15.2
 - App Version: 4.4.2

## Description

The app loads my on watch but when I raise my wrist I just get "Connectivity Error - there's a problem connecting to your phone, please try again later"

## Steps to reproduce the behavior
1. Play book on phone
2. Raise watch
3. See error

[2022-01-10 05:51] joshjohanning commented on #737
gif

![Untitled](https://user-images.githubusercontent.com/19912012/148723277-09c45767-6dc9-453f-9db1-133739d42619.gif)

[2022-01-10 07:33] stefandesu commented on #721
I think my particular issue is fixed with the recent update, so I'm going to close the issue. Thanks a lot!

[2022-01-10 07:33] #721 closed

[2022-01-12 03:57] mttjj commented on #509
I wonder how Marco Arment does it then. Overcast has support for speed settings and even chapter navigation on the CarPlay interface. I think this would be a really awesome addition to the app.

[2022-01-12 23:30] dkBrazz commented on #509
Checked Overcast in CarPlay.
He really managed to add custom buttons into the Player screen. And there is a button which opens a list of custom speed values, similar to BookPlayer dropdown on iPhone

[2022-01-12 23:46] GianniCarlo commented on #509
@dkBrazz @mttjj this looks to be related to new apis introduced in iOS 14 for CarPlay ([related WWDC video on the subject](https://developer.apple.com/videos/play/wwdc2020/10635/?time=56)). I do agree that it will be a great improvement, but since it requires iOS 14+ and we support iOS 13, I'm not too thrilled yet to jump at it and possibly support two sets of apis for it. Maybe later this year we

[2022-01-13 13:43] fabifabulousity commented on #538
Hello, just wanted to check if there are any news on this redesign grid view @GianniCarlo @pichfl

[2022-01-15 10:47] fabifabulousity opened #738 "Bug: Multiple problems when displaying the BookPlayer UI via CarPlay."
## Environment

 - OS Version: 15.2.1
 - App Version: 4.4.2-2

## Description

Bug when displaying the BookPlayer UI via CarPlay.

The iPhone is connected to CarPlay via Lightning. BookPlayer is opened via CarPlay. The following problems occur:
- Icons of the "Library" and "Recent" tabs are sometimes not displayed (replicable when BookPlayer is closed and reopened several times, or when switching

[2022-01-17 15:31] taxilian commented on #646
That would be fantastic -- as a new user this is the thing I'm struggling with the most, how to get books efficiently from my web-based calibre system ([calibre-web](https://github.com/janeczku/calibre-web) project which supports m4b files) into bookplayer; I am going to try to figure out how to add the bookplayer urls to the project somehow but in the mean time I was hoping to at least have some

[2022-01-18 13:44] vonProteus opened #739 "Bug: crash when resuming boook"
## Environment
[BookPlayer-2022-01-18-140720.ips.zip](https://github.com/TortugaPower/BookPlayer/files/7889417/BookPlayer-2022-01-18-140720.ips.zip)

## Description

app crashes when i start playing book
when changing book from volume to folder files work
reboot of iPhone did not helped

## Steps to reproduce the behavior

1. open app
2. click book to continue
3.  crash

[2022-01-22 13:35] ghost opened #740 "Fade out volume before sleep timer is coming in"
## Feature request
- Slowly turn the volume of the playback down, seconds before the sleep timer is coming in.

## Narrative
If a sleep timer is set, the playback does not end abruptly after the sleep timer expires, but slowly fades out a few seconds before (e.g. 5-10 seconds).

## Design
No changes in UI design needed. Maybe introduce an optional settings entry to toggle on/off the fade-out.

[2022-01-23 02:01] cantonalex opened #741 "Apple watch storage support"
Would be super cool if you could store books on your apple watch. So you could listen while going for runs without needing a phone.

[2022-01-24 09:43] pichfl commented on #741
Duplicate of #651

[2022-01-24 09:43] #741 closed

[2022-01-25 01:40] PeggyD1001 opened #742 "center current playback speed in display"
## Feature request

In the first version that included the many new speed choices, when the current playback speed was tapped that speed would be centered in the display like in the attached screenshot, making it easier to adjust the speed up or down from the current speed.

## Narrative

Currently, the playback speed display goes to the top of the speed list, starting with the slowest speed. I'd

[2022-01-25 01:58] GianniCarlo commented on #742
We have changed this for the upcoming release with a new design, now tapping on the speed item will show this

![image](https://user-images.githubusercontent.com/14112819/150896557-3c2b3f9d-16be-4610-8bce-951f847da3dd.png)

[2022-01-25 01:59] #742 closed

[2022-01-25 17:57] FrozenGamerAK commented on #737
I have the exact same problem. frustrating for driving.

[2022-01-26 15:59] PeggyD1001 commented on #742
Thank you. I really like the idea of being able to set a default speed.

What I liked about the current speed being centered is the easy ability to go up or down from there. Usually, I just want to slow down a bit without having to scroll through the long list of speeds & then go back to my preferred speed.

Peggy DeLise

[2022-01-27 03:29] PeggyD1001 opened #745 "playback speed control in 4.4.3"
## Feature request

go back to being able to scroll playback speeds, preferably with centering the current speed in the display

## Narrative

the change in 4.4.3 only allows going up or down on the playback speed 0.1x per tap on + or -
this makes too many taps to change the speed

[2022-01-27 16:47] whemever opened #747 "Bug: ...calendar notification does not interrupt BookPlayer"
## Environment

 - IOS 15.2.1
 iPhone 13 Max Pro 1Tb

## Description

Audiobook playback is never interrupted by a calendar notification. There is no audio Alarm and any text notification gets suppressed behind the now playing sheet.

this only seems to have started to happen since I got the new iPhone 13, but I believe that it is not a phone issue but an updated iOS issue

## Steps to reproduce t

[2022-01-29 08:59] fabifabulousity commented on #738
Unfortunately these issues with CarPlay happen very frequently, so it is not possible at even start playing an audiobook (when there is only a empty library screen, see first screenshot). That’s a bit frustrating. Do you have any idea why that is or if you are able to fix it?

[2022-01-30 23:02] potseeslc commented on #737
I have the same issue

[2022-01-30 23:34] vmihokov opened #752 "Playing files directly from cloud or a network drive"
## Feature request

Ability to play files directly from a network storage.

I think there are also users that have bigger collections of audiobooks and find it hard to import all of it into the app.
Not only the app struggles when importing more files at once, but some are also limited with storage on their phones.

The app could maybe have two types of lists, one that would hold imported files, a

[2022-02-03 03:47] PeggyD1001 commented on #745
Thank you! The new playback speed controls are excellent.

[2022-02-03 03:47] #745 closed

[2022-02-03 12:22] GianniCarlo commented on #735
This may have been tied to the playback loop issues we've had before, right now it should only flash once when the chapter changes, which is due to the player loading a new item for playback. Please let us know if this is still an issue

[2022-02-03 12:22] #735 closed

[2022-02-03 12:24] GianniCarlo commented on #732
thanks @gmaddry ! the wiki has been updated

[2022-02-03 12:24] #732 closed

[2022-02-03 12:59] GianniCarlo commented on #702
closing this issue, as it should already be resolved, please feel free to continue the discussion if this is still happening

[2022-02-03 12:59] #702 closed

[2022-02-03 13:55] #739 closed

[2022-02-04 02:02] GianniCarlo commented on #685
This will be included in the next release 👌

[2022-02-04 02:02] #685 closed

[2022-02-04 09:04] INFINITY-8888 opened #757 "Bug: app 4.4.4 version crashes immediately after start"
## Environment

 - OS Version: iOS 15.2.1
 - App Version: 4.4.4
 -  Hardware : iPhone XS Max

## Description

App crashes immediately after started.

[2022-02-04 12:09] F0nt opened #758 "Repeat listening and scramble"
## Feature request

- The ability to repeat loop one file.
- and the ability to scramble a playlist for random playback of each file once, or to randomly play from the pool of files for  continuous playback.

## Narrative

With this ability, it would be possible to repeat listen to a short file of rain, for example, to help with sleeping or meditation, or to listen to a mix of various sounds that

[2022-02-04 15:24] pichfl commented on #758
This project is by name and intention a player for audiobooks which are not improved by shuffling them. There are many great independent and even open source players on the App Store which focus on music and background sound; BookPlayer has a different focus.

[2022-02-04 15:24] #758 closed

[2022-02-04 15:32] pichfl commented on #738
Can confirm at least some of these.

That being said, debugging and fixing CarPlay is a very painful process. The simulator gets you only this far which means I or others working on this have to cram into their car and debug wirelessly as at least my car supports wired CarPlay only.

Besides the weird looks you get from passers-by, development in that state is just very cumbersome.

So is pushing

[2022-02-04 18:03] Geordon commented on #757
I am also having this issue.  iPhone SE (2020) ios 15.2.1, BookPlayer ver 4.4.4.

Process info from Mac Console of Book Player:
https://gist.github.com/Geordon/0659ccc04f442a05b53a9da3dc24ea0e

[2022-02-04 19:07] GianniCarlo commented on #757
This is due to the app failing to load the current chapter of the last played book. Every book should have at least one chapter (even if there's no file metadata about it, in that case the chapter will be the entire book). By any chance do you remember what the last played book was? m4b? single mp3? mp3 bound into a volume via the inapp feature? I can patch this, but I'd like to get to the source

[2022-02-04 19:11] Geordon commented on #757
As I recall, mine was a single MP3 file audiobook, not bound by the in-app feature.  The previous version loaded and played the same file without issue, but I'd be glad to do anything that might help troubleshoot.

[2022-02-04 19:37] Geordon commented on #757
Removed the app from my phon, made sure that I deleted the file from the phone (Commander One, went into the BookPLayer folder on the phone and deleted the MP3, redownloaded app and opened it without any contend.  Opened fine.

Used Finder to load the same file back into the BookPLayer app, opened the app, imported the file, closed app, opened it, file plays as expected.

[2022-02-04 19:52] GianniCarlo commented on #757
@Geordon  was the mp3 inside a playlist or at the library level? could you share that file to [my email](mailto:gcarlo89@hotmail.com) if it isn't too big?

[2022-02-04 19:56] Geordon commented on #757
It was originally at the library level.  I'll get you a copy of the file directly.

[2022-02-04 20:01] Geordon commented on #757
@GianniCarlo Email sent!

[2022-02-04 20:15] GianniCarlo commented on #757
Received! Thanks @Geordon

[2022-02-05 06:02] Geordon commented on #757
@GianniCarlo I was listening to the book in question and I discovered that it stopped playing right around the 4 hour 5 minute mark.  I tried playing the same file on my computer and it plays fine through there.  Same with a different media player on my iPhone (Readdle Documents, for this instance)

[2022-02-05 14:11] cantonalex opened #759 "Why is it importing non audio files into playlists such as .jpg etc?"

[2022-02-05 17:55] Urahara888 commented on #757
I had .m4b on playback when it got that behavior.

[2022-02-06 12:24] GianniCarlo commented on #757
I've submitted a new version to TestFlight, when the app launches and if it fails to load the last played book properly, it will show an alert with debug info, after that, you should be able to select manually the book back from the library and it should play. If it plays, then I would have confirmed that the problem is that when trying to load the chapters of a book via a CoreData relationship in

[2022-02-06 12:36] GianniCarlo commented on #757
Regarding this @Geordon , it may be related to limitations with the engine we use, which is Apple's [AVPlayer](https://developer.apple.com/documentation/avfoundation/avplayer). We have two other engines we'd like to test (VLCKit, AudioKit) but haven't had the time yet to add a proper abstraction

[2022-02-06 18:47] GianniCarlo commented on #757
The beta is live @INFINITY-8888 @Urahara888 , if you haven't uninstalled and installed back again the app, please join via this [link](https://testflight.apple.com/join/FLv3zLyN), and let us know if the behavior I mentioned before is happening or if it's still crashing

[2022-02-07 14:34] GianniCarlo commented on #757
@Geordon I re-encoded the file you sent me using @ahoereth instructions in [this comment](https://github.com/TortugaPower/BookPlayer/issues/497#issuecomment-993857286) and it plays fine until the end, and the chapters metadata gets parsed too. I sent the reencoded m4b file to your mail using wetransfer 👍

[2022-02-08 14:23] jodrescher commented on #757
I also had the problem with the crash. With the test version, the app starts normally again and plays the last book without displaying any dialog.

[2022-02-08 14:36] GianniCarlo commented on #757
thanks for the confirmation @jodrescher , hmmm I'll leave the changes I put in to avoid relying on the CoreData relationships and fetch the data directly from the DB just in case. With that and another thing I'm finishing up, I'll release the new version 👍

[2022-02-08 15:40] jodrescher commented on #757
@GianniCarlo After a complete app restart, the app crashed again directly, but then started on the second or third attempt. After further testing with complete app restarts, I was also able to reproduce this. The app sometimes starts directly, sometimes it crashes first and then starts.

[2022-02-08 18:04] Geordon commented on #757
Awesome, thank you!  I'll admit, I wasn't the one who encoded the original file, so I don't know what the parameters were.  Interesting that the chapter info was parsed after reencoding the MP3 to M4B.  Regardless, thanks to both you and @[ahoereth](https://github.com/ahoereth)!

[2022-02-08 19:21] Geordon commented on #497
ffmpeg -i ....mp3 -c:a libfdk_aac -c:v copy ....m4b

@ahoereth Could you by chance help me decode that command line for Apple?  This is what I get when I try to run that command with ffmpeg downloaded directly from their website:

`~/Downloads/ffmpeg -I ....mp3 -c:a libfdk_aac -c:v copy ....m4b
ffmpeg version 5.0-tessus  https://evermeet.cx/ffmpeg/  Copyright (c) 2000-2022 the FFmpeg developers

[2022-02-08 19:24] GianniCarlo commented on #497
There's a typo in the original instruction, it's not capital `-I` but lowercase `-i`

[2022-02-08 19:25] GianniCarlo commented on #497
cc @Geordon

[2022-02-08 19:40] Geordon commented on #497
Ah, thanks.  That disposes of the unrecognized option error, but now I get "....mp3: No such file or directory"  so I changed the command to :

ffmpeg -i *.mp3 -c:a libfdk_aac -c:v copy $1.m4b

I get the metadata and chapter info displayed but now I'm getting "Unknown encoder 'libfdk_aac'"  Research points to the fdk_aac library not being included in the default FFMPEG distro due to licensing inco

[2022-02-08 19:45] GianniCarlo commented on #757
@jodrescher I just added a second build to TestFlight, with the logic added about loading the chapters directly from the db, please let me know if the crashing behavior still persists. This build also adds an option for a custom sleep timer as well

[2022-02-08 19:46] GianniCarlo commented on #497
the `aac` is good to know 🙌 , I had to reinstall ffmpeg with the libfdk_aac option 😅. I'll add a section about ffmpeg in the wiki with useful commands

[2022-02-09 08:36] INFINITY-8888 commented on #757
@GianniCarlo , the second build works great. Starts and plays just fine.
I appreciate you fixing it so quickly.
Have a great day!
…back to listening my books…

[2022-02-09 17:16] jodrescher commented on #757
In principle, it runs quite well again. However, I have a crash every now and then when starting the app. I tried to export a device log via XCode, but somehow it doesn't show me one.

Thanks for your effort

[2022-02-13 02:41] Dev-Josue commented on #738
Not sure if I am missing something here but I just wanted to say that I too have experienced this issue.

Overall this is a very competent bug report. While I understand that development has its challenges, the response is very aggressive.

As a user of this app and a member of a software development team I hope you will take it under advisement to appreciate errors being identified and communicat

[2022-02-15 16:12] GianniCarlo commented on #737
Hi everybody! I've seen this issue reported via support before, for some reason deleting the app from the apple watch, and then reinstalling the companion app from within the iOS Watch app seems to solve this issue. I haven't looked into the new apis regarding watch connectivity, hopefully they have improved by now, but it is on my todo list to rework the watch app using SwiftUI as well

[2022-02-18 12:32] nobe4 commented on #717
An alternative to this might be to generalise the "smart rewind" feature and give it 2 settings:
- After `Xs` of pause
- Rewind `Ys`

In my personal case, the smart rewind doesn't help, I end up rewinding manually a few minutes each time I pick up. But an automated smaller rewind would be appreciated :)

[2022-02-18 22:21] GianniCarlo commented on #311
with the mp3 volume feature, this should be solved 🙌

[2022-02-18 22:21] #311 closed

[2022-02-18 22:22] GianniCarlo commented on #224
This is solved by the new playback speed controls

[2022-02-18 22:22] #224 closed

[2022-02-18 22:22] bensaufley commented on #224
I saw! They're great! Thanks!

[2022-02-18 22:29] GianniCarlo commented on #503
This has been solved in the latest release (v4.4.5) 👌

[2022-02-18 22:29] #503 closed

[2022-02-18 22:31] GianniCarlo commented on #601
There has been some fixes regarding the import process in the last couple of releases, hopefully those covered the crash reported here?. Please feel free to reply back if this is still happening @karenmiss

[2022-02-18 22:34] #757 closed

[2022-02-19 16:41] GianniCarlo commented on #759
Users have found other formats for playback other than mp3 and m4b, so we are not limiting the files imported via folders or zips

[2022-02-19 16:41] #759 closed

[2022-02-20 18:31] tdeezy opened #762 "Feature request: Activity Log"
## Feature request

- The ability to see a history of when titles were started and finished. Not looking for any significant reporting--the a simple log would be enough.

## Narrative

- As an _avid_ user of your kickass app, I like having some insight into the intensity of my binge-listening habits. Being able to see the started/finished timestamp for a book would make it much easier.

## Design

[2022-02-20 21:35] GianniCarlo commented on #762
Hi @tdeezy ! hmmm we do store how much time you have spent listening, but we don't tie it to any particular book. Right now we expose that information via widgets in the iOS home screen, and we do plan to bring that info in-app as well after some redesign. Regarding keeping a history linked to book titles 🤔, I guess we can do that, not sure how much book metadata to link though

[2022-02-20 23:19] 1PlusN commented on #752
Integration with Plex would be spectacular.

[2022-02-21 18:42] reidma opened #763 "Strong battery drain when speeding up audio"
When listening at speeds higher than 1.0x with the screen off, my phone (iPhone XS Max with iOS 15.1) becomes hot and the battery drains at a rate around 1% per minute. I was listening at 1.3x when I noticed this happening. Switching to other speeds didn't seem to resolve the issue. I've been using the app for years on this phone and have never had this problem before. Closing all other apps, rebo

[2022-02-21 19:02] GianniCarlo commented on #763
Hmmm this may be due to extra calculations to get the adjusted remaining time when it's a different speed, I'll look into this for the next version

[2022-02-23 18:05] reidma commented on #763
I did a bit more testing on this. I updated to iOS 15.3.1 and the issue still occurs. It also happens to some degree even at the default playback speed (1x). For comparison, I tried playing audio via several other apps (YouTube Music, Safari). None of them caused the sudden heating or battery drain. Battery drain using BookPlayer was 6-7% every ten minutes. In every case, using BookPlayer because

[2022-02-25 11:14] GianniCarlo commented on #737
quick follow up, I've been reworking the entire watch app to use swiftUI, and I'm also reworking the use of the WatchConnectivity framework, and have now understood more about the framework, the next update should be more stable. Hopefully we can put a beta up by next week 👍

[2022-02-26 20:36] daviddavis opened #764 "Bug: Sleep timer plays next chapter while audio fades out"
## Environment

 - OS Version: 15.3.1
 - App Version: 4.4.5-2

## Description

[The original feature request](https://github.com/TortugaPower/BookPlayer/issues/404) says "When sleep timer is set to anything other than Chapter End [fade out the audio]" but BookPlayer seems to always fade out the audio even when the sleep timer is set to chapter end.

IMO BookPlayer shouldn't fade out when the sleep

[2022-02-27 16:41] GianniCarlo commented on #764
Hmmmmm yes this makes sense 🤔, for chapter end it wouldn't feel like an abrupt pause

[2022-03-01 16:21] movieman12341 opened #765 "Apple Watch app rendered unusable with latest apple watch update"
Refer to pic. That's the only screen and it won't let you do anything at all. If a book is playing, it still shows just like the pic. Can't pick a book or even show the now playing controls. Pushing the "refresh data" button doesn't do anything.

Latest version of IOS, Bookplayer, and WatchOS.

![incoming-08AE9775-824C-4E28-84A4-1191C44723C8](https://user-images.githubusercontent.com/21317547/1562

[2022-03-01 16:23] movieman12341 opened #766 "Bug: Apple Watch app rendered unusable with latest apple watch update"
Refer to pic. That's the only screen and it won't let you do anything at all. If a book is playing, it still shows just like the pic. Can't pick a book or even show the now playing controls. Pushing the "refresh data" button doesn't do anything.

Latest version of IOS, Bookplayer, and WatchOS.

![incoming-08AE9775-824C-4E28-84A4-1191C44723C8](https://user-images.githubusercontent.com/21317547/1562

[2022-03-01 16:24] #765 closed

[2022-03-02 04:58] #766 closed, assigned to nobody

[2022-03-02 14:26] GianniCarlo commented on #766
There are some issues with how BookPlayer uses the framework WatchConnectivity, those are being addressed in the watch app rewrite I'm working on with SwiftUI. I'm having some problems though with some items left to do, so I may open a WIP pull request and ask for help from the community

[2022-03-03 03:33] Dev-Josue commented on #738
Wow that's awesome. I appreciate all the work, effort and care your dev team puts into this amazing app. I have enrolled in Bookplayer plus to show my support and appreciation. Thank you!

[2022-03-09 19:55] TFenby opened #767 "Option for the Player: switch chapters button with bookmarks. Or long press bookmarks button to bring up list."
## Feature request

Apart from resuming an audiobook from where I left off in a physical book, I don't think I've once used the chapter list. I use bookmarks probably dozens of times daily. Set a bookmark when going to bed and setting a sleep timer, then skip back to it and fast forward a few minutes to get that nice balance between hearing more of the book but still using it as a sleep aid. Add a

[2022-03-10 00:21] procion1302 opened #768 "Bug: ...First second of chapter is being skipped"
## Environment

OS Version: 15.3.1
App Version: 4.4.5-2

## Description
First second is being skipped, when starting a new chapter of a multichapter book.

## Steps to reproduce the behavior
1. Create multichapter book.
2. Start listening the first chapter
3. When the second chapter starts to play, it skips the first second of the next chapter
4. If now we rewind the second chapter to the start us

[2022-03-13 00:15] jefro108 opened #770 "Support for mp3 chapter marks"
## Feature request

- It’d be perfect if the BookPlayer app supported mp3 chapters

## Narrative

- Some audiobooks seem to be produced as mp3s with chapters embedded in the ID3 tag. A few other audiobook apps support them but I much prefer the look of BookPlayer.

- Information about mp3 chapters is at https://auphonic.com/blog/2013/07/03/chapter-marks-and-enhanced-podcasts/ including a downloada

[2022-03-13 01:20] GianniCarlo commented on #770
Hi @jefro108 ! Just a little heads-up, BookPlayer should support mp3s with chapter metadata, so long as they also have included the id3 tag TOC (table of contents) I've tested with files that have been modified with [Forecast](https://overcast.fm/forecast) and they do load the chapter list.

I do agree though that the chapters should be parsed regardless if the TOC exists or not, so if anyone want

[2022-03-14 03:06] jefro108 commented on #770
It appears that the audiobook I loaded doesn’t have a TOC in the ID3 tag 😬
I didn’t actually test the file I pointed to in the link above - that does work fine in BookPlayer now I’ve tried it 😊

[2022-03-14 03:37] jefro108 commented on #770
I tried importing my audiobook into Forecast (thanks for the link to it!) and found that the chapters were listed but not enabled to be included in the chapter list, so it looks like BookPlayer is doing its job and only showing the chapters that are in the chapter list.

In the Forecast info from the link you gave me it says

It appears that my chapters were invisible because they hadn’t been expl

[2022-03-21 19:37] GianniCarlo commented on #737
The beta is live, I had some complications with SwiftUI, but it's finally done 🎉 (link to join via TestFlight: https://testflight.apple.com/join/FLv3zLyN). The target deployment has been increased to iOS 14, and WatchOS 7 though (this was for ease of use of some things in SwiftUI, besides our plan to next tackle CarPlay with iOS 14 apis)

[2022-03-21 19:42] GianniCarlo commented on #680
Super late follow up @LordZork , I did try to install the old simulator by importing the old Xcode files, but sadly it didn't work :/. We launched a beta with the watch app rewrite in SwiftUI, but we had to up the deployment target to watchOS 7 (link to join beta: https://testflight.apple.com/join/FLv3zLyN)

I found the screenshot with the problem I had when trying to create the old simulator. Ins

[2022-03-21 20:17] joshjohanning commented on #737
This worked for me.

Joining the beta, thanks for your progress @GianniCarlo!

[2022-03-21 23:36] LordZork commented on #680
Hi @GianniCarlo, thank you for the follow up—I really appreciate it!

I just downloaded and tested the latest beta: v4.5.0 (2)

Sadly, I am still experiencing the same issue...

Instead of the rewind icon, I get the hamburger icon (which is still grayed out, and tapping does nothing).

Being that I am unable to test or even use the actual **BookPlayer** *Watch* app (due to an older Watch and watch

[2022-03-22 12:48] GianniCarlo commented on #680
Thanks for your support :D. Btw I just realized that I never deleted the disabled bookmarks thing for the lock screen (which affects the apple watch now playing screen too), I added it in the latest version of the beta (alongside a fix for the speed rate label being truncated in the phone). Can you install and see if by any chance that fixes it?

[2022-03-22 22:56] LordZork commented on #680
@GianniCarlo, I just tested **v4.5.0 (3)**.  It's fixed!!!

Thank you so much!!

[2022-03-23 10:48] ThomasPf opened #773 "Off center progress ball"
## Environment

 - OS Version: [15.3.1]
 - App Version: [4.4.5-2]

## Description

When in the book part of the UI, the progress timer ball at the head of the current progress is slightly askew (the top part has more ball then the bottom part).

## Steps to reproduce the behavior
1. Open any book
2. See progress bar

![image](https://user-images.githubusercontent.com/19855145/159682567-3d7603c8-94

[2022-03-23 20:27] GianniCarlo commented on #680
awesome! finally closing this issue then

[2022-03-23 20:27] #680 closed

[2022-03-24 22:10] skobylite commented on #396
Hi team - is cross device sync still on your roadmap?

[2022-03-24 22:28] GianniCarlo commented on #396
yup, we're working on it 👍, no estimated date for a beta yet though

[2022-03-30 13:52] GianniCarlo commented on #738
I think the new functionality is ready for testing 🤔, though I cannot upload a beta yet, because Apple requires us to request again access to CarPlay for the new APIs (hopefully we hear back from them soon), but in the meantime here's a video of the new functionality in the simulator

The now playing screen now has:
- Chapter skip controls
- Bookmark creation
- Chapter list
- Playback controls: bo

[2022-03-31 11:42] patjolata commented on #302
Actually, I would love to see this possibility as well. I have all my books tagged with the author's name and it would be neat to have this feature.

[2022-03-31 21:38] pryley commented on #538
I'm not really a fan of this design. Why not make it more minimal: hide the title/author in grid view and just display the audiobook covers in all their glory (which almost always shows the title and author anyway)? Apple Books does it like this too.

It would probably also be nice to sort by author which BookPlayer does not yet do (probably because while you can add multiple files as a bundle, yo

[2022-04-01 02:54] ben-xx commented on #736
Adding another data point:
iOS Version 14.6
BookPlayer v 4.4.5-2

m4a / m4b files > 450MB are also not importing.

I just imported a file of 448MB and it was slow, but OK.  Import completed after what seemed like 90-120 seconds of nothing happening.  (Source was Google Drive where the file had already been downloaded to phone, i.e. "available offline").
Tried another file import sized at 485MB and

[2022-04-01 11:52] frederickJopp opened #781 "Feature request: upload to Apple Watch"
Hi, first of all I really like the app. The only feature I really miss is to upload the audiobooks to the Apple Watch, similar to when you buy them in the App Store and upload them with the books app. This would be great for sports and when leaving the phone at home. Is it even possible to implement this feature?

[2022-04-01 11:54] #781 closed

[2022-04-05 16:19] andrewp24 opened #782 "Bug: Progress bar not accounting for speed change"
## Environment

 - OS Version: 15.4.1
 - App Version: 4.4.5-2

## Description

The progress bar and % read do not seem to account for the speed changes. It looks like the bar/% look at the original time the book should take at 1x speed. The iOS notification pane, to me, looks more accurate.

## Steps to reproduce the behavior
1. Play any book
2. To see clearly, go to around half way through a book

[2022-04-07 11:56] andrewp24 commented on #782
Thinking more about it, I feel like it could go either way? Like if I'm at 50% of a 10hr book at 1x, I should obviously be at 50% progress. But then if I shifted that to 2x, while I'm still at 50% time wise from the beginning, my rate makes it like I'm at 75%.

[2022-04-07 12:01] GianniCarlo commented on #782
Hi @andrewp24 ! yes, the progress bar and percentage are from the current time point of view, whereas the progress on the system, seems to be more aligned to the remaining time instead. There's something weird there though, if you drag from the control center, you'll notice that it jumps after you drop it, so maybe we're setting the metadata of the now playing in the system incorrectly? I have to

[2022-04-07 14:14] andrewp24 commented on #782
Understood, and yes that is interesting, didn't notice that jump but do after you mentioned it. Thanks for taking a look at this!

[2022-04-10 08:47] and-pete commented on #736
I've found what works with large files (...and with a large group of files too) is:

- Like you said, download the file in the Dropbox / Google Drive apps with their "Available Offline" modes; then
- Don't try to export from those apps directly to Bookplayer yet (...nor try to import into Bookplayer)
- Still within the Dropbox / Google Drive app, instead Export -> "Save To Files" so that its now l

[2022-04-17 23:43] GianniCarlo commented on #763
@reidma can you test this again on the latest version v4.5.0? we optimized disk access, so this should result in better battery life

[2022-04-17 23:45] #737 closed

[2022-04-17 23:46] #508 closed

[2022-04-30 16:53] scolby33 opened #784 "Bug: Telemetry Removed but still in privacy policy (with broken link)"
## Environment

 - OS Version: N/A
 - App Version: N/A

## Description

It appears that telemetry has been removed as of https://github.com/TortugaPower/BookPlayer/commit/f0abacd790f5d55d7c5375d8d2cad2406e2c102a, but it is still present in the privacy policy:
https://github.com/TortugaPower/BookPlayer/blob/89030b26129981a2c0de91c0327923d55b3eb06a/PRIVACY_POLICY.md?plain=1#L11

Additionally, this i

[2022-04-30 17:02] scolby33 opened #785 "Toggle to Disable Sentry Reporting"
## Feature request

I understand the usefulness of automated crash reporting for bug fixing and improving the user experience of the app. However, I would like to accept the cost of not having my problems automatically reported in order to limit the app's communication to third-party services. Ideally this would be opt-in at first run, but an opt-out option would also be appreciated.

As a mitigat

[2022-05-01 02:36] GianniCarlo commented on #586
I'm closing this issue in favor of #287

[2022-05-01 02:36] #586 closed

[2022-05-01 15:18] GianniCarlo commented on #784
Hi @scolby33 ! thanks for reporting this issue, for the time being we removed it, but we may introduce it back in v5.0.0 for cross device sync in a more limited capacity

[2022-05-01 15:19] GianniCarlo commented on #784
I've updated the name and link in our privacy policy here (https://github.com/TortugaPower/BookPlayer/commit/ecb612887bc91afd24557c91592c07154133f8fa) 👍

[2022-05-01 15:19] #784 closed

[2022-05-02 16:06] GianniCarlo commented on #763
I'm closing this issue as we received a confirmation via email support that battery usage has indeed been improved 👍, feel free to follow up here if your problems persist

[2022-05-02 16:06] #763 closed

[2022-05-02 16:07] GianniCarlo commented on #573
in the latest version (v4.5.0) we improved battery performance, can you verify if this is still happening?

[2022-05-02 16:38] GianniCarlo commented on #287
An update on this issue, we did try CloudKit, and while syncing the CoreData database works automagically most of the time, moving the audio files would still need to be a manual process, otherwise we would need to use the user's storage space in iCloud for BookPlayer, possibly taking up double space for those that use iCloud as their cloud provider. For tech-savvy users, this won't be a problem,

[2022-05-02 19:59] ChrisNFS commented on #573
The problem with the battery drain does no longer exist. Thank you!

„BookPlayer“ is just wonderful!! Please keep on the good works!

Cheers
Chris

[2022-05-02 20:02] GianniCarlo commented on #573
Thanks a lot for the confirmation!! 🥳

[2022-05-02 20:02] #573 closed

[2022-05-03 05:56] F1rebird commented on #719
Any updates? 4.5.0-4 seems to suffer from the same issues.

[2022-05-09 06:48] welzepit opened #787 "Google Drive Authentication"
## Environment

 - iOS 15.4.1
 - App Version: 4.5.0-4

## Description

I want to add an audiobook via Google Drive, which I once authorized. The Google Drive app is installed on my iPhone. Now when I select Google Drive at add, the message appears : "Authentication required. Authentication is required in the Google Drive app to view these items in this folder." And then the Google Drive app opens,

[2022-05-09 14:58] welzepit commented on #787
I have access to my files and can see them in the Google Drive App, but
after mark all files in a folder I don't find anything to import these
files into book player

Regards
Peter

Gianni Carlo ***@***.***> schrieb am Mo. 9. Mai 2022 um 16:54:

--
-----

Peter Welz (Betreiber)

Mail: ***@***.***
Web: www.mobi-test.de
Twitter: @mobi_test
Facebook: mobi.test
Instagram: mobi_test
Podcast: Mobi-Test

[2022-05-14 18:38] dhamaniasad commented on #768
I get this too. Whenever a chapter changes the first (or maybe first few) seconds are skipped. Leads to a very jarring experience.

[2022-05-17 13:14] xmeir opened #790 "Loosing links to stored bookes"
## Environment

 - iOS: 15.4.1
 - Phone: IPhone 11 (MWM02CN/A)
 - App Version: 4.5.0-4

## Description

A clear and concise description of what the bug is.

## Steps to reproduce the behavior
1. Book imported as multiple mp3s through the app.
2. During import combined into volume by the app and named using Czech characters (Maigretův první případ).
3. In Settings -> Storage management files show w

[2022-05-18 02:05] GianniCarlo commented on #782
I've looked further into this, I do think that we have to keep the progress % in relation to the current time, that is to day, if I'm at 5h of a 10h book, no matter the speed, the progress % should be 50%, having said that, there's a bug in the control center with a simple solution, right now it's messing up the progress % when it's showing the remaining time in-app, and that's because it's using

[2022-05-18 02:09] GianniCarlo commented on #782
I think we can safely ignore the second behavior, since on the day to day it's usually smaller jumps, we can revise this in the future if it's really a problem, but nobody has reported it yet, also it's worth noting that with the current APIs for the control center, we cannot overcome this limitation, and having a different remaining time between the in-app player, and the control center will be a

[2022-05-18 02:13] GianniCarlo commented on #790
Thanks for reporting the issue @xmeir ! there seems to be an issue with the storage management screen, in the meantime, you should be able to play your books after importing and combining them into a volume (please let me know if this is not the case, I tested locally using the same name you mentioned 👍 )

[2022-05-18 08:11] xmeir commented on #790
Hello GianniCarlo, indeed books play fine if I don’t fix the error in the storage management. I also tested conversion to M4B file prior to import and it works with no glitch so far (tested 3 books, all using CZ characters in name of book and chapters).

[2022-05-19 12:30] GianniCarlo commented on #782
I'm closing this issue for the time being, setting the properties `MPNowPlayingInfoPropertyElapsedPlaybackTime` and `MPMediaItemPropertyPlaybackDuration ` is what determines how the OS shows the progress in the control center, and to properly reflect the remaining time (considering speed) both in-app and in control center, we have to set the duration to a lower time than the total duration of the

[2022-05-19 12:30] #782 closed

[2022-05-19 20:38] GianniCarlo commented on #790
So the problem is that when reading the file url, the special characters get decoded visually right, but underneath it's fundamentally different, see the following example for `ů`:

<img width="648" alt="Screen Shot 2022-05-19 at 13 15 03" src="https://user-images.githubusercontent.com/14112819/169373267-5009d3ff-f5e6-4f82-9bd7-fc46a70e26c1.png">

both should print `\u{016F}`, and I'm guessing th

[2022-05-21 07:08] leonardo-79 opened #793 "doesn’t load in CarPlay environment"
With the latest IOS something gas changes that made not working BookPlayer through CarPlay interface. You need ti open it throup the iPhone connected ti CarPlay And the non ti world. But often it crash.

[2022-05-21 13:00] GianniCarlo commented on #793
Carplay support was reworked in this PR → https://github.com/TortugaPower/BookPlayer/pull/775, the problem is that Apple hasn't approved yet our request for renewed CarPlay access to make use of the APIs introduced in iOS 14, so we can't release those updates yet (it's been over a month now), as soon as we get our approval we'll release the new changes

[2022-05-21 14:11] GianniCarlo commented on #790
The fix will be included in the next release 👍

[2022-05-21 14:11] #790 closed

[2022-05-23 08:19] onkelhartwig opened #794 "Import multiple directories from FileBrowser app includes only first folder."
## Environment

 - OS Version: [e.g. 13.5.1] IOS 15.4.1
 - App Version: [e.g. 3.9.0-1] 4.5.0-4

## Description

When importing multiple folders from FileBrowser only the first folder is imported. This is a minor issue as I can add audio book one by one. I don't know if that occurs from other apps as well

## Steps to reproduce the behavior
1. Open File Browser
2. Select multiple folders
3. Click s

[2022-05-24 15:05] GianniCarlo commented on #794
Hi @onkelhartwig ! thanks for reporting the issue, it looks like this also happens when using the native iOS Files, and share the selected files to BookPlayer. From my tests, it looks like the SceneDelegate which is in charge to receive these type of interactions, is only receiving the url of the first file that was selected.

<img width="497" alt="Screen Shot 2022-05-24 at 09 47 45" src="https://

[2022-05-25 10:40] oldman63 opened #796 "Manage your files / sorting"
Under Settings / Manage your files

The file list is not sorting!

Please Add sorting options or sort the list by file name

Thx

[2022-05-25 16:45] GianniCarlo commented on #796
Currently it's sorted by file size, but we could add a sort button at the top right corner to toggle between size and by file name 🤔

[2022-05-26 05:07] oldman63 commented on #796
Ok, thx

[2022-05-27 14:50] oldman63 opened #799 "Incorrect strings not found on Lokalise.com"
The "unknown author" text is not found on lokalise.com (Hungarian localisation, I am the Hungarian translator)

Also, there is a language error that I can't find:

Incorrect text: Fájlok
Correct text: Fájl

Please help me...

![2022 05 27-2](https://user-images.githubusercontent.com/3171626/170723419-eb4865a6-02f3-4006-b44d-5f18672b1fd6.png)

[2022-05-27 15:14] GianniCarlo commented on #799
Hi @oldman63 ! the key we use there is `voiceover_unknown_author` probably it would be better to have a separate key 🤔 , but for the time being we're using that for the Unknown author. Regarding the plural form, the next app version will have the fix (Here's the line where we changed that → https://github.com/TortugaPower/BookPlayer/pull/797/files#diff-62108f0dcc6958dc1677ac225ef14e3f5b77b9e715bc7

[2022-05-27 15:16] GianniCarlo commented on #799
one thing to note, the Unknown Author value is set when the file is imported, I think we need to change that to an optional, so we only store in the database when the author exists, otherwise the unknown author key can be loaded on the fly in memory

[2022-05-27 16:13] GianniCarlo commented on #799
yup, here is the folder for the hungarian translation → https://github.com/TortugaPower/BookPlayer/tree/develop/BookPlayer/hu.lproj
the .stringsdict file has the plural keys, and the .strings file has the regular keys that don't need plural form consideration

when looking through the files in the branch `develop` that's basically what's coming in the next release, and the branch `master` should h

[2022-06-05 19:22] #799 closed

[2022-06-05 19:23] GianniCarlo commented on #793
This should be fixed in v4.6.0 which is now available in the appstore 👍. Feel free to write back if this is still happening in the latest version

[2022-06-05 19:23] #793 closed

[2022-06-05 19:27] GianniCarlo commented on #767
This was included in the latest release (v4.6.0) now available in the AppStore

[2022-06-05 19:27] #767 closed

[2022-06-05 19:29] GianniCarlo commented on #738
It's finally out in the AppStore! (in the latest release v4.6.0)

[2022-06-05 19:29] #738 closed

[2022-06-05 19:30] GianniCarlo commented on #584
This was fixed in v4.5.0 🙌

[2022-06-05 19:30] #584 closed

[2022-06-05 19:31] GianniCarlo commented on #509
This was included in the latest release (v4.6.0) now available in the AppStore 🙌

[2022-06-05 19:31] #509 closed

[2022-06-05 19:33] GianniCarlo commented on #481
Our CarPlay implementation has been reworked with the iOS 14 APIs in the latest release (v4.6.0) now available in the AppStore. Feel free to follow up if there's still an issue

[2022-06-05 19:33] #481 closed

[2022-06-05 19:35] GianniCarlo commented on #501
The new CarPlay implementation we introduced in v4.6.0 is independent of the state of the main iOS app, so this shouldn't keep happening. Feel free to follow up if this is still an issue

[2022-06-05 19:35] #501 closed

[2022-06-06 00:19] Dev-Josue commented on #738
Thank you so much. It looks amazing! It’s very responsive and I love the features. Thank you for creating such an awesome app!

[2022-06-07 13:35] patjolata opened #802 "Bug: App crash while opening"
## Environment

 - OS Version: 15.5.
 - App Version: 4.6.0

## Description

Since the last update of the BookPlayer app to v. 4.6.0 the app crashes while opening. I only can open it via the shortcut in the app switcher while I connect my phone to a bluetooth speaker. I'm using an iPhone 13.

Edit: It doesn't crash every time, but I haven't found a pattern yet. If I can provide any more help, pleas

[2022-06-08 14:10] GianniCarlo commented on #802
Thanks for reporting the issue @patjolata , I've been looking into this, and it looks like it's crashing after loading the last played book and preparing to send the watch app context. Just to make sure I'm on the right error log, you have a paired apple watch?

[2022-06-08 14:33] patjolata commented on #802
@GianniCarlo Yes, sorry I forgot about the watch. I have one paired.

[2022-06-12 09:18] qmicron opened #803 "Bug: Cyrillic characters displayed incorrectly"
## Environment

 - OS Version: [e.g. 15.5]
 - App Version: [e.g. 4.6.0-4]

## Description

Cyrillic characters are not displayed correctly in list of files

![image](https://user-images.githubusercontent.com/22538575/173226305-f21b3b81-eae3-434e-81b8-3ef290030e82.png)

At the same time, library names are displayed correctly

![image](https://user-images.githubusercontent.com/22538575/173226217-896

[2022-06-13 07:16] qmicron commented on #803
I figured out where the crooked characters come from. They were originally in the title
![image](https://user-images.githubusercontent.com/22538575/173299706-b7ae8573-b97d-4b83-af11-b561f394eb33.png)

Sorry.

[2022-06-13 07:16] #803 closed

[2022-06-13 12:10] GianniCarlo commented on #803
No worries 👌 thanks for following up, yesterday I was thinking of which would be the easiest way of verifying the file's metadata before replying, since we've had a similar issue filed like this before. It's good to know that the File Explorer show the info 👍

[2022-06-14 20:09] iNecas opened #804 "Bug: Strong battery drain when plaing short files"
## Environment

 - OS Version: 4.6.0
 - App Version: 15.4.1

## Description

When playing short files (around 2 minutes), it seems the phone gets warmer than on longer files (compared to 20-40 minutes). I've tried different encodings (mp3/aac) and bit rates and the length of the files seems like the key think that seems to be causing the warmth and battery issues. Even playback speed didn't seem t

[2022-06-14 20:22] GianniCarlo commented on #804
We received a report too via email support, I'm adding here the screenshot of the app usage for the other case to track the issue with this ticket

![image](https://user-images.githubusercontent.com/14112819/173680863-5703960a-fff2-4e65-9e1e-d7ef63588014.png)
![image](https://user-images.githubusercontent.com/14112819/173681120-6e7ac6d3-1b59-46b7-b8ad-3611de17475a.png)

if you can @iNecas, could y

[2022-06-14 20:56] iNecas commented on #804
Maybe, trying to create a book with 250 2-minute files and playing that could lead to reproduce the issue…

[2022-06-16 17:20] GianniCarlo commented on #802
@patjolata can you test if this is still happening on the latest beta version for the next v4.6.1? (link to join: https://testflight.apple.com/join/FLv3zLyN)

[2022-06-17 06:52] patjolata commented on #802
@GianniCarlo  I‘ve installed the beta v. 4.6.1 last night and I haven‘t seen any crashes yet. Will keep you updated if some occur. Thank you again for your fast response and help! ☺️ I really love the app! 😊

[2022-06-21 00:50] frykauf opened #806 "PIP: picture-in-picture more"
## Feature request

- I would love to see simple PIP mode.

## Narrative

PIP would make it easier to use for people:
- who rewind a lot
- need to use their phone, but still want to easily control their playback
- people who like to read & listen to the same book at the same time (me) - and want small PIP overlay on top of the opened eBook they are reading to control the playback

- and since you

[2022-06-21 01:02] GianniCarlo commented on #806
interesting proposal 🤔 , and it looks pretty straight forward to implement: https://www.raywenderlich.com/24247382-picture-in-picture-across-all-platforms

[2022-06-21 05:00] patjolata commented on #802
I still haven't had any crashes and I'm now on the App store version. I guess we can close this issue. Thanks again!

[2022-06-21 05:00] #802 closed

[2022-06-22 20:59] jhunschejones opened #807 "Repeat / loop feature"
## Feature request
I'd love to have a feature that lets me put a single book or Volume on repeat, rather than auto-advancing to the next book. I use BookPlayer to listen to target language books for language learning, and this would help me focus on one book at a time.

## Narrative

**GIVEN:**
A user with several audio books or volumes indicates they would like to play one on loop / repeat
**WHEN

[2022-06-25 18:26] a13xde commented on #544
Hi,
same question and no answer here, is it possible with siri to start the sleep timer function without having to unlock the device ?
Or is it possible to use Apple Watch to start a sleep timer ?

[2022-06-25 18:36] GianniCarlo commented on #544
The short answer is it's not possible with current implementation, I may get a bit technical now, there's a limitation for custom intents (which is what Siri uses under the hood), mainly that we don't get the same options as when running a subclassed system intent (like the play the last book, which can run without unlocking the app). This is from when I last looked into the issue and the problem

[2022-06-25 18:38] GianniCarlo commented on #544
Regarding Apple watch starting a timer, the current implementation of the watch app could be enhanced to send the message to the main app, and all the parsing logic is already there (see how widgets send this parameter when activated), so it should be pretty straightforward other than having the UI made on the watch app, and it would be a welcomed change

[2022-06-25 18:43] a13xde commented on #544
Thank you for the detailed explanation !
I really hope iOS 16 gives us the possibility to do it also witth Siri.

Until then, it would be very nice if the Sleep Timer feature could be integrated into the Apple Watch app.
I think I'll better open a new issue for that ?

[2022-06-25 18:45] GianniCarlo commented on #544
no worries 😁, yeah I think it would be better to track that request in a separate issue 👍

[2022-06-25 18:58] a13xde opened #809 "Start Sleep Timer from Apple Watch App"
## Feature request

I'd love to have the Sleep Timer Feature in the Apple Watch App

## Narrative

Since it is currently not possible to start a sleep timer via Siri without unlocking the device.
Some people (e.g. me) uses the Apple Watch to analyze their sleep, here it would make sense to be able to start a sleep timer in bed via the Apple Watch without unlocking the iPhone first.

## Design

The

[2022-06-28 06:32] rh63 commented on #768
Can confirm this behavior. I can't remember in which update that bug had its first appearance, but it is very annoying.

If that helps: All my audio books are in mp3 format (many separate files) which I tagged myself; including cover artwork (1000x1000 px max, size < 1 MB).

[2022-06-28 11:40] GianniCarlo commented on #768
@rh63 can you share via email 3 of the files where this is happening? for testing purposes 👍

[2022-06-28 12:10] rh63 commented on #768
2nd attempt: The first try failed because the github mail system refuses
to accept attachments with a size > 10 MB.
You can find the three files here:
<https://1drv.ms/u/s!AskXjJro-MyYke5MrjKCdGJc4qIspw>. Sorry for the
inconvenience! 🤷‍♂️

------------------------------------------------------------------------

Hi Gianni,

no problem. Attached there are 3 consecutive files of an audio book. The
t

[2022-06-28 12:14] GianniCarlo commented on #768
Files downloaded 👌 thanks @rh63 ! I'll test later today and see what I can find

[2022-06-28 15:40] mkellogg commented on #804
I had this issue too recently. 407 mp3s @ 64kbps, each about 5 minutes, or 2.5-3.0mb each. The phone got noticeably warmer and battery usage was much higher (82% of total usage in 3h44m of activity over a 24 hour period).

My library only contained this and 2 other books. One with 88 40-45 minute files. The other a single m4b, 20 hours in length.

[2022-07-04 12:51] Doctor-love opened #810 "Feature request: Soundbite/Clip extractor"
## Feature request
Functionality within the app to create and save/export short clips (soundbites) from playing audio book.

## Narrative
When listening to a book, I often find myself wanting to share a quote or an interesting snippet from it.
A soundbite feature would allow me to create and share an audio clip with other apps.

## Design
I don't have any strong options related to UX - perhaps it

[2022-07-05 08:58] Mr-Mistoffelees commented on #804
I'm experiencing the same issue. Device gets hot while playing an audiobook and battery consumption increases.

**Device / Software:**
iPhone X
iOS 15.4
BookPlayer 4.6.1-1

**Audio Book**
424 files
~2-5 min, ~2-5MB each file
MP3, 129kBit/s

**How did I import the Audiobook?**

1. Put files into my NextCloud
2. Refreshed NextCloud on my device (did NOT download the audiobook)
3. Opened the BookPlay

[2022-07-07 12:52] iNecas commented on #804
FYI to workaround the issue, I've used https://github.com/sandreas/m4b-tool to merge the small files into chapterred m4b: seems like BookPlayer is better optimized for that format (+ allows easily switch progress view between chapters and the whole book).

[2022-07-19 08:06] fabifabulousity commented on #810
The amazing podcast player Overcast by Marco Arment has a similar feature to share a short sound clip of a max time of 1:30 min. The UI is reminiscent of the Voice Memos app for editing/trimming audio files. A soundwave is displayed and handles to set the start and end point. Additionally you can select if you want to include a logo and artwork.

[2022-07-19 12:11] Doctor-love commented on #810
Probably reasonable to have some sort of length limit - while there is no fixed limit, it makes it easier to claim fair use.

[2022-07-21 02:53] Barmaid9201 opened #811 "Bug: ...Importing Audiobook Only Imports 1st Chapter"
## Environment

 - OS Version: [iOS 16.0]
 - App Version: [4.6.1-1]

## Description

I am attempting to import an audiobook in mp3 container, however, after moving the file through Finder on my mac, Bookplayer does find it and asks to import, once I do that, it only seems to import the first chapter. I tested the file and played it and sure enough it's the whole audiobook (I merged all of the part

[2022-07-21 11:24] GianniCarlo commented on #811
Hi @Barmaid9201 ! I'm not sure I understand fully the scenario here, the problem is that the app only shows the metadata for the first chapter, but actually the entire audiobook is there? if that's the case, it sounds like Shchuka is not adding the chapter markers, so BookPlayer only reads what Shchuka encoded into the result file 🤔, please correct me if I read things wrong. You could also just im

[2022-07-21 19:26] Barmaid9201 commented on #811
Hey @GianniCarlo Yes, I think you have it correct. After I import the file, and look at it in the "Library" in BookPlayer, it only imports the first chapter (the first chapter runtime is displayed below the "Author Name"), and when I go to play the file, sure enough, it will only play the first chapter (about 15 seconds). When I go to the find the file in my phone (Files >Browse > On My iPhone > B

[2022-07-21 20:16] Barmaid9201 commented on #811
Hey @GianniCarlo I fixed it! Apparently there were issues with the headers of the audiobook file ("Wrong number of MPEG frames specified in Xing Header" and "Wrong number of data bytes specified in Xing Header"). I used MP3val to scan the files and then repair the problems. Once that was done, I followed my usual routine and sure enough it worked. Once again, thanks for your help!

[2022-07-22 03:37] GianniCarlo commented on #811
I'm glad you found a solution @Barmaid9201 🙌 , also thanks for pointing out MP3val, it looks like a much simpler option than recommending users to use FFMPEG and ffprobe to analize their files 😅

[2022-07-22 03:37] #811 closed

[2022-08-03 23:32] GianniCarlo commented on #804
The new beta has a possible fix for this (link to join: https://testflight.apple.com/join/FLv3zLyN). It reworks how the next item is fetched (which before it was looping through the entire folder which is not good). If someone can test this and confirm if it helps, it'd be great 👍

[2022-08-04 04:35] deeohlaa opened #820 "Library search"
Create or enable library search feature. For those with large libraries extremely helpful to be able to search for specific titles

[2022-08-11 15:59] GianniCarlo commented on #820
Duplicate of #105 , related #647

[2022-08-11 15:59] #820 closed

[2022-08-11 16:25] Joeycrzl opened #821 "Thumbnail Book Covers"
## Feature request

First off I'd like to say thank you for creating this app it has been very useful for listening to my .MP3 audio files, I truly appreciate it. My request is something I find simple but beneficial, I think it'd be great if we could attach a photo as a thumbnail icon for the Playlists inside the app library and each file individually. In my case I'd love to be able to add the boo

[2022-08-12 14:55] ferdinandea opened #822 "Sleep timer reset by pressing play"
## Feature request

- If the Sleep timer comes to the end, and I am not falling asleep, i want to continue with a new Sleep timer interval by pressing play on my headphones

## Narrative

- Feel free to change the following format to better suit the details of the enhancement

**GIVEN:**
- Sleep timer pause the audiobook
**WHEN:**
- I press play on my headphones
**THEN:**
- The player continues wi

[2022-08-20 13:32] GianniCarlo commented on #804
got confirmation via mail support that this one is fixed 🎉

[2022-08-20 13:32] #804 closed

[2022-08-21 23:47] oricoh commented on #619
Any update on this issue? Its been nearly a year and no solution?

[2022-08-22 20:23] skobylite commented on #287
Very excited about this feature - have you been able to make any progress on this?

[2022-08-22 21:14] GianniCarlo commented on #287
@skobylite all our progress is in the uploaded branch `v5.0.0`, we've managed to upload the entire library of the app, but we're still in the process of implementing syncing progress and keeping it up to date on multiple devices. No ETA yet on when a beta could be available though :/

[2022-08-22 21:16] GianniCarlo commented on #619
@oricoh not yet, but anyone is welcomed to tackle this issue 👍 we can provide guidance on the codebase over on our [Discord](https://discord.gg/MjCUXgU)

[2022-08-22 21:57] skobylite commented on #287
Amazing! Exciting to hear this, you guys are setting a precedent for this functionality - Apple books sync is unreliable

[2022-08-27 19:56] kooshiel opened #825 "Button-free / gesture based navigation"
## Feature request

Hello and thank you for BookPlayer. I would love to see a button-free mode that would allow for gesturing left/right to go back/forward the specified skip interval. I use this all the time in the Audible app so that I can easily rewind without looking at my device. It's especially useful when driving. I'm currently using Bookmobile to listen to my non-Audible books which also h

[2022-08-27 20:14] GianniCarlo commented on #825
Interesting, I wasn't aware there was a button-free screen in Audible 🤔

This should be fairly easy to do for anyone who wish to contribute, the code requirements and screen lifecycle are similar to how the Bookmarks screen is created and presented (coordinator, viewController and viewModel), it just needs the PlayerManager object (for the play/pause and skipping) and the LibraryService object, to

[2022-09-03 14:09] GianniCarlo commented on #825
This will be included in the next release

[2022-09-03 14:09] #825 closed

[2022-09-07 19:14] fabifabulousity commented on #773
I noticed that as well. Although it’s only minor regarding UX, I wonder if this could be (easily) fixed?

[2022-09-14 21:05] fabifabulousity opened #831 "Bug: CarPlay interface icon size wrong"
## Environment

 - OS Version: iOS 16.0
 - App Version: 4.7.0

## Description
Size of button icons at CarPlay interface inconsistent. See the attached screenshots. It seems that at booth screenshots the size of the icons seems wrong. Especially the bookmark icon. Maybe you could have a look at using the SF icons set instead of custom icons.

## Steps to reproduce the behavior
1. connect iPhone wit

[2022-09-14 23:17] GianniCarlo commented on #831
thanks for reporting @fabifabulousity , I was hoping it was just an issue in the beta, as nothing has changed in the carplay manager regarding icons. I'll look into a solution for this

[2022-09-15 11:51] fabifabulousity commented on #831
Okay, maybe one more thing. I only had the chance to test this a few times since I run on iOS 16 when it was officially released: when BookPlayer on the iPhone is not in the background (hence closed completely) and I would like to start it from the CarPlay interface it just gives me a black screen and does not show any audiobooks. I needed to start the app on the phone first. Is this a thing you h

[2022-09-15 22:43] Ilias-D-Sarris opened #832 "Bluetooth bookmarking"
## Feature request

Create bookmarks from Bluetooth headphones

## Narrative

I often listen to audiobooks when biking or exercising. In such use cases, it's very inconvenient to have to take out the phone just to set a bookmark.

## Design

This could be implemented by letting the user configure the Bluetooth buttons. The volume buttons in most Bluetooth headphones are also used for FF/Next and R

[2022-09-19 11:26] Cptbluetooth opened #833 "Bug: playback pauses between files"
## Environment

 - OS Version: 16.0 (20A362)
 - App Version: 4.7.0

playback pauses between audiobook files. I’ve noticed this for the last 2 versions.

## Steps to reproduce the behavior
1. Play a book with multiple files
2. Wait for one file to end and it will pause playback

[2022-09-19 11:32] oldman63 opened #834 "Landscape orientation support"
Please enable Horizontal orientation on UI

[2022-09-19 12:19] earnestma commented on #287
@GianniCarlo Would it also be possible to offload books + bookmarks & notes to the cloud only? I don't have a lot of space left on my phone, but would like to keep the bookmarks available in that way as well

[2022-09-19 12:27] GianniCarlo commented on #833
Yeah this has happened to me as well, and it's in queue to be fixed for the next minor release 👌

[2022-09-19 13:00] Cptbluetooth commented on #822
A feature of an Android audiobook app I used to use was similar to what you’re looking for. You could reset the sleep timer by moving your phone. Each time you just lifted and put the phone back down it would restart the timer interval you had picked. It was nice since, like pressing the headphone button, it required no phone interaction.

[2022-09-25 01:20] arku1 commented on #768
I have same issue, when next chapter ie next file starts to play it jumps random amount of seconds forward from the beginning, sometimes might be 1-2 mins.
My audiobooks are usually mp3 files.

[2022-10-01 09:02] Forever-Young opened #838 "Ability to choose how to handle notifications"
## Feature request

Ability to change the way how to handle the notification sounds

## Narrative

Given that I for example drive and have a navigation app working, it gives voice guidance, and often small sounds signaling that I'm speeding for example. For every single of them, BookReader pauses, and "eats" half a second after resume.

It would be nice to have the ability to choose how to handle

[2022-10-03 19:42] kooshiel opened #839 "Button Free - Disable Autolock"
Thank you for adding the button free feature! The only issue I have is that the button free mode doesn't honor the "disable autolock" setting and so I can't use it reliably as my phone keeps locking. I would appreciate it if this could be changed. Thank you.

[2022-10-09 04:24] EugeneTarasenko opened #843 "Bug: BookPlayer consumes too much energy after updating to iOS 16"
## Environment

 - OS Version: 16.0.2
 - App Version: 4.7.0-3
 - Phone: iPhone 8

## Description

BookPlayer consumes too much energy after updating to iOS16. It drains all my battery in just ≈3.5 hours with a locked screen.

Screenshots:

![IMG_0641](https://user-images.githubusercontent.com/87163666/194737944-63883b40-3ed6-4496-813c-91e85f4afa08.png)
![IMG_0644](https://user-images.githubusercon

[2022-10-09 15:51] GianniCarlo commented on #843
I'm not sure this is entirely related to BookPlayer, but rather to iOS 16 poor battery performance. In any case I did three different tests for this on my 13 mini running iOS 16.0.2 using Xcode's energy performance information

App launch

https://user-images.githubusercontent.com/14112819/194764758-6c0fc4c4-b92b-4ec3-a45c-8e9f3685b326.mov

just playback (at 4x speed)

https://user-images.githubus

[2022-10-09 23:26] GianniCarlo commented on #838
I've been looking through the options here and testing, I think we can have a new row in the 'Playback Settings' section for 'Audio'. The new screen will start having only the 'Mix' section with two rows with toggles, the first one will be about allowing audio mixing, the second one about ducking the audio of others, this second one will only be interact-able  when the first one is enabled. The fo

[2022-10-09 23:26] #839 closed

[2022-10-09 23:32] GianniCarlo commented on #838
code reference to put into the `PlayerManager` file

[code]

[2022-10-11 21:30] mexxBf opened #844 "Playback stops"
Hi,

I would like to report that the playback bug is still there in 4.7.1-2 and iOS 16.

At first it worked, but it appeared again.

Maybe its related to Airplay? At least I use it a lot with it.

Is it possible to add some more information for you?

Thank you

Edit: Its not related to Airplay. It stops with playback on the iphone as well.

[2022-10-11 21:56] GianniCarlo commented on #844
damn :/, @mexxBf hmmm next question would be, does it reliably happen between two specific chapters? if so, could you share the two files with me? and if there's any specific playback speed?

For more info, this bug started happening when I removed the +0.5 added as a buffer to a chapter start, which was making chapters start awkwardly for some audiobooks. At this point, I think that is preferable

[2022-10-11 23:51] ljchtz opened #845 "Function request"
I hope I can have the function of automatically rewinding and fast-forwarding at the beginning and end of each media, and it can be brought with fast-forward time, so that the advertising playback time can be automatically skipped. And you can quickly access the next media without wasting time listening to advertisements.

[2022-10-13 14:06] GianniCarlo commented on #844
alright I found the root issue, when one audio file ends, there's a callback that is triggered by the `AVPlayer`, but this only happens if it reaches truly the last available time of the file (e.g. for a file of duration 100.005, and current time 100 the callback won't be triggered until it reaches 100.005). The app was depending on this callback for mp3 volumes to trigger the continue playback, s

[2022-10-13 16:11] mexxBf commented on #844
I'm sorry I didn't respond. My little toddler leaves zero time to do other things right now 🙈 I'm very glad you found the issue. My wife and me are relying on this app right now 😂

[2022-10-16 08:26] available-is opened #846 "Uninstall"
## Feature request
Help Wanted !!!!
- Describe in broad strokes the changes or enhancements you'd like to see
- Would like to find in Wiki or Q&A a short guidance on how to UNINSTALL in a clean way the App with all its hidden features, like database etc....
- **Today, I just would like to know How to proceed with the UNINSTALL as described before**
- Thanks !!!

## Narrative

- Feel free to change

[2022-10-16 13:40] GianniCarlo commented on #846
Hi there, hmmm it looks like for some reason the app is stuck in landscape mode in the MacBook, I don't currently have access to an M1/2 machine, so I can't quite debug the issue, as landscape is not enabled. That said, to uninstall on the Mac, it should be the same as any other app you install from the AppStore, just go to your Applications folder, and drag to the trash bin, emptying the trash bi

[2022-10-16 16:33] available-is commented on #846
Hi Gianni Carlo,
Thanks a lot for getting back so fast.
Regarding to landscape mode, couldn’t find anything to enable or disable this….
I just uninstalled as you said. Thought it might have a database somewhere….
So thanks for clarifying!
Britta

[2022-10-16 16:39] #846 closed

[2022-10-17 02:13] GianniCarlo commented on #844
@mexxBf don't worry about it 😁, right now the changes are in `develop`, I submitted a new version, so it should be up by Tuesday probably 👍

[2022-10-17 02:15] GianniCarlo commented on #768
This is solved in 4.7.1 (with the problem of mp3 volume stopping, which should be solved in 4.7.2 pending appstore approval for release)

[2022-10-17 02:15] #768 closed

[2022-10-17 02:22] GianniCarlo commented on #831
This is solved in v4.7.1. Regarding the other thing you mentioned @fabifabulousity, I haven't had that issue yet, but feel free to open a new ticket to track that one 👍

[2022-10-17 02:22] #831 closed

[2022-10-17 07:47] huehnerbrueh opened #849 "iOS 16: no cover art on lockscreen"
Not sure if it is me or if it is a bug: cover art is shown in the app but not on the lockscreen.

[2022-10-17 13:24] GianniCarlo commented on #849
🤔 iOS 16 introduced an option to move the artwork to the background of the lockscreen, not sure if that is bugging out at the OS level? see video attached

https://user-images.githubusercontent.com/14112819/196188541-098a7273-c6ee-4e54-a7ea-3eb6d1080fef.mov

[2022-10-17 14:13] huehnerbrueh commented on #849
Yes, that’s how I thought it should be. Looks like this for me:

![32620050-375D-4A59-A7F9-8A818B7425A4](https://user-images.githubusercontent.com/48827157/196199743-eb2410a8-f740-4a8d-b20f-eb7897795b22.png)

![A8E4ADC0-2F6E-4592-AC95-7BC2A635989A](https://user-images.githubusercontent.com/48827157/196199920-2ca4364f-30cd-4f32-b3db-b57ddf702817.png)

I’ll try tagging the file with a different App,

[2022-10-17 19:46] huehnerbrueh commented on #849
There was a BookPlayer update today (4.7.2) that fixed it. The artwork is displayed correctly now.

[2022-10-17 19:49] #849 closed

[2022-10-18 14:12] GianniCarlo commented on #834
This will be included in the next major version v5.0.0

https://user-images.githubusercontent.com/14112819/196455047-005ddace-d089-46e0-865d-ff6c4c207413.mov

[2022-10-18 14:12] #834 closed

[2022-10-20 12:35] zaksid opened #850 "Bug: Playback has no sound on some mp3 files after"
## Environment

 - OS Version: [e.g. 16.0]
 - App Version: [e.g. 4.7.2-1]

## Description

I noticed that on some mp3 files of the book after some time, the playback goes on with no sound.
For example, on the screen recording below sound disappears after 16:00:

https://user-images.githubusercontent.com/10850940/196945308-58dedfe0-a57c-4429-a945-8b4aa232b81c.MP4

In the same time, the same file ca

[2022-10-20 20:47] cannona commented on #593
With Safari supporting opus for WebRTC, hopefully this is also a codec offered by the platform to app devs. And if not now, maybe soon? So hopefully this won't be too painful to implement.

Come on Apple, you don't have to be against everything you didn't invent yourselves. :)

[2022-10-22 01:33] GianniCarlo commented on #844
This looks to be solved in v4.7.2 which is available in the appstore, feel free to post back if the issue persists

[2022-10-22 01:33] #844 closed

[2022-10-22 01:33] GianniCarlo commented on #833
Solved in v4.7.2 🙌

[2022-10-22 02:42] josjaf opened #851 "Big and Little Seek"
## Feature request

Hello, this app is awesome!

I'm interested in a configurable big and little seek in both directions.
Everything should be configurable, so for example,
foward 10s, forward 90s
back 10s, back 90s

Smart Audio Book Player for Android does a good job here
https://play-lh.googleusercontent.com/xOSRPEevSyen4CY0gul-3c0NYkMOC5dbuZGDOpriy4-i-iZFunCx7LB__Uymq8xmZD4=w5120-h2880

[2022-10-24 13:37] GianniCarlo commented on #423
All imported files should be sorted by original file name 👍 by default

[2022-10-24 13:37] #423 closed

[2022-10-26 08:10] zaksid commented on #850
@GianniCarlo, not sure if this is connected with file size, there are other chapters in this book that are ~ the same size or slightly bigger than the file from the example and they work fine. Seems like this is some issue with the file itself.
I applied `ffmpeg -i 08.mp3 -c copy 08_new.mp3` from the [comment in #497](https://github.com/TortugaPower/BookPlayer/issues/497#issuecomment-993638779) to

[2022-11-01 18:49] mckayfackrell opened #854 "Album Artwork Editing and Author Renaming"
## Feature request
For some of the mp3 files I forgot to edit beforehand, there is no way to edit the album artwork or author once the files have been transferred to BookPlayer.

My request is for the option to edit the album artwork by simply adding a photo from the user's photo album on their phone.

The request would also include the option to rename the author or add the author if it was previ

[2022-11-04 15:09] Doc-data opened #855 "Can't import files"
I use it on ipad pro M1, I can't get it to import files from the local files it freezes and the app closes

[2022-11-07 13:29] GianniCarlo commented on #854
Hi @mckayfackrell , yes this is something that we want to tackle for the next major version, though we were thinking on displaying a screen with the different options to modify instead of having the different controls in the library and update via alerts 🤔

[2022-11-07 13:33] GianniCarlo commented on #855
Hi @Doc-data , when you import, do you do it from within the app? I've managed to reproduce one case on my ipad mini, and when you long press on the app in the home screen, you'll get a list of files that you could potentially import, but it fails and crashes due to the file not being available locally (usually these are suggestions from the Files app, and the files are not always downloaded)

[2022-11-16 08:13] mckayfackrell commented on #854
That sounds like a great option! I'm looking forward to that release. Let me know if there is anything I can do to help move the process along (ie testing).

Just want to say how much my wife and I love using this app! We put on Harry Potter whenever we go on road-trips, it's the best! Thanks for all the hard work 🙌🏼

[2022-11-22 02:31] chbornman commented on #752
Just commenting to say that I would love this feature! If somehow also storing the play time data on a network drive would allow the app to be inherently cross device that would also be amazing!

[2022-11-27 18:41] keckrich opened #857 "Bug: Cannot import file from file server"
## Environment

 - OS Version: iOS 14.6
 - App Version: 4.7.2

## Description

I added my windows computer to the file app on my iPhone. Then when I try to add a zip file to the player from within the app it does not import the file. I can see the zip file in the shared drive, but when I click it nothing happens. If I first copy the file from my shared drive to local storage the Player app lets me