[2019-09-24 14:20] northernSky opened #386 "[New feature] text-to-speed ebook."
Hi,
Currently, we could only listen to books that have someone reading for us. But there is a limit number of these kind of book.
It would be nice if we could import ebook ( .pdf, .prc) and Bookplayer will read it out loud.
Google Text-to-speed have improved alot. The output sound are quite naturally now.
Currently, I'm using version 3.5.1-4 on ios 13
Thanks for reading this :D

[2019-09-24 21:51] pichfl commented on #385
Thanks for bringing up these two very interesting feature requests.

#### Audio Processing (Filtering)

While I mostly agree with your thoughts on processing non-ideal voice recordings, doing these steps lies beyond the current feature-set and capabilities of BookPlayer.

Doing these effects live requires processing power and makes it impossible to rely on the system audio player and would require

[2019-09-24 21:51] #385 closed

[2019-09-24 22:03] pichfl commented on #386
Thanks for the quite interesting suggestion, but I'm sorry to have to turn it down.

BookPlayer is focused on providing an easy to use playback experience for your audiobooks. Creating audiobooks from text lies beyond our intended set of features.

If anyone is interested in creating a sibling app called BookReader that creates files that could be consumed by BookPlayer, we'd be happy to get in to

[2019-09-24 22:03] #386 closed

[2019-09-28 08:43] pichfl opened #387 "Importing files should dismiss player"
If the player is open and files are imported via AirDrop or sharing from an external app, the import progress isn't shown. Dismissing the player / presenting the Library would change that.

[2019-10-01 14:36] GianniCarlo opened #388 "Add 'More' option to bulk controls"
Requested via email by Alexander. We could add a fourth button in the floating bulk-controls (or maybe remove the 'move' button in favor of this one), which would present the options sheet that we already present when swiping left on a cell. This would expand the functionality so that multiple (filtered) books can be marked as finished, or jump back to the beginning

[2019-10-01 20:00] pichfl commented on #388
Very much in favor of this 👍

I will provide a suiting icon. The one above does not match our iconography. Also will provide a new icon that marks selected entries, I did realize they should have some sort of check mark in them.

[2019-10-04 18:07] Paxo50 commented on #381
Could it be as simple as allowing the tick to be removed?  Catching up in the correct order is a pain after nodding off while listening if you haven’t set the sleep timer

[2019-10-06 18:33] pichfl commented on #381
@Paxo50 you can do so, but you need to do so manually for each file.

I don't think this is a high priority feature (as it will be solved by a much more powerful solution in the future anyway), but if someone wants to tackle this all that's necessary would be an additional button to the menu of an item that allows you to reset the completion state of all files including and below the selected play

[2019-10-06 18:57] pichfl commented on #362
While there is no such thing as "asap" in OpenSource, I began some early investigation in way of providing this.

There are ways to implement something impressively similar using WebRTC (which would require us providing some sort of beacon service). See [Snapdrop](https://snapdrop.net) for an example.

Another option would be to spin up a custom HTTP server and serve a small website directly from

[2019-10-06 20:09] pichfl opened #389 "Bind playlists into books with chapters"
Playlists are a versatile feature of BookPlayer. They allow users to sort anthologies and other multi-part series into a convenient place. They also allow people to easily wrap books that consist of multiple small files so they can be handled more easily. We also allow archives of these small files to be imported as playlists directly.

While playlists work rather well for the first use-case, they

[2019-10-06 20:10] pichfl commented on #348
Closed in favor of #389

[2019-10-06 20:10] #348 closed

[2019-10-06 20:11] pichfl commented on #354
Closed in favor of #389

[2019-10-06 20:11] #354 closed

[2019-10-06 20:14] pichfl commented on #381
#389 will solve this, but is a bigger project. Keeping this open as there is no reason not to have the quicker fix in first.

[2019-10-06 20:16] pichfl commented on #388
@GianniCarlo suggested to show "select all" in the upper left corner of the navigation bar when in edit mode, which is a somewhat common pattern.

[2019-10-06 20:19] pichfl opened #390 ""Select all" when editing a list"
Extracted from #388

When using the edit mode in a list (Library or Playlist), the upper left item in the navigation bar should be replaced by a "Select all" button which selects all files in that list.

[2019-10-06 20:31] pichfl commented on #361
This will to some extend be resolved by the planned changes to the sleep timer displayed in #281 which can default to the previously selected value.

Having a global timer that automatically starts for each file that can be configured via Settings is possible, but not a priority right now. I'm closing this issue to focus on more pressing matters. If anyone want's to tackle this, feel free to comme

[2019-10-06 20:31] #361 closed

[2019-10-06 20:38] pichfl commented on #334
Closing this for lack of activity. Both here and on Googles end. Sad, but on the other hand I'm happy I don't have to add megabytes of unknown binary to BookPlayer (which is my rather bumpy experience with frameworks from Google)

[2019-10-06 20:38] #334 closed

[2019-10-06 20:40] pichfl commented on #381
A bit related to #349

[2019-10-07 18:13] 0x6C77 opened #391 "Option to allow autoplay to include completed"
Re-listening to audiobooks made of multiple files is frustrating as the autoplay option doesn't play items that have been finished.

Adding an option to include finished files in autoplay would remove the need to go back through each file and marking them as unfinished each time.

[2019-10-07 18:51] pichfl commented on #391
Thanks for bringing this up.

While it is somewhat related to #381, I think you might have come across an actual bug here.

If I remember correctly, @GianniCarlo and I had a discussion about the very scenario you describe and decided to play files regardless of completion state which would be the opposite from what you're experiencing.

[2019-10-07 18:56] pichfl commented on #391
In the mean time: You should be able to reset the play state for a playlist by using "Jump to start" from the playlists "More" menu that is available when swiping left. We are aware of the confusing labeling, see #349

[2019-10-07 20:10] bensaufley commented on #224
Just coming back to this. Not really able to contribute right now unfortunately (Swift not being really an area of expertise and time being limited). But I'd add that it'd be nice to go above 2.5x. I had to switch back to the Audible player for a book recently so that I could do 3x (some readers are just so slow!). Audible and Libro.fm both support 3x speed; Audible supports 3.5x, even. Can't supp

[2019-10-07 21:05] pichfl commented on #224
Whelp. I'm not sure if 3.5x speed makes for a nice listening experience, but looking at the mockup above, we could easily use slightly different increments and squeeze the ticks on the slider a bit closer to make 3x or more available. Thanks for the follow up.

(Can't wait for the follow-up and for the BBC series. And for Michael Sheen to read more books, his narration style is magnificent)

[2019-10-14 22:33] SaintNicholas opened #392 "Books auto-starting shortly after pausing them."
I've had this problem for the last few weeks. Almost every that I pause a book, the book will automatically re-start again after a few seconds. It usually does this 1 - 4 times before it stays paused. It doesn't matter if my phone is in my pocket, if it's flat on a table, if it's locked, or unlocked. I can't find any pattern in what it's doing.

I'm using BookPlayer 3.5.1-4 on iOS 13.1.2.

[IMG_00

[2019-10-15 17:53] GianniCarlo commented on #392
O: damn. I haven't seen this behavior before. Just to get some things out of the way, did you have the companion Watch app running? airpods or any bluetooth headset nearby?, or have some automations setup in your phone?

Thanks again for the video 👌

[2019-10-19 23:41] devil418 commented on #389
I would also suggest the ability to bind directly in the "add to playlist / add to library" prompt, i.e. when importing from a zip file. An option called "import as book" would probably be appropriate.

[2019-10-19 23:47] devil418 commented on #286
I can help with the polish version. I'm miki123211 on Google's email service. I'm a blind user, so not sure how my screen reader is going to handle the translation SAAS, though.

[2019-10-20 00:02] devil418 opened #393 "derive playlist item names from filenames instead of attributes"
*feature*

## Current behavior:
When importing multiple files, i.e. from a folder/zip file and selecting the "import to playlist option", the items inside the playlist are often named wrongly. The names are derived from the files' metadata, I think the title attribute or similar. This is inappropriate in most cases, as this attribute might be the same for all files in the book.

## Expected behavi

[2019-10-20 00:05] mikolysz opened #394 "Name playlist after folder/archive name instead of first file"
*feature*
* What is the current behavior?
When importing from a folder/zip into a playlist, the default playlist name is the name of the first file, which doesn't make sense.
* What is the expected behavior?
The playlist name should be the folder name, or, the name of the zip file, without the extension.
* What is the motivation / use case for changing the behavior?
The first file is often called

[2019-10-20 10:23] pichfl commented on #286
@devil418 we can always export a plain text translation file for you. We want to get some other features out of the way before we start this one, but we'll get back to you very soon!

[2019-10-20 10:33] pichfl commented on #393
Thanks for bringing this to our attention, but there might be some difficulties there.

For one, the real common prefix in your example is `J. R. R. Tolkien - The Hobbit - Chapter ` (taking into account that there will most likely be chapters beyond `09`, which would result in the files being named only `01`, `02`, etc, which might not be a desired outcome, especially for files that include approp

[2019-10-20 10:37] pichfl commented on #394
Very good idea!

Notes to anyone who wants to take a stab at this: It is likely that this might require some refactoring in the ImportOperation class.

[2019-10-21 02:59] Serendigity opened #395 "Apple Watch answering phone call bug"
On my Apple Watch latest watchOS version when I get an incoming call and answer it on the watch, BookPlayer seems unaware and keeps playing on my phone and causes the phone call to disconnect. This is a real hassle and needs urgent attention. iPhone latest iOS 13.

* Do you want to request a *feature* or report a *bug*?
* What is the current behavior?
* If the current behavior is a bug, please pro

[2019-10-21 03:02] GianniCarlo commented on #395
@Serendigity Thanks for reporting this, I'll look into it 👌

[2019-10-21 22:06] #383 closed

[2019-10-22 12:23] SaintNicholas commented on #392
I don't have the companion watch app running, and I don't have any automations setup on my phone. I removed all of my bluetooth devices except for my Apple Watch, and was able to reproduce the problem pretty quickly.

[2019-10-22 18:33] megasuperlexa commented on #358
I have nice experience squashing multiple mp3 files into single m4b book, and then importing it into the app. This way the book takes up less space due to superior aac encoding, and also becomes much more manageable (single file).
Here’s my bash script for those who interested [https://github.com/megasuperlexa/audiobook-convert](url)

[2019-10-24 08:04] maxkuhlmay opened #396 "macOS Version with Catalyst"
Since Apple introduced Project Catalyst and already developed iPad Apps for macOS, it would be awesome to have a macOS App for BookPlayer.
There is already an iPad Version planned.
It might be possible to do both versions at the same time.

[2019-10-24 08:45] pichfl commented on #396
Thanks for bringing this up and please don't take the following the wrong way, we need to manage expectations.

While Catalyst is a neat thing, it's also riddled with problems. As with many Apple things, it's best to sit this one out and wait another year or two. This also fits well with the fact there are no resources (neither for design nor development) for an iPad version of BookPlayer as of no

[2019-10-24 23:35] diogoribeiro09 commented on #382
I vote for this too. Using the watch app together with the phone is amazing but being able to upload your own files to the watch would be a killer for me !

[2019-11-10 16:21] megasuperlexa commented on #362
I use https://web.telegram.org to achieve precisely what you described.

[2019-11-10 16:27] LarsaSolidor commented on #362
I don’t see how you can use an encrypted messaging service to upload books from a computer to an iPhone.

Perhaps you could elaborate on your method?

[2019-11-10 16:33] megasuperlexa opened #397 "White stripes around PNG art on lock screen *bug*"
The non-square PNG art looks perfect in the app, however on the lock screen it has white stripes around it:

![App](https://i.imgur.com/b08BLTt.png "App")

![Lockscreen](https://i.imgur.com/HDRzpBq.png "Lockscreen")

[2019-11-10 17:34] megasuperlexa commented on #362
sure, I have detailed instructions over here: https://github.com/megasuperlexa/audiobook-convert
Section "How do I upload my e-books to iphone".

Although I believe there are other messengers out there, that have the web-interface and an ability to send messages to yourself, but I just use Telegram on a daily basis, so I use that.

[2019-11-10 18:05] megasuperlexa commented on #362
oh, I didnt realize you wrote "WITHOUT internet", sorry. This method requires internet of course, but just for a brief period of uploading.

[2019-11-10 19:06] pichfl commented on #397
There is no defined behavior for this. MP4 container based audiobooks store the artwork as a single frame, MP3 does something different. Anything but the player screen is completely out of our hands. Consider writing a [bug report to Apple](https://bugreport.apple.com), but I don't think this will ever be fixed, transparency is not expected to work here.

[2019-11-10 19:06] #397 closed

[2019-11-10 19:24] pichfl commented on #362
@LarsaSolidor much easier alternative using only the local network and iOS13 is to use the Files.app to connect to a SMB or WebDAV share on your machine.

1. Depending on your Linux (see [here](https://tutorials.ubuntu.com/tutorial/install-and-configure-samba#0) if you use Ubuntu), configure a share.
2. Open the Files.app and tap the "…" in the upper right corner of the main screen.
3. Select "Con

[2019-11-16 15:52] ErinMorelli opened #398 "Last played postition being reset on bluetooth connections with autoplay"
* Do you want to request a *feature* or report a *bug*?

Report a bug

* What is the current behavior?

When I connect to my phone using bluetooth headphones (in this case, it is a pair of the Amazon Echo Buds) the app will start to auto-play the last book I was reading but go back to the beginning of the file instead of starting from where I had last stopped.

* If the current behavior is a bug,

[2019-11-16 19:29] GianniCarlo commented on #398
Hi @ErinMorelli ! thanks for reporting the issue. Have you seen if this happens with other books as well? Would it be possible that you share with us that book?

[2019-11-16 21:21] ErinMorelli commented on #398
Hi @GianniCarlo! Here's a link to the book that I am experiencing the issue with: https://emorel.li/398-audiobook (it's "The Subtle Knife" by Philip Pullman). I saw it happen with the first book of this series as well ("The Golden Compass") but I don't have access to that file any more.

[2019-11-18 21:32] cwagzz opened #399 "Can no longer import files via Google Drive"
I used to import files via Google Drive but now when I choose "open in" the app does not appear as an option.

I have also tried using the import function within the app to open directly from Google Drive and the files are faded out and I cannot select them to open into the app.

Has a recent iOS update changed the functionality of the app?

Also, the files are .m4b. I have checked with a few .m4b

[2019-11-19 04:25] panth opened #400 "Query cum feature - Export audiobooks from app"
Hi

I am using BookPlayer v 3.5.1-4 on iOS 12.3.1. I have recently taken a new android mobile so was trying to see if the books already imported into the app can be exported to a computer so that I can upload on the new mobile but could not see that. Any plans of having this feature built in ?

[2019-11-19 09:49] pichfl commented on #400
Files imported into the application can be exported from the Library using the "Export" option available from the menu that appears when swiping left on a book.

[2019-11-19 09:49] #400 closed

[2019-11-19 13:04] GianniCarlo commented on #399
hi @cwagzz , I recently downloaded Google Drive and did some tests. It looks like it's a Google Drive problem. I'll post my findings

[2019-11-19 13:31] GianniCarlo commented on #399
First, I was able to select both .mp3 and .m4b files I recently uploaded to my account

![IMG_F496BC4BADB4-1](https://user-images.githubusercontent.com/14112819/69149046-a573d400-0aa3-11ea-8c9a-d10fee5a308c.jpeg)

It would be great if you could share with us one of these files that can't be selected.

Problems I found:
* The message `Waiting to down...` when the file is selected, actually stays th

[2019-11-19 13:46] GianniCarlo commented on #398
I've been trying to reproduce this, but to no avail.

I've put the book at around 93% completion for the tests, I'm using airpods, which have a similar autoplay feature but it only kicks in if the audio was interrupted when one is taken off and put back in. The book when downloaded with safari it came with a .m4b.mp4 extension, but if downloaded with chrome, it does come only with the .m4b extensi

[2019-11-19 13:48] GianniCarlo opened #401 "iOS share sheet support"
When the user is sharing audio files from other apps, among the options in the share sheet, it'd be nice if BookPlayer is among the apps. This would cover more use cases for importing files into the app

[2019-11-19 13:50] GianniCarlo commented on #399
I've extracted the share sheet issue into #401 . The other issues regarding Google Drive sadly is out of our hands, and it relates on how they implement the file-provider support for iOS. I'm closing this issue, but feel free to continue the conversation 👍

[2019-11-19 13:50] #399 closed

[2019-11-19 13:51] GianniCarlo commented on #398
also a screen recording would be very helpful @ErinMorelli

[2019-11-21 14:01] Guy27 opened #402 "IOS 13 bug resets audiobook progress"
HI guys,

ever since i upgraded to ios 13 i'm experiencing this issue:
1. open the app and listen to your favorite audiobook.
2. close the app.
3. pull down the menu in ios from the top of the screen
4. click play (note that it won't recognize the app as the app is closed, and it's ok)
5. the phone will identify that Bookplayer was the last one to play so it will trigger a play event, and not the

[2019-11-21 14:45] ErinMorelli commented on #398
By "close the app" I meant force quitting from the app switcher.

I'm working on getting a screen recording of this for you.

[2019-11-21 14:50] GianniCarlo commented on #402
This seems to be related to #398 since @ErinMorelli confirmed that he also kills the app, and his echo buds are performing the play action described on your step 4.

Let's continue the discussion on #398

[2019-11-21 14:54] GianniCarlo commented on #398
@Guy27 also experienced this (steps described in #402), but without the need of bluetooth earphones. So I think the problem lies in closing/force-quitting the app and generating the play event to continue playing the book 🤔. I'll test this scenario and see if I can reproduce it (I'm currently on iOS 13.2.3)

[2019-11-21 15:00] #402 closed

[2019-11-27 00:33] anthonyattard opened #403 "Chapter List: Chapter Titles should not be abbreviated but break into multiple lines"
Would be nice to have a portrait mode so that long chapter names are fully visible. In portrait mode the names get cut off.

**Edit @pichfl** The chapter names in question are those in the Chapter List screen, see recording below.

[2019-11-27 12:02] pichfl commented on #403
Can you provide a screenshot where chapters names are cut off? We had scrolling labels in place to work around this, so if this does not happen any longer, this is a bug to be fixed.

An actual landscape player view is not something we plan to create right now.

[2019-11-27 18:12] anthonyattard commented on #403
Thank you for the prompt reply @pichfl . Please see the gif blow that shows a screen recording of me on the chapter pane for approximately 30 seconds during which the chapter names do not scroll. Hopefully this helps.![issue](https://user-images.githubusercontent.com/8838135/69748863-121f4c00-10fe-11ea-97b1-bc7887ab037e.gif)

[2019-11-28 09:44] pichfl commented on #403
Oh, the chapter names in the *Chapter List* are cut short. That is unfortunate and very much a bug.

The more obvious solution to this would be to allow the titles in these cells to break into multiple lines, which is a much smaller change than making a full blown landscape mode and allows users to see the full chapter names even in portrait.

If you have time to do so, this would be a very welcom

[2019-12-10 08:13] niv commented on #398
I was seeing the same behaviour in my car, but the BT connection is not needed to trigger the bug for me.

Repro steps:
* Open BookPlayer, pick any book (I tested 3 from varied sources), skip to any progress. Play a bit, then pause.
* Go ho home screen, swipe up to go to app switcher and kill Bookplayer by swiping it away (or open enough apps to evict it from memory)
* Swipe down in control center

[2019-12-11 20:28] TadDavisPhila opened #404 "Soft landing for sleep timer"
BookPlayer 3.5.1-4 on my iPhone12,1 running iOS 13.2.3

When sleep timer is set to anything other than Chapter End, set a mark at the selected time to resume playback, but allow audio to continue for another 30-40 seconds, gradually decreasing the volume to 0.

### Edit @pichfl

To simplify the above: Sleep timers currently pause the audio abruptly if the time option is used, which is not a pleasa

[2019-12-20 00:27] GianniCarlo commented on #390
completed in #406 by @clint015

[2019-12-20 00:27] #390 closed

[2019-12-20 17:49] clint015 commented on #105
I'm interested in tackling this one. Few questions:

- Do you want search to simply filter the library list based on the results (as opposed to using a search results controller with a different layout)?
- The `searchController` property on `UINavigationItem` was introduced in iOS 11. Do you have a preferred approach for adding the search bar for iOS 10 (such as a floating search bar attached to t

[2019-12-20 21:58] GianniCarlo commented on #105
That would be great @clint015 !
- Regarding how the filtered results and the search bar should look, I'll defer to @pichfl .
- Regarding the searchcontroller and the property on `UINavigationItem` it should be fine to go that way, we should also up the minimum version to iOS 11 as well (we've discussed this before and now should be a good time to do it)
- Regarding filtering post-fetch, yup, since

[2019-12-21 11:10] pichfl commented on #105
I'd use the same item layout for the results for now. If possible it would be neat to highlight the search term in the labels of the cell, but it's not necessary.

After discussion with @GianniCarlo I think we can move to iOS 11 as a baseline, which supports devices that were released >6 years ago, giving us an opportunity to use a more modern UI.

I'm not sure about the filtering, does this find

[2019-12-22 21:23] clint015 commented on #105
OK. I'll start down this road and PR something in the next few weeks that you all can take a look at.

[2019-12-26 15:09] allanlaal opened #407 "Android support?"
any plans on making this multiplatform?

[2019-12-26 21:08] GianniCarlo commented on #407
Hi @allanlaal , at some point I wanted to do it, but due to lack of time, I'd rather focus all my efforts on this version until it gets to multi-device support. Then it'd make more sense to me to start developing the app on Android

[2019-12-26 21:08] GianniCarlo commented on #407
closing this issue since it's out of scope for this repo. Feel free to continue the conversation though

[2019-12-26 21:08] #407 closed

[2019-12-27 04:41] GianniCarlo commented on #398
I think #408 is a possible solution to this problem, I'll let you guys know when I got a beta up and running in case you're willing to test it out

[2019-12-27 04:42] GianniCarlo commented on #392
This is solved by #408

[2019-12-27 11:08] pichfl commented on #407
I haven't used an Android device in years except for testing stuff, but you may want to take a look at https://github.com/PaulWoitaschek/Voice which might be a viable alternative to BookPlayer and is also Open Source. https://github.com/PaulWoitaschek/Voice

[2019-12-27 22:59] GianniCarlo commented on #398
@niv @ErinMorelli @guy27 guys I just uploaded a beta to TestFlight, it'd be great if you could help me test and see if the solution works 👌. Link to join: https://testflight.apple.com/join/FLv3zLyN

[2019-12-27 23:00] GianniCarlo commented on #392
@SaintNicholas I just uploaded a beta to TestFlight, it'd be great if you could help me test and see if the solution works. Link to join: https://testflight.apple.com/join/FLv3zLyN

[2019-12-28 14:54] niv commented on #398
@GianniCarlo Gave it a quick test on a second device and this particular issue seems solved! Couldn't get it to repro with any of the above mentioned cases.

[2019-12-29 17:11] ErinMorelli commented on #398
@GianniCarlo Been using the beta app for the last day without any issues or having my book restart!

[2020-01-03 09:13] boettges opened #409 "Dynamic Siri Shortcuts for the books in the library to jump to and (optionally) continue playback immediately"
Hey everyone,
a little **feature** suggestion:

There are books that are not meant for continuous reading/listening. Typical examples are those _"365 questions ..."_-style books, which consist of very short chapters that usually are read one by one on a daily basis.

It would be great to have the following Siri Shortcut suggestions from BookPlayer in the Shortcuts app to:
1) Jump to book X (withou

[2020-01-05 19:00] raquelxmoss commented on #341
Hey @sretlawd thanks so much, after switching from Android (and Listen, which was amazing) I've been looking for something similar. Any update on getting this merged into master and released?

[2020-01-05 21:15] sretlawd commented on #341
I run it personally, and it works but I think it’s still a little too sensitive and extends when you don’t want it to.  It might just be a matter of fine tuning the “what is a shake” algorithm, but I think it might be better to start playing soft tones (or fade out, ala Audible) for 10-20s and only enable the “shake to extend” function while that tone is in progress.  I was trying to figure out ho

[2020-01-06 05:54] raquelxmoss commented on #341
Thanks! This weekend I'll try and get your branch running on my phone. I'll take a look at the code and see if there's any way I can contribute, but tbh I'm a web developer not a mobile developer and I've been meaning to learn mobile development so that I can make iOS replacement for Listen, but I've been putting it off. You're saving me from having to learn iOS development 😅

[2020-01-06 13:28] GianniCarlo commented on #398
merged

[2020-01-06 13:28] #398 closed

[2020-01-06 13:28] GianniCarlo commented on #392
merged

[2020-01-06 13:28] #392 closed

[2020-01-12 19:36] Resonanz opened #412 "Improvements re OneDrive"
First, I love this app. Great work guys !!!

I am using the latest version on iPad and iPhone.

Problem 1. OneDrive performance is really bad. I have a 228 MD zip file that is available OFFLINE in OneDrive and it takes minutes to import after I do an "Add". And I am still waiting, and this is usual behaviour.

Problem 2. The menu when importing from OneDrive is confusing or at least overly complic

[2020-01-12 19:53] Resonanz opened #413 "iOS "Send to" BookPlayer"
A nice feature that would make importing a lot simpler would be to have the "Send to" menu link (box with up arrow icon) send zip files directly into the BookPlayer app.

[2020-01-12 19:59] GianniCarlo commented on #413
hi @Resonanz , I think #401 covers this as well, we can continue the conversation over there 🙂

[2020-01-12 19:59] #413 closed

[2020-01-12 20:06] pichfl commented on #412
The very moment you open the import files dialog you leave BookPlayer. First for the generic file dialog of iOS, then for the file provider of your choice (in your case OneDrive). We have no control over the UI or behavior there.

I can recommend using Zip archives (or even better to [convert your books into M4B](https://github.com/TortugaPower/BookPlayer/wiki/FAQ#how-to-combine-mp3-files-into-m4b

[2020-01-12 20:08] GianniCarlo commented on #412
Adding some more technical details to this, we're currently using [UIDocumentPickerViewController](https://developer.apple.com/documentation/uikit/uidocumentpickerviewcontroller) to provide wide access to other cloud providers without having the burden to individually integrate with each one of them. The problem lies in that it depends on both Apple's design of the component and the third-party ap

[2020-01-12 20:13] Resonanz commented on #401
I an trying to import from OneDrive and I cannot believe how close to impossible it is to do. OneDrive does not make it obvious whether the file is "Offline" or not, so the importing thing (I think) gets confused and just takes forever. If I try to import the same file (228 MB zip file containing MP3s) from the iPhone storage (not sure where exactly that resides on the phone itself) rather than fr

[2020-01-12 20:16] Resonanz opened #414 "Alarm starts while BookPlayer playing"
This happened a few weeks ago, so I note it here as a memory jogger.....

I was listening to an audiobook when a timer alarm started its alert. I stopped the alarm, and BookPlayer had also been (automatically) stopped, but I could no longer get it to play. The play button did not work and I had to restart the app.

[2020-01-12 22:39] pichfl commented on #401
As stated in #412, we are not in control of the UI provided by various file providers for iOS. To send feedback for OneDrive, use [their suggestion platform](https://onedrive.uservoice.com), to be honest, they could use your critique.

To keep the conversation focussed, let's continue in #412, this issue discusses the necessary implementation of a share sheet extension to improve the way out of a

[2020-01-12 22:43] pichfl commented on #414
We provide a template to be filled out when creating an issue which asks for a few core informations, we could really use them to learn more about your problem.

Please provide which device and what version of iOS and BookPlayer you have in use.
You can find the BookPlayer version number at the very end of the Settings screen inside BookPlayer, just above the Credits and Licenses item.

[2020-01-14 09:25] NemesiS153 opened #415 "Auto play not working - stops after every track"
Bug

Will not continue to next "track/chapter". Stops after each one. Different books have the same issue.
Have reset phone
Turned on/off Autoplay Library
Happens on all Book types

Version - 3.6.0-3
IOS 13.3
Iphone XS Max

[2020-01-14 09:41] niepiekm commented on #415
I was going to report that myself. After updating the app it won't play next track.

Version: 3.6.0-3
iOS 13.3
iPhone 7

[2020-01-14 09:49] NemesiS153 commented on #415
at least its not just me.

FYI, the app was updated overnight last night

[2020-01-14 13:03] mvesci commented on #415
Same here. Worked yesterday. After the latest update, app stops after each file. Not good while driving.

[2020-01-14 13:54] GianniCarlo commented on #415
Thanks for reporting this guys, we are looking into it

[2020-01-14 14:43] GianniCarlo commented on #415
fixed by #416

[2020-01-14 14:43] #415 closed

[2020-01-14 15:17] NemesiS153 commented on #415
that the speed of service we like 😄
thanks

[2020-01-17 08:36] Resonanz opened #418 "Failure when import from multiple cloud services"
I am running the latest BookPlayer 3.6.1-1 on iOS 13.3.

First, I love this app, so keep going !!! But.....

If I have a .zip file containing MP3 audiobook files, and I have downloaded it in the pCloud or OneDrive app so it is definitely offline and stored in full on my iPhone XR, then BookPlayer takes forever to Add it to itself. The message says "Waiting to down..." with the spinning circle thin

[2020-01-17 13:41] GianniCarlo commented on #418
This goes along the same lines as #412 . Let's keep the discussion regarding this topic over there

[2020-01-17 13:41] #418 closed

[2020-01-17 13:49] pichfl commented on #418
Have you tried going the other way?

Open OneDrive, tap on the … at the end of the file, select "Open in another app" from that menu and select BookPlayer from that dialog.

[2020-01-17 19:00] Resonanz commented on #412
@pichfl wrote in #418...

Wow, yes, that menu option exists. I had not noticed that BookPlayer option in OneDrive. So, testing..... My first attempt at a small zip file imported quickly. Weirdly, OneDrive (which is buggy as hell and poorly designed like most MS software) inconsistently shows the “Open in another app” menu. Of the 30 or so files in that OneDrive folder, the one I wanted failed to s

[2020-01-22 18:12] NemesiS153 commented on #382
I’m not sure how easy it would be to upload directly to watch, but overcast (podcast app) seem to have the balance really well done,

Current features -
Upload to phone
Sync to watch (with limits like, number of podcasts to sync)
Listen on watch, syncs position on phone
Simple watch interface to switch between iPhone control and direct watch control

Feels like the biggest user case is go to gym/r

[2020-01-27 12:34] winsmith commented on #254
Alternative idea: Many podcast players do this where the first, say, 3 times I tap the back/forward button, it jumps 30 seconds, but subsequent taps that occur within a second or so from each other jump 60, then 120, then 240 seconds. I'd love to see this in Bookplayer.

[2020-01-27 12:43] winsmith opened #420 "Tapping on a book in overview should start playback"
This is a feature request.

When I cold launch the app, I find myself in the overview of all books. Tapping on a book gets me to the Now Playing screen.

Currently, I need another tap, on the Play button, to start playback. Instead, I propose the book should start playing immediately after I tap on it in the overview screen. 🙂

[2020-01-27 14:18] GianniCarlo commented on #420
Hi @winsmith ! you can already do this if you tap the mini artwork on the overview/library screen. Let me know if that works for you

[2020-01-28 15:17] winsmith commented on #420
That doesn't seem to work... tapping on the artwork both in the table view as well as in the overlay just opens the Now Playing screen but does not start playback

![ezgif-3-4d2bbfe4525c](https://user-images.githubusercontent.com/954120/73276679-5c4da800-41e9-11ea-9623-ce960e65336c.gif)

----

Alternative suggestion: I just want to tap only once when returning to the app, not twice. And I don't *r

[2020-01-29 10:11] pichfl commented on #420
This seems to be a bug.

To verify: It does work if you dismiss the mini player. It does not if the mini player is present for the book you want to start. You can press the play button on the mini player for now, but this inconsistency must be resolved.

[2020-01-30 23:25] rragan opened #421 "Drag play head loses audio"
* bug
* Audio lost after dragging play head. Audio ok. Then grab play head and drag right some distance and Audio ceases even though time played counter continues up. Toggle play/pause does not help.
* What is the expected behavior? Audio continues from new place
* Please tell us about your environment:
    * Version of BookPlayer 3.6.1-1
    * Your Device and its OS version iPad Air, iOS 13.3.1.

[2020-02-02 11:16] Petahh commented on #341
Perhaps best idea is to lower volume when the time is coming up. This is not intrusive to already sleeping person, but if you are not yet sleeping you will notice it. Shaking phone would extend time and restore back to original volume.

[2020-02-03 23:31] GianniCarlo commented on #420
the bug is resolved in #422 and will be included in the next release 3.6.2 👍. Thanks for letting us know @winsmith

[2020-02-03 23:31] #420 closed

[2020-02-04 00:09] GianniCarlo commented on #421
@rragan I've been trying to reproduce it, would you mind attaching a video or gif with how you reproduced it?

[2020-02-04 06:03] Resonanz opened #423 "Sorting"
*Feature*

I just imported an audiobook onto my wife's iPhone. The chapters were titled:

Chapter One
Chapter Two
...
Chapter 25

* What is the current behavior?
The first thing she asked me was why the ordering was wrong,.e.g. NOT in the order above. I suggested sorting by name in alphabetical order. That gave the wrong order. Sort by original file name did work, but neither of us have any idea w

[2020-02-04 09:45] pichfl commented on #423
We can't support natural language processing for chapter names, as they could be in any possible language and books themselves might contain numbers which means this would never deliver reliable results. I can count in German and English and probably in Italian, Spanish, Latin and French, but I'm lost for Russian, Chinese, Japanese, Polish and the vast number of other languages on our planet, not

[2020-02-08 18:55] KNiehus opened #425 "Feature request costume playback speed"
I would like to request a feature.
Currently one can change the playback speed of the audiobook by tapping on the '1x' button and is the offered a variety of speeds raining from 0.75 to 2x in quarter increments as well as 2.5x.

When I listen to podcast I usually listen to them on 1.2x speed because I like to have everything a little faster. However, the option to that is 1.25x which is just a lit

[2020-02-08 21:04] pichfl commented on #425
A quick search should have brought up #224 and #281 which both are in consideration and will be implemented in the near future. Thanks for you vote on this, you are not alone when it comes to requests for finer grained controls and we will provide them hopefully soon and in a way that is easy to use.

[2020-02-08 21:04] #425 closed

[2020-02-10 20:33] iamhenry commented on #127
Hi all. I'd like to thank you all for the hard work that is going into this amazing project.

I wanted to see if there's been an update as to when the bookmark feature will be implemented?

Thanks again!

[2020-02-10 22:58] GianniCarlo commented on #127
Hi @iamhenry , this is currently on hold on my part, since it depends on a redesign (which state can be seen if you run the branch `feature/player-redesign`). Currently on my plate is to take up localization again and finish it this time, then refactor importing files, then finish redesign so bookmarks are supported 👌. If anybody is up to tackle this feature so we can have it earlier, please feel

[2020-02-11 22:31] patjolata opened #426 "3.6.2-1 Sleep Timer doesn't display remaining time in Player toolbar"
Since the update today the app is no longer showing the remaining time next to crescent moon symbol/sleep timer (see screen shot). The remaining time used to be to be displayed before.

![E9C1D3A9-1062-4A84-BEA7-FF4EE5E400A5](https://user-images.githubusercontent.com/53347808/74285608-87c2ad80-4d26-11ea-85ac-30f7c0fcac8f.jpeg)

* BookPlayer: 3.6.2-1
* Device: iPhone SE
* iOS 13.3.1

[2020-02-12 23:51] GianniCarlo commented on #286
Hi guys! Sorry for the delay on this issue, but we got the basis working on the PR #427, and I've added all the translations that we had on lokalise.com. I've also updated lokalise.com with all the missing keys that have come up with the new changes and features.

At your convenience, please help us out to finish the translations again so we can release it in the following weeks 👌

cc @Nibelungc @

[2020-02-14 08:58] pichfl commented on #426
The remaining time should show instead of the Moon while the timer is running.
For some reason this isn't true when selecting "End of current chapter", we will investigate.

[2020-02-14 09:05] patjolata commented on #426
@pichfl At the start it looks like that:

![IMG_3207](https://user-images.githubusercontent.com/53347808/74516829-670a7b80-4f11-11ea-8030-c9a88f442882.jpeg)

And later it changes to the behaviour with noch remaining time at all shown in my first post.

[2020-02-15 00:01] NCrusher74 opened #428 "Series Management"
I don't know how I didn't stumble upon this app last spring when I first started listening to AudioBooks, but I really love it so far.

There are just a couple features that I can't find ANYWHERE, and I've even started learning Swift in order to make my own apps that include them (particularly a library maintenance app for non-DRMed audiobooks for MacOS) but while I'm steadily plugging away at tha

[2020-02-15 10:17] pichfl commented on #401
BookPlayer already shows in the iOS share sheet, it might just be buried into the "More" section of the iOS 13 share sheet.

[2020-02-15 10:17] #401 closed

[2020-02-15 10:22] pichfl opened #429 "Chapter navigation"
Feature Request extracted from #428 <q>(also, Chapter Nav buttons should totally be a thing.)</q>

![](https://user-images.githubusercontent.com/56804260/74577168-bae18880-4f42-11ea-89ef-633b4f7f38f5.png)

[2020-02-15 10:39] pichfl commented on #389
While answering #428 I noticed I haven't provided a strategy for handling book parts which have chapters themselves.

I propose to keep the chapters from individual parts and adding the title of the part as additional meta data in some way.

eg. for
| File | Chapters |
| ---- | ---- |
| Lord of the Rings - The Fellowship of the Ring - Part 1.mb4 | Foreword, Prologue |
| Lord of the Rings - The Fel

[2020-02-15 10:53] pichfl commented on #428
No need to apologize for a long request, it might just be an indicator, that you're actually requesting multiple things. I'll try to answer as much as I can right away. I also extracted #429 to handle the discussion for the chapter navigation.

**A quick solution for your problem from ancient days:** Start your file names with a zero prefixed number. Sorting is applied alphanumerically, which mean

[2020-02-17 20:52] NCrusher74 commented on #428
True. My rationale for beginning to learn Swift and making my project an audiobook library manager is the fact that I'm a moderately obsessive bibliophile who surrounds herself with other bibliophiles, I tend to forget that not everyone is that obsessive about their libraries (jeez, Nolaine, relax, some people just wanna chill with a book and don't care, okay?)

Series management has always been a

[2020-02-18 10:28] pichfl commented on #428
I don't want to keep you from learning Swift or contributing though! We have many issues marked as [help wanted](https://github.com/TortugaPower/BookPlayer/labels/help%20wanted) were you can contribute. I also marked a few of them as [good for beginners](https://github.com/TortugaPower/BookPlayer/labels/good%20for%20beginners), which means they should not require super complex code changes.

[2020-02-22 01:47] GianniCarlo commented on #286
@carcade can you still help us with Russian localization?

[2020-02-22 03:18] hypeitinc commented on #286
Hi Gianni,

I will continue on the Swedish translation. Not sure how much time I can spend on it right now so the obvious question, when would you like to release it?

/peter

[2020-02-22 10:39] GianniCarlo commented on #286
@hypeitinc  Ideally I'd like to release it by the end of February, but let me know once you've taken a look (there's around 90 new keys) and estimated when you could have it done in your free time so I can readjust my expectations 🙂. We could do the release with the 4 languages we already have 100% (English, Spanish, German, Czech) and add new ones down the road in later versions, so no pressure 👍

[2020-02-23 13:19] carcade commented on #286
Yes, how can I participate?

[2020-02-23 13:22] GianniCarlo commented on #286
@carcade we need an email to invite you to the platform lokalise. You can either post it here, or send it to us to support@bookplayer.app 🙂 Thanks again

[2020-02-23 13:39] carcade commented on #286
I sent a message to support@bookplayer.app, you can use that email address.

[2020-02-23 13:40] GianniCarlo commented on #286
great! invitation sent 👍

[2020-02-23 19:16] Team-Hufflepuff opened #431 "Bug: Player crashes when trying to use AirPlay"
I'm trying to use [AirServer for Mac](https://www.airserver.com/Mac) to AirPlay my audiobooks to my Mac, and the app crashes when I connect to AirPlay and hit Play. AirServer/AirPlay is working fine for other apps on my phone, like Castro, my podcast app.

I'm using an iPhone XR on 13.3.1 and BookPlayer is running 3.6.2. Let me know if you need more information!

[2020-02-23 22:29] GianniCarlo commented on #431
Hi @Team-Hufflepuff , I just downloaded AirServer, and tried it, and it only works when it's in the mirrored mode, if the mac is just selected as a speaker, it looks like airserver crashes on my laptop, and then the audio never starts, see following gif:
![crash-airplay](https://user-images.githubusercontent.com/14112819/75121413-b6fbe780-5661-11ea-9043-3fe58b534b1a.gif)

I'd like to see if airpla

[2020-02-24 08:52] pichfl commented on #431
I can't get it to work either, but it doesn't crash on me. I am able to use AirPlay on the Apple TV 3rd gen though.

[2020-02-24 19:54] hypeitinc commented on #431
I can use it on Apple TV and also on AirServer on a MacBook. In both cases only if I go into mirrored mode. Then the airplay button in the app has no effect, neither has the control panel. I cannot pipe it to either by just using the airplay button. (The AirServer does not crash though)

[2020-02-24 21:17] Team-Hufflepuff commented on #431
I should probably clarify, BookPlayer is what’s crashing on me, not AirServer.

[2020-02-24 21:30] pichfl commented on #431
What type of audiobook are you playing? (mp3/m4a/m4b?)

[2020-02-24 22:51] hypeitinc commented on #431
I have tried with mp3, m4a, wav.
Another observation: If I set the "Add a Lossless Quality Receiver" in AirServer/Audio, then I can play as expected (without mirroring). Weird thing then though, the AirServer notification for what track is playing keeps popping up (on the MacBook) every 5 seconds or so.

[2020-02-26 04:07] GianniCarlo commented on #426
Thanks @patjolata , #432 fixes this issue and it will be released on the next version 👌

[2020-02-26 14:23] #426 closed

[2020-02-26 22:27] #286 closed

[2020-02-27 10:52] pichfl commented on #431
@GianniCarlo is there any chance this could be related to the new audio engine we use?

[2020-02-27 14:31] GianniCarlo commented on #431
mmmmm did it work in 3.5.x? out of the list of [these requirements](https://developer.apple.com/library/archive/documentation/AudioVideo/Conceptual/AirPlayGuide/EnrichYourAppforAirPlay/EnrichYourAppforAirPlay.html), I think the only we haven't done yet (or made sure of at least) is that the audio is properly routed 🤔. AVPlayer does have a property [allowsExternalPlayback](https://developer.apple.c

[2020-02-27 14:34] GianniCarlo commented on #431
mmmm it looks like `allowsExternalPlayback` was renamed from `allowsAirPlayVideo`, and according to [this answer](https://stackoverflow.com/a/8808838/2105150) from StackOverflow, if we're just using audio, then we should set `false` to that flag

[2020-02-27 14:57] GianniCarlo commented on #431
O: it does work, the fix is included now in the upcoming 3.7.0 release

[2020-02-27 14:57] #431 closed

[2020-02-29 07:18] rayshan opened #435 "Does BookPlayer support ReplayGain?"
Specifically the ones processed with this app: https://projects.sappharad.com/mp3gain/

Thank you for all your work on this wonderful app!

[2020-02-29 13:31] GianniCarlo commented on #435
Hi @rayshan , from the link you provided:

This version of MP3Gain does three things. It can:
Analyze MP3 files and write the volume information to a tag without changing the audio data itself. This is useful if you have a player that supports "ReplayGain" tags. (Not iTunes or iPods, so mostly useless on Mac OS X)

Since ReplayGain don't actually re-encode the audio file, and only writes the infor

[2020-03-01 21:45] rayshan commented on #435
Thank you @GianniCarlo, I can re-encode, so it's not a must-have for me. It may still be helpful for others though. Feel free to close the ticket.

[2020-03-01 23:10] GianniCarlo commented on #435
👌 let us know if you have further questions

[2020-03-01 23:10] #435 closed

[2020-03-19 20:13] steve4jobs4 commented on #428
It would be nice to have an optional cover view. For instance in each row two or three audiobook artworks / covers. But only the artworks without any text below. And that you can switch between cover view and the regular list view.

![Konzept](https://user-images.githubusercontent.com/62400793/77110295-a69f1880-6a25-11ea-8ca6-ecdcf596176c.jpeg)

The second idea that I have in mind is an option whi

[2020-03-20 09:44] pichfl opened #437 "Library Revamp: Cover view"
Requested by @steve4jobs4 and also considered by myself for some time (I have some sketches of this).

#### Things still to discuss

- [ ] We have to make sure that this works for items without cover artwork as well
- [ ] Maybe even different sizes?
- [ ] Investigate how others are doing this (Apple Books, etc)

[2020-03-20 09:48] pichfl opened #438 "Player: Hide controls completely when playback is started"
Extracted from #428 / @steve4jobs4

[2020-03-20 09:50] pichfl commented on #428
@steve4jobs4 I extracted all your requests into separate issues, as they are not quite related to this one here. Since you're new to GitHub: Please be mindful about other peoples time, issues should be focussed on a single topic.

- See #437 for the enhancement request for a library view based on cover images
- See #438 for discussion on the controls
- See #230 (which has been around for more than

[2020-03-20 09:57] pichfl commented on #230
+1 from @steve4jobs4 for this.

----

We are planning for this, but the iPad UI is a big task and it requires a lot of work both on my design side as on the code side. We also wanted to have a sync solution in place before we actually implement it so moving from one device to the other as seamless as possible.

@GianniCarlo and I did discuss about moving the UI forward and adding the sync later bu

[2020-03-20 10:12] pichfl commented on #438
We are preparing a new player UI which will handle the controls differently.

[2020-03-20 10:12] #438 closed

[2020-03-29 09:13] halleygen opened #440 "Launch screen not adapted for dark mode"
* Do you want to request a *feature* or report a *bug*?
Bug

* What is the current behavior?
The launch screen remains white when device is set to dark mode.

* If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo / screenshot / screen recording of the problem.
Launch the app in dark mode. Ensure the device's brightness is not too high lest your ey

[2020-03-29 10:57] pichfl commented on #440
Thanks for bringing this to our attention.

@GianniCarlo if you need new design assets ping me.

[2020-03-29 17:55] GianniCarlo commented on #440
It seems like the fix is an easy one when using the system dark mode: https://stackoverflow.com/a/56892137/2105150

[2020-03-29 21:05] GianniCarlo commented on #440
Fixed in: https://github.com/TortugaPower/BookPlayer/pull/441

[2020-03-29 21:05] #440 closed

[2020-04-06 19:40] morpheus12 commented on #230
@pichfl can we support you with beta testings for ui or something like that (e.g. with testflight)?

You've created the best app i've seen the last 12 months. Now it seems like that i'll be able to replace the real ipod. If i can support with testing: very welcome!

[2020-04-06 19:48] pichfl commented on #230
@GianniCarlo does the development, I mostly do the design of the app. Testing is nice, but to really support us we need people join into the development effort, @GianniCarlo can only do so much on his own.

I'm glad you enjoy what we managed to get done so far, it is the best part of the day to read about people enjoying what we created here. Enjoy and tell other people 🙂

[2020-04-09 10:17] jxyddtc opened #445 "*feature* Please fit in iPad soon😭"
I really enjoy this app, but the unfit ui makes me sad.

[2020-04-09 14:45] GianniCarlo commented on #445
The app is currently intended to be used in an iPhone, there's no native support for the iPad yet. Also please refer to the open issues list to avoid duplicating issues, anything iPad-support related should go in this one: https://github.com/TortugaPower/BookPlayer/issues/230

[2020-04-09 14:45] #445 closed

[2020-04-10 14:27] iverik-no commented on #362
Just started using BookPlayer, and I'm throwing my vote in for wanting the transfer via wifi in a browser thing :+1: Keep up the great work, and enjoy the coffee <3

[2020-04-15 19:05] crozo5 commented on #338
Is a short-term solution planned?

[2020-04-15 21:11] GianniCarlo commented on #338
I think we can solve this now, for 3.8.0 we implemented a custom Intent for the sleep timer shortcut, and I'll write my findings here.

With the custom intents (or the intent definition file), we can bring background support to avoid requiring the user to unlock the phone, there's only one problem when it's a custom one, there's no direct communication with the main app, and while we have separate

[2020-04-16 09:29] mhertsch opened #447 "AirPods start/stop control does not work with faster playback speed"
Bug: AirPods start/stop control does not work with faster playback speed

Current behavior: When I am playing an audio file with playback speed >1.0 and double tab my AirPods to stop playback, the playback does not stop.

Expected: Double tab AirPods to start or stop works with all playback speeds

As far as I have tested, this does not happen with playback speed 1.0 or lower. I tried it with 1.25

[2020-04-16 14:24] sofquipeut opened #448 "Bookplayer and accessibility with VoiceOver"
I'm a blind user of Bookplayer. The app has a clear interface and is usable for a visually impaired person using Voiceover. And for blind persons, audiobooks are crucial. However, I can suggest some further improvements to get it even more comfortable.
- Adding the skip control button under the "more" button in the player view to be able to change the skip interval on the fly.
- With VoiceOver, we

[2020-04-18 04:05] GianniCarlo commented on #338
#449 fixes this with the introduction of a new shortcut 👌

[2020-04-18 04:15] GianniCarlo commented on #409
3.8.0 will introduce the Intents extension, which opens up these possibilities. I've added a new resume-last-played shortcut, which can be ran in the background, and also a sleep timer shortcut, which can't be run in the background sadly (because of some limitations explained here https://github.com/TortugaPower/BookPlayer/issues/338#issuecomment-614282470).

But the basis for new shortcuts is set

[2020-04-18 04:22] GianniCarlo commented on #391
I'm happy to report that this was fixed I believe either in one of the 3.7.x iterations 🙂. Thanks for reporting this @0x6C77

[2020-04-18 04:22] #391 closed

[2020-04-18 04:28] GianniCarlo commented on #381
This should be already fixed in one of the interations of 3.7.x 🙂. Feel free to reopen if you find a case where it doesn't 👍

[2020-04-18 04:28] #381 closed

[2020-04-18 13:17] crozo5 commented on #338
Is an app update necessary? I don't see any new shortcut in the app and the old shortcut keeps asking me to unlock the screen.

Thanks

[2020-04-18 22:08] GianniCarlo commented on #338
@crozo5 we haven't released a new version yet, but we'll soon have it available in the appstore 👌

[2020-04-18 22:50] #338 closed

[2020-04-20 21:54] crozo5 opened #450 "New shortcut sleep timer"
The shortcut "Sleep timer" doesn't work when I select "Sleep at the end of current chapter" in the options.

And when I select the seconds option in the shortcut, the countdown starts even if the audiobook is paused.  Although that's a minor problem.

[2020-04-20 22:18] GianniCarlo commented on #450
Hi @crozo5 , are you on the latest version 3.8.0 (that was just released to the appstore today)? on the last beta from yesterday, we fixed the lack of feedback for that option. You should now see next to the moon icon the word `On` if you're running BookPlayer in English.

We currently don't show the seconds remaining in that option, due to how it works. It sets a listener for the events of when a

[2020-04-20 22:32] crozo5 commented on #450
I have the latest version of the App store (3.8.0).  If I activate the sleep timer option "End of current chapter" manually from the App, the word On appears next to the moon.  The problem is when I activate it through the new shortcut, if I activate the "Sleep at the end of current chapter" option from the shortcut, a -2 appears next to the moon and after 2 seconds more or less it disappears.

[2020-04-20 22:35] GianniCarlo commented on #450
Oh damn, yeah I just saw it, thanks for the heads-up. I'll update the app with a fix

[2020-04-21 00:00] GianniCarlo commented on #450
#451 solved this, and it will be included in 3.8.1, which should be available as soon as Apple approves it

[2020-04-21 00:01] #450 closed

[2020-04-28 14:23] elvinmahmudov commented on #378
@pichfl I agree with @patjolata , could you please add this feature?

[2020-04-28 15:41] pichfl commented on #378
We still have to support devices with a 3.5" screen (first iPhone SE). We did evaluate this for the next design of the player UI, were it will be an optional element for langer devices.

[2020-05-01 10:25] GianniCarlo commented on #403
This is already solved and will be launched in the upcoming 3.8.2 version #454

[2020-05-01 10:25] #403 closed

[2020-05-02 14:50] grzkv opened #455 "App shuts down repeatedly"
After todays update app halts all the time, roughly every 20 minutes of listening.

BookPlayer 3.8.2-1
iPhone 7 - iOS 13.3.1

[2020-05-02 22:51] GianniCarlo commented on #455
Hi @grzkv , just to be clear, the app is crashing on background while you're listening?

[2020-05-03 10:36] grzkv commented on #455
Hi @GianniCarlo!

I am observing two scenarios:
1. App crashes in the background
2. App crashes when I scroll across a long playlist. When scrolling, it first becomes laggy, and then the crashes.

[2020-05-04 02:23] GianniCarlo commented on #455
I'm seeing crashes when the OS notifies the app that an interruption is over, and it should resume the audio:

<img width="682" alt="Screen Shot 2020-05-03 at 21 20 17" src="https://user-images.githubusercontent.com/14112819/80932168-e4f95880-8d83-11ea-9157-cfc54c96d53b.png">

So this crash is happening because when BookPlayer tries activate the audio session and get a hold of it so it can start r

[2020-05-05 19:15] iamLoi opened #456 "Feature Request: Voice Boost and Smart Speed"
Great app! I just found this app after using the default Book application, which works fine, but seems dated and too basic for me.

Before I found this, I thought Overcast was probably the best available app for listening to audio thanks to the Voice Boost and Smart Speed feature. Unfortunately, the dev has not made it easy to listen to audiobooks, so trying to load your own media files to Overcas

[2020-05-05 19:33] pichfl commented on #456
Glad to hear you enjoy our app!

Short answer: No.
Long answer: Both these features are not only unique selling points of Overcast, but also were created using a deep knowledge of audio processing and are likely highly complex pieces of code.

This is a hobby project and keeping it running keeps us busy as it is. The only way to include new features faster is to download Xcode and get started your

[2020-05-05 20:16] iamLoi commented on #456
It's all good, I thought so but just thought I'd ask.

I think this is something much more doable: Currently I'm only seeing sort by Title or Original File name, so it would be great if there was a way to sort audio files played by most Recent (recently played).

[2020-05-05 21:58] GianniCarlo opened #457 "Open playlist with current book playing in the middle"
Request by Shamoun via email support

If a playlist is too big, it's cumbersome to constantly scroll and reach the current book to either go forward or backwards in the playlist.

With this change, when opening the playlist, it will already be scrolled to the current playing book, and we could take this further, by applying this to all playlists with the condition that if the current playing book

[2020-05-06 00:11] huynhxloi opened #458 "Bug Report: Something's not right with Siri commands"
Bookplayer does not execute Siri commands correctly (or at all). For example, if I have the app playing and say "Hey Siri rewind by 10 minutes", there is no responding action. Occasionally, it will rewind but not by the specified time.

[2020-05-06 08:20] pichfl opened #459 "Library: Sort by recently played"
Extracted from #456 - https://github.com/TortugaPower/BookPlayer/issues/456#issuecomment-624282846

[2020-05-06 08:22] pichfl commented on #456
@iamLoi Same deal. I extracted your request into a separate issue at #459 so it's easier to be found and further discussion should happen there. That one is actually a good start into the Swift world as it should merely be adding a third option to the ones that already exist.

[2020-05-06 08:24] pichfl commented on #458
Hi @huynhxloi. The [original template](https://github.com/TortugaPower/BookPlayer/blob/master/.github/ISSUE_TEMPLATE.md) for issues exists for a reason, we can only help you if you give us more details.

Please tell us about your environment:
- Version of BookPlayer
- Your Device and its OS version
- If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2020-05-06 11:42] grzkv commented on #455
There were no interruptions to my best knowledge.

If there were interruptions, I would not consider this a bug. I guess, it is expected that playback stops after an interrupt.

This scenario happens more frequently than the other one.

[2020-05-06 13:04] huynhxloi commented on #458
- Version of BookPlayer: 3.8.2-1
- Your Device and its OS version: iOS 13.4.1
- If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo / screenshot / screen recording of the problem:
  - While an audio is playing, give the command "Hey Siri rewind by 10 minutes". The player occasionally rewinds, usually 10-15 seconds (it varies), but never by the spe

[2020-05-06 13:06] huynhxloi commented on #458
- Version of BookPlayer: 3.8.2-1
- Your Device and its OS version: iOS 13.4.1
- If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo / screenshot / screen recording of the problem:
  - While an audio is playing, give the command "Hey Siri rewind by 10 minutes". The player occasionally rewinds, usually 10-15 seconds (it varies), but never by the spe

[2020-05-06 13:07] huynhxloi commented on #458
- Version of BookPlayer: 3.8.2-1
- Your Device and its OS version: iOS 13.4.1
- If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo / screenshot / screen recording of the problem:
  - While an audio is playing, give the command "Hey Siri rewind by 10 minutes". The player occasionally rewinds, usually 10-15 seconds (it varies), but never by the spe

[2020-05-06 13:09] huynhxloi commented on #458
- Version of BookPlayer: 3.8.2-1
- Your Device and its OS version: iOS 13.4.1
- If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo / screenshot / screen recording of the problem:
  - While an audio is playing, give the command "Hey Siri rewind by 10 minutes". The player occasionally rewinds, usually 10-15 seconds (it varies), but never by the spe

[2020-05-06 13:19] iamLoi commented on #459
I may be able to take a stab at this. Could you give me some direction - for instance, which class does the library gets loaded and where are the sorting options that I need to change? My hunch would be the PlayListSortOrder within BookSortService class, is this correct and is that the only place that changes need to be made?

[2020-05-06 13:44] GianniCarlo commented on #459
Hi @iamLoi !, that would be great, since the Watch app was introduced (or maybe CarPlay 🤔 not sure right now), the `LibraryItem` abstract class has had the `lastPlayDate` property. That could be used to sort the books by recently played (actually for CarPlay we put `getItemsOrderedByDate` in the Library class)

But well, yes you're on the right track, within `BookSortService` in the enum `PlayList

[2020-05-06 13:48] GianniCarlo commented on #458
Hi @huynhxloi , that is currently not implemented, we only support remote commands for rewind/forward with the already fixed interval selected within the app. This would need to be investigated and find out how Siri passes the stated value to the app, so it can be parsed and applied

[2020-05-06 13:48] GianniCarlo commented on #458
I'm tagging this as a feature request

[2020-05-06 16:22] GianniCarlo commented on #459
Let me know if you got any other question 👍

[2020-05-06 19:31] huynhxloi commented on #459
Any commands or anything I need to run to get all the dependencies ready to build/run the project? This project uses Carthage so I ran `carthage update --platform macOS` but it's showing Carthage as deprecated (?) and runs still fail due to different modules not available (SwiftReorder in particular). I haven't done much Swift or Xcode programming so this is new for me.

[2020-05-06 19:32] iamLoi commented on #459
Any commands or anything I need to run to get all the dependencies ready to build/run the project? This project uses Carthage so I ran `carthage update --platform macOS` but it's showing Carthage as deprecated (?) and runs still fail due to different modules not available (SwiftReorder in particular). I haven't done much Swift or Xcode programming so this is new for me.

[2020-05-06 20:37] iamLoi commented on #459
I made another branch and pushed my changes. Please verify and let me know if there's anything missing, otherwise feel free to merge it.

[2020-05-06 20:42] pichfl commented on #459
@iamLoi ❤ thanks for joining the effort. To allow us to merge or review your work, you need to create a fork and create a pull request.

[2020-05-07 06:29] GianniCarlo commented on #459
@iamLoi I'll leave my comments on the PR 👍

[2020-05-08 06:15] pszabop opened #461 "How to import mp4 books via attachments or Airdrop"
There are some publishers who are using MP4 as a format because it is very high quality and simple to produce.

On IOS, all MP4 files automatically go to Library which isn't accessible from Bookplayer.  IOS refuses to allow any choices when Airdrop is used or an MP4 file is clicked on via an email.

This isn't a feature request to add importation from Library for an audio book (though that would b

[2020-05-08 20:26] huynhxloi commented on #458
Ah I see. I would love to have this feature. I listen to long audiobooks (upwards of 40 hours) so jumping by 15 or 30 seconds just isn't going to cut it. With the Airpods Pro, using Siri to rewind/forward is great and very convenient, but only if it can jump by custom values.

[2020-05-10 15:00] GianniCarlo commented on #461
mmmmm we could actually do that, I mean register for mp4 files 🤔. Since we changed `AVAudioPlayer` for the generic `AVPlayer`, in theory, we shouldn't have any problems 🤔

[2020-05-11 21:49] rastaman111 opened #462 "System black background"
Hello!

I'm interested in your code on a dark topic.

A question such as you in your application turned off the system theme theme?

[2020-05-12 04:31] GianniCarlo commented on #462
Hi @rastaman111 , I'm not quite sure I understand, do you mean if we support dark mode? Linked to the phone dark mode configuration? If so, yes we already support that, from within the app's settings > Theme > 'Use system mode'

Let us know if that's not what you mean

[2020-05-12 05:30] rastaman111 commented on #462
I meant that when the phone has a dark topic, by going into the application it is still white, I did not find in info.plist responsible for this.

[2020-05-13 12:44] GianniCarlo commented on #462
This is what I meant in regards to the UI, if you have that on, then the application will turn dark alongisde the rest of the iPhone
![IMG_2D8F3335F2EF-1](https://user-images.githubusercontent.com/14112819/81813571-4096b500-94ed-11ea-83d5-7892b811c310.jpeg)

If you mean where in the code everything happens, there's a class called `ThemeManager` which handles theme changes

[2020-05-13 12:52] rastaman111 commented on #462
I found this in the code, but I can’t figure out how to do it myself, copied it and it doesn’t work

[2020-05-13 13:04] GianniCarlo commented on #462
If you're interested in handling themes in your app in a similar fashion as BookPlayer does, you can use the dependency https://github.com/GianniCarlo/Themeable (which was forked from https://github.com/latenightswift/night-mode ) and compare how BookPlayer makes use of that 👍

[2020-05-16 16:18] GianniCarlo commented on #457
solved by @michaelh03 in #463

[2020-05-16 16:18] #457 closed

[2020-05-17 21:56] joelouthan opened #464 "Playing books directly from the Apple Watch"
Not really requesting but I have to ask: is it possible to stream through my Apple Watch with cellular?

Or do I need to sync the mp3s to my Watch?

I just want to leave my phone at home.

[2020-05-18 08:55] pichfl commented on #464
We do make efforts that should make it possible to sync Libraries between devices, including the Apple Watch.

Involved complexity:

- not everyone uses MP3s, in fact we encourage usage of M4B containers, which can easily reach hundreds of megabytes in size
- syncing has to happen locally via wifi, as sending gigabytes over the internet won't work for all users
- We need additional UI that shows s

[2020-05-18 14:07] joelouthan commented on #464
Good to go. I was ignorant of the limitations. Thank you for run down.

[2020-05-19 19:33] pichfl commented on #464
Let's keep this open, just because we can't do it right now doesn't mean we won't be able to do it in the future 🙂

[2020-05-20 20:10] parhamdoustdar opened #465 "Can't Navigate Chapters With VoiceOver"
This is a bug when using the app with VoiceOver.

I'm not able to navigate by chapters. I expect that the option would be available somewhere in the player.

Here are the steps to reproduce:

1. Open Book Player, and open an audio book with VoiceOver running.
2. In the player, swipe to the right/left. You will notice that there are no options accessible to move between chapters.

This could just b

[2020-05-24 08:49] steve0086 opened #466 "Audio cuts-out ~3:20-3:40 into a >30 min mp3"
* Do you want to request a *feature* or report a *bug*?
* What is the current behavior?

BUG Audio cuts-out ~3:20-3:40 into a >30 min mp3. It seems all tracks in 2 of my audio books cuts out roughly 3:30 into the track. The player continues, but there is no sound - playing the track in any other player works.
iPhone 11+
54 Tracks imported from iCloud as a playlist
Alternatively I tried a 12 hour m

[2020-05-24 09:49] pichfl commented on #466
Given it doesn't happen when using a different file and I'm unable to replicate this with any of the various testing files, there is most likely something wrong with that MP3.

It may work fine in other players, but the playback engine we use (because it is integrated in iOS and therefore low on energy consumption while still offering everything we need) may be a bit finicky when it comes to files

[2020-05-25 00:01] crozo5 commented on #450
Is it possible to make the sleep timer shortcut run without unlocking the iphone?

Thanks

[2020-05-25 00:10] GianniCarlo commented on #450
@crozo5 hi!, unfortunately not at the moment, for system shortcuts like the new resume book that we introduced in 3.8.0 (I think), it's possible since we can send the event to the main app on background, and it will handle it with no problems, but for fully custom shortcuts, that option is not available, instead it's handled by the shortcut-app-extension, which due to it not being able to directly

[2020-05-25 18:36] GianniCarlo commented on #465
Hi @parhamdoustdar ! thanks for reporting this, 🤔 I was planning to hold off the next release until we can do the major release with the rework of the file structure, but this may be a fix worth justifying another patch version, and then we can also introduce the Romanian translation

[2020-05-25 18:37] GianniCarlo commented on #465
just as a clarification, are you listening to books split among multiple mp3 files? or the ones represented by single m4b files?

[2020-05-25 20:28] parhamdoustdar commented on #465
Thanks for considering a patch for this!
I'm listening to a single M4B file.
I just tried this with another M4B file and the "Chapters" button does get
read out. Is this button maybe hidden if the M4B has no chapters marked?

On Mon, May 25, 2020 at 8:37 PM Gianni Carlo <notifications@github.com>
wrote:

[2020-05-25 22:42] GianniCarlo commented on #465
Yeah that's usually the case, if there are no chapters metadata in the file, which is common for mp3s, then the chapter button is hidden. In that case the solution would be to add the next track functionality. But in this case, if the button is showing up, I think we can do something better with a custom rotor, to enable fast jumping between chapters when available 🤔

[2020-05-26 08:24] parhamdoustdar commented on #465
Having the ability to jump quickly between chapters using the router would
be great.
However, it seems like my original reported issue is not valid, because the
chapters button does show up when the metadata is available – it's just
that it wasn't available in that file.
So, you could close this issue if you like.

On Tue, May 26, 2020 at 12:42 AM Gianni Carlo <notifications@github.com>
wrote:

[2020-05-26 13:26] GianniCarlo commented on #466
Echoing what @pichfl said, it's been consistent that when this was reported via mail support. After doing the validation with ffprobe of the files, and the user running ffmpeg or another converter for the file, then the duration header gets fixed, and the issue goes away

[2020-05-26 13:28] GianniCarlo commented on #465
Naah, we do have a problem, and it's that we're hiding the button, we should keep the button and show it disabled so VoiceOver picks it up as well. The custom rotor feature could be extracted into another issue though

[2020-05-26 20:28] patjolata commented on #455
@GianniCarlo Is this also the reason why I see the app crashing always after I opened it and enter the chapters? Was just wondering or should I open a new issue?

[2020-05-27 04:19] GianniCarlo commented on #455
hi @patjolata , mmmmm depends, if by chapters you're referring to a playlist of mp3s, then it could be related to the second point of @grzkv

But if you mean chapters from a single book that are accessed via the player view, then yeah, it's unrelated to this issue

[2020-05-27 06:31] patjolata commented on #455
@GianniCarlo Oh, no, than it is unrelated. The crash happens when I'm in playback mode and git the chapter of a single audio book. Can you split this issue or shall I open a new one?

[2020-05-27 21:40] Scross086 commented on #466
Hi @pichfl ,
Thanks for the feedback - I tried running it through MP3Val and there were no errors detected. It's strange that tracks on books from this particular series seem not to work in the app. Playing them individually on the iphone, they work ok.
I will try @GianniCarlo 's suggestion and convert the files again to see if that works once I get time towards the weekend.
Thanks again.

[2020-05-31 13:43] mhertsch commented on #447
It seems, that I can't reproduce the issue anymore.

[2020-05-31 13:43] #447 closed

[2020-05-31 15:05] grzkv commented on #455
This looks like a separate issue to me.

[2020-05-31 15:08] grzkv commented on #455
@GianniCarlo Just to keep you informed, I do not see the issue any more in the last 2 weeks. I was using the app ~1 hour per day during that time.

If we don't see this coming up anywhere else, it may be a hint to close current issue.

[2020-05-31 16:03] GianniCarlo commented on #455
Yeah this is a separate issue, this may be due to the chapter list trying to load the data for books who don't have that metadata 🤔 we should catch those cases and show the empty list

[2020-05-31 16:04] GianniCarlo commented on #455
That's great 👌

[2020-05-31 21:09] crozo5 commented on #464
This would be great. There is some progress? 👍🏻

[2020-05-31 21:17] GianniCarlo commented on #464
on our part we haven't had the chance yet :/, not sure if in one of the forks someone is working on it though

[2020-06-11 15:29] dontcrash commented on #287
Any update :)?

[2020-06-11 15:55] GianniCarlo commented on #287
this is the main focus for BookPlayer in 2020, problem is, I haven't had much free time these last few months to put into BookPlayer, so it's slooowly moving forward :/

[2020-06-11 15:59] dontcrash commented on #287
I haven’t had a chance to look over the code yet, but in some instances it is almost as simple as replacing NSPersistentContainer  NSPersistentCloudKitContainer (in AppDelegate) and then minor setup on the Apple Developer site

[2020-06-11 16:05] GianniCarlo commented on #287
I haven checked yet about CloudKit tbh, we were first reworking how we process our files, to have a 1:1 representation of the imported folder structure instead of what we're doing right now.

But if it's as simple as you put it, I'll give it a go 🤔

[2020-06-15 05:36] GianniCarlo commented on #465
#468 includes the custom rotor, also in the next version, the chapter button is no longer hidden, it'll show disabled instead

[2020-06-15 05:43] #465 closed

[2020-06-18 02:18] troykirin commented on #464
I've been dreaming of Audiobooks to work on AppleWatch before I found BookPlayer for the longest time. I'm still building my dev skills and not at the point of touching Swift / Watch Dev. Currently working on learning projects with React Native.

If there's a fork or anyone who wants to start tinkering maybe we can find a solution :)

[2020-06-18 02:24] TonyCr46 opened #470 "Sleep Timer Feature Request"
I have used Bookplayer for some time and I am quite happy with it. However, I have long been curious (with any audiobook player I have used) if a particular feature could be implemented.

I like to listen to a book before I sleep, and I generally like to set the sleep timer for about 30 minutes. I re-format a lot of my audiobooks using various apps so that the lengths of the chapters are about 30

[2020-06-18 08:59] pichfl commented on #470
So basically this would say "Set time to 30 minutes and if the then playing continues, play until the chapter ends". Very interesting idea!

If someone wants to tackle this: I think this should be an option that is added to the settings screen. The interface for the sleep timer is not ideal right now and this would make it even more complicated.

[2020-06-18 09:17] TonyCr46 commented on #470
I would say the only drawback to having it in settings is that it is on (or off) all the time. Therefore, if I have a book with a long chapter (or even one that is in just one file), and I want a 30-minute hard stop, I'd have to go back into settings and change it for the one case. I was envisioning it as a checkbox within the timer page. All the current options would remain the same, but there wo

[2020-06-18 09:29] pichfl commented on #470
Good point. But how would that look like? The current interface is not made for additions, only a single item can be selected in the action sheet that opens, which is how action sheets must behave in iOS.

[2020-06-18 20:15] GianniCarlo commented on #464
I think we can break this up in steps

1.- Transfer the file from the app to the watch (this could be an extra option in the options menu for each row)
2.- Handle the AVPlayer equivalent inside the Watch app, if it's the same class, then refactor the PlayerManager class to be made available in some way in the shared library between the main app and its extensions
3.- Handle syncing, the Watch alre

[2020-06-26 20:27] wunsmind opened #471 "Support for Background Music"
Hi All,

I would like to request for a feature on the BookPlayer App.

I am a frequent user of the BookPlayer App for my day-to-day audiobook listening. So far my overall experience has been nothing short of awesome! What I would like to request, is for an option/possibility to play my own music (via Apple Music / Spotify) while listening to an audiobook on the BookPlayer App simultaneously.

I do

[2020-06-29 23:55] troykirin commented on #464
@GianniCarlo
Sounds like a solid approach 👍
If we are on the path of thinking of a new sync strategy let's build the right thing.

1. We should optimize the data going to the watch db. BookPlayer already feels slow at times. I used it on Watch3 and now Watch5. Watch5 has 32GB capacity but Watch3 only had 16GB.

2. Will need to create UX/UI for data management. Example being how Audible does it now

[2020-06-30 17:01] mkarliuk opened #472 "Bookmark support"
Feature request: please add bookmark support.

[2020-06-30 17:55] GianniCarlo commented on #472
@mkarliuk closing as duplicate of #127 . We do plan to bring bookmarks to the app, and thanks for the feedback 👍

[2020-06-30 17:55] #472 closed

[2020-07-02 01:14] GianniCarlo commented on #464
🤔 if by chapters you mean individual mp3s, then it shouldn't be a problem. Regarding how to do it, when selecting multiple items at once, we should change/add a new button in the bulk controls that are floating at the bottom, to open up the options sheet, which should allow the option to do this sync if possible

[2020-07-02 07:56] anthonyattard commented on #403
@GianniCarlo thanks! Just noticed the fix in the app.

[2020-07-04 02:19] mmurali88 commented on #387
@pichfl I have tried resolving this issue. I raised a PR for this https://github.com/TortugaPower/BookPlayer/pull/473

[2020-07-04 02:50] mmurali88 commented on #373
I would like to take a stab at it but do you have any UI design in mind for this @GianniCarlo @pichfl ?

I was thinking that if we have a cell above add there are high chances that the persistent small player might cover this statistics when we have multiple books on the library. Do you guys think adding a table header containing the statistics a good idea ? (so it always stays on top)

[2020-07-04 13:45] GianniCarlo commented on #373
Hi @mmurali88 ! some info for this feature: we're already storing the time that is being spent listening with the class `PlaybackRecord`, which basically has just two properties `time` and `date`, the way it works, is that there should only be one `PlaybackRecord` per day which accumulates the total time listened in that day.

We aren't tying that time to historic number of books/playlists complet

[2020-07-04 14:16] GianniCarlo commented on #387
merged, thanks again @mmurali88 !

[2020-07-04 14:16] #387 closed

[2020-07-04 17:58] pichfl commented on #373
Thanks four joining in! I would consider adding the statistics after the add button. I'll provide a design in the next days.

[2020-07-04 18:03] mmurali88 commented on #373
@pichfl Thanks a lot. I will wait for it then

[2020-07-04 18:05] mmurali88 commented on #459
@GianniCarlo If is this still pending, can i take a stab at it ?

[2020-07-04 18:09] GianniCarlo commented on #459
sure!, there's a PR opened #460 but after some feedback about project building, there hasn't been any updates to it. So you're welcome to do it 👌

[2020-07-04 23:08] mmurali88 commented on #459
@GianniCarlo Thanks a lot. That PR was confusing for me and had many unwanted changes. I have implemented here in this PR

https://github.com/TortugaPower/BookPlayer/pull/475

[2020-07-05 01:23] mmurali88 commented on #242
@pichfl The issue still exists. Taking a stab at this to see if I could fix

[2020-07-05 13:56] pichfl commented on #382
Replaced by #464

[2020-07-05 13:56] #382 closed

[2020-07-05 13:56] #462 closed

[2020-07-05 15:12] jonleung commented on #464
Just found you guys by googling "best audiobook player apple watch". This issue has the feature that I would love! Right now I'm syncing things through the Apple's native Books app and it's a pain in the butt. Would absolutely love this feature! I imagine that it can be tricky as even Audible is having problems getting syncing to work seamlessly.

Appreciate y'all working on this project.

[2020-07-05 15:13] jonleung commented on #464
FYI, wifi syncing over Wi-Fi seems to be much faster for > 100 MB files and that should be a default over bluetooth if it's an option. Audible still has this messed up and I need to disable bluetooth in order to sync via wi-fi.

[2020-07-05 17:17] mmurali88 opened #477 "Edit button is enabled when there is no item in the library / playlist view"
* Do you want to request a *feature* or report a *bug*?    -  Reporting a bug
* What is the current behavior? -  Edit button is enabled when there is no item in the library / playlist view
* If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo / screenshot / screen recording of the problem.  - Have no items in the library view or no items in playli

[2020-07-05 17:26] mmurali88 commented on #477
https://github.com/TortugaPower/BookPlayer/pull/478 Fixes this issue.

[2020-07-06 00:41] GianniCarlo commented on #477
merged 🎉

[2020-07-06 00:41] #477 closed

[2020-07-07 03:12] mmurali88 commented on #459
@GianniCarlo can you close this issue ? The PR is merged

[2020-07-07 05:17] GianniCarlo commented on #459
wops I forgot 😅, closing it now 👍

[2020-07-07 05:17] #459 closed

[2020-07-07 10:59] pichfl commented on #459
@mmurali88 if you add `Closes #number` to the description of the PR, the reference and closing will happen automatically when the PR is merged 👍

[2020-07-07 12:09] pichfl commented on #471
I have wondered this myself a few times in the past. I might be possible, but the playback hierarchy in iOS can be difficult to manage. Most notably if other things might start playback as well (like a video in your reddit/twitter client). We will investigate and consider adding this as an optional setting.

[2020-07-07 12:11] pichfl commented on #466
@Scross086 any chance you found out more? I'll reopen the issue then.

[2020-07-07 12:11] #466 closed

[2020-07-07 13:32] GianniCarlo commented on #471
It can be handled with the options in the `AVAudioSession`, the  one that makes sense is to allow mix of other sources of audio but 'duck' them so BookPlayer still sounds as the 'primary' source of audio. I guess this could be added as another setting?

[2020-07-07 15:18] troykirin commented on #464
@GianniCarlo

So I'm thinking from the chapters page, you can do a swipe to toggle which chapters you want to sync.
![IMG_1AC6F548B170-1](https://user-images.githubusercontent.com/11987882/86802597-07c91700-c02a-11ea-95ad-fe09223fadec.jpeg)

Then from the options page for each book / playlist you can trigger the "Sync to Watch"
![IMG_E81869204489-1](https://user-images.githubusercontent.com/119878

[2020-07-07 18:06] mmurali88 commented on #459
Thanks @pichfl . Will do that going forward

[2020-07-08 01:55] mmurali88 opened #479 "Misaligned Tick mark on the completed playlist while editing on the library view"
While editing on the library view, tick mark on completed Playlist is pushed out to the corner of the screen rather than staying aligned like individual item

1. Have few books completed in the library view including a completed playlist
2. select edit and tap on select all. Look for the misaligned checkmark

### Expected behavior

The checkmark should be aligned

![Screen Shot 2020-07-07 at 6 36

[2020-07-08 07:18] NightMachinary opened #480 "Support for streaming from cloud providers"
Considering that our mobile devices have rather limited storage, and we switch between devices frequently, I feel a strong need to stream audio content from cloud storage (Google Drive, Dropbox, or even a simple HTTP static file server in some cases.). Ideally, the resume information would get saved near the file being played, so it can be played from another device, but just streaming from the cl

[2020-07-08 09:43] pichfl commented on #480
This is a duplicate of one of the first issues, #4 to be precise. We did switch to `AVPlayer`, so some progress was made, but we are far from completing this feature.

You describe the playback position sync across devices which we intend to solve in a different matter by syncing meta data between devices through iCloud, using AirDrop and the other transfer mechanisms to transfer the files manuall

[2020-07-08 09:43] #480 closed

[2020-07-08 14:24] pichfl commented on #404
This is a reasonable idea, I fleshed out the steps to make this in the description above.

[2020-07-08 14:26] pichfl commented on #421
@rragan I'm closing this for inactivity and because we can not reproduce it. Please comment if this is still happening and add a reproduction if you can.

[2020-07-08 14:26] #421 closed

[2020-07-08 14:31] pichfl commented on #428
I'm closing this issue for now as the feature is most likely to complex for BookPlayer in its current iteration.

Off-Topic: @NCrusher74 I hope to see you in our Discord at some point. A Swift based organizer for audiobooks that interfaces with BookPlayer is something I'd very interested in.

[2020-07-08 14:31] #428 closed

[2020-07-08 15:05] TadDavisPhila commented on #404
Don't know if I'm violating protocol by adding another comment, but.... well said. Very clear summary. Thanks!

[2020-07-08 15:27] pichfl commented on #479
I just saw that the custom floating actions on the bottom are off as well.

[2020-07-08 15:47] pichfl commented on #404
Not at all. I'm glad you don't mind me adjusting your description. We have new people wanting to help out and the better the summary, the easier it becomes to implement.

[2020-07-08 16:29] mmurali88 commented on #479
Yes, It happens randomly but there should be a way to reproduce. I will create a different issue for that and for couple more

[2020-07-08 18:51] GianniCarlo commented on #404
🤔 I think it should default to that, and if anyone asks for the abrupt interruption to be back, then we can consider making it an extra setting.

Re fading _after_ timer finishes, does the playback remain wherever it lands after the fading out?

[2020-07-08 19:53] pichfl commented on #404
no :)

[2020-07-09 13:23] keatre opened #481 "CarPlay: Continue the last unfinished item inside a playlist"
I use BookPlayer almost exclusively with CarPlay.  While on the native UI for iPhone, finding the last saved location works flawlessly.  However, when you start CarPlay - there's no way to say "Start where I left off".  Clicking the arrow on the book brings up all chapters.  I have to scroll to find the chapter that isn't marked as complete and click it.  For epic fantasy books that have 50-60 cha

[2020-07-09 22:40] mmurali88 commented on #461
where can i find an mp4 format book ? Is there any free sharable books I can get for resolving the request ?

[2020-07-09 23:23] pszabop commented on #461
http://www.loyalbooks.com/book/a-tale-of-two-cities-by-charles-dickens

download the mpb.  Change file extension to mp4.

[2020-07-10 09:31] pichfl commented on #461
M4A, M4B and MP4 are all the same container and are interchangeable as far as I know.

[2020-07-10 09:45] pichfl commented on #481
#### The quick and dirty solution

We recommend [converting your books into m4b containers](https://github.com/TortugaPower/BookPlayer/wiki/FAQ#how-to-combine-mp3-files-into-m4b-audio-books), which wrap the book into a convenient container and allow us to save the position in an easier way.

#### The actual issue

This is a feature request for a new entry inside a playlist on CarPlay: We need to a

[2020-07-10 13:13] GianniCarlo commented on #481
This is already solved, if you select it from the Recent tab, it will autoplay, but if selected from the library it will open the playlist instead

[2020-07-10 13:15] keatre commented on #481
As shown in the video, upon initial start of the vehicle - there is nothing in the "Recent" tab.

[2020-07-10 13:15] GianniCarlo commented on #481
From the youtube video, I saw that the Recent tab wasn't fully rendering, this sometimes happens with the library as well, and it happens when carplay was just launched, not sure how they handle things internally since iOS 13 where they split the mirror behaviour, but just switch tabs again and it should render

[2020-07-10 13:15] keatre commented on #481
Ok thanks, I'll try converting this book to m4b container and see if that works easier.

[2020-07-10 13:18] GianniCarlo commented on #481
@keatre let me know when you get the chance to test the Recent tab

[2020-07-10 13:38] keatre commented on #481
So just went out to the car and tried this again - still no luck.  Youtube video is attached.  It appears to function the same as the initial load.  Tried it about 3-4 times and it always acted the same.

https://youtu.be/QQLAyppRzkQ

However, if I started the book on my phone UI, then plugged it in - it did work as you described.  Maybe the initial load of CarPlay is causing problems?  I switch b

[2020-07-10 13:43] GianniCarlo commented on #481
Thanks for taking the time to test this. Hmmmmm, there's definitely an issue here, I'll try to debug this trying a similar configuration as you have 🤔

[2020-07-10 13:56] keatre commented on #481
Sure thing - let me know if there's anything I can help test or work through.  Appreciate all the help!

[2020-07-10 16:27] pichfl commented on #481
I'll get the car out tomorrow and do some testing as well.

[2020-07-11 10:34] ansh commented on #362
This app has a very similar feature  that we can look for inspiration. I can begin testing this out if someone wants to help! https://apps.apple.com/us/app/audiobook-player-smartbook/id1228166161

[2020-07-11 10:40] ansh opened #483 "Shorten silences feature that removes all silences during playback"
# 🗣 Context

I don’t know if anyone who listens to audiobooks at 1x speed unless they’re listening to fiction. It’ll be super great for us to have a smart speed toggle that simple removes all silences, umms , uhhs, etc.

# 💬 Narrative

As someone who loves to listen at 2x speed
I want to be able to shorten silence
So that I can speed up playback without it being incomprehensible

# 📝 Notes

It wil

[2020-07-11 21:45] pichfl commented on #483
Obviously a great feature, but also one that requires knowledge of audio processing and how to do that in Swift. Yes, others have done this before, but I haven't come across an open source implementation of this technique, so we will have to build it from the ground up.

[2020-07-13 03:39] GianniCarlo commented on #242
merged 🎉

[2020-07-13 03:39] #242 closed

[2020-07-13 11:38] pichfl commented on #362
That player uses the GDCWebServer I mentioned earlier. Testing is not an issue here, we just need time or somehow to step in and design and implement this so it fits well into BookPlayer.

[2020-07-13 12:08] pichfl commented on #373
![ Library with Loading State](https://user-images.githubusercontent.com/194641/87302609-fd1eee00-c511-11ea-8b0a-6ea4cf7a442f.png)

I would go for something like this. I did try the table header route, but it didn't feel right with the drag & drop enabled cells. What do you think?

[2020-07-13 12:16] GianniCarlo commented on #373
Mmmmmm not sure about this, will it be in the same place for v4?

[2020-07-13 12:46] ansh commented on #362
So the major bottleneck is just seamless design into the BookPlayer app?

[2020-07-13 16:44] pichfl commented on #373
Yes, this was made with the Library revamp for v4 in mind.

[2020-07-13 17:55] pichfl commented on #362
No, the major bottleneck is someone writing the actual code. Keep in mind, this is a hobby project and we work on this at our own pace.

[2020-07-14 00:49] ansh commented on #483
This blog provides a good insight into [how breaker does it](https://blog.breaker.audio/how-we-skip-silences-in-podcasts-with-avaudioplayer-69232b57850a) with an[ open source GitHub repo giving an example](https://github.com/katiesmillie/skippause)

[2020-07-21 17:01] mrwoo123 opened #487 "Playback Speed Setting - 1.1x"
# 🗣 Context

App is fantastic. Easy to use & simple/useful features.

Request: **adding 1.1 playback speed**

Reasoning: 1.25 is a bit fast for my taste & I still would like the benefits of reducing the time required to listen to a full audiobook. **Example:**

- For a 60 minute chapter, listening at 1.1 speed reduces time taken by ~6 minutes.
- In my case, 16 hr audio book at 1.1 speed knocks off

[2020-07-21 17:06] pichfl commented on #487
#224 will bring improved fine grained speed controls. While adding a single speed is not a big issue, the ever growing list will become quite a messy UI otherwise.

[2020-07-21 17:06] #487 closed

[2020-07-21 17:18] mrwoo123 commented on #487
Thanks for the timely response Florian!

[2020-07-22 07:37] JoshuaCrewe commented on #389
This sounds like something I would find really valuable I think. I haven’t been using the app long and I am getting a feel for how it all works.

I wanted to sense check the current behaviour against this feature.

I have a couple of audiobooks I got from my local library. They are all mp3s and come with all the metadata filled in. When using iTunes they are considered one book. Same with iBooks t

[2020-07-22 09:50] pichfl commented on #389
@JoshuaCrewe would you mind joining us [on Discord](https://discord.gg/MjCUXgU)? I haven't come across the behavior you describe in iBooks, so I would love to inspect some of those files.

The "binding" would bring the behavior you expect, even more so if we can use the same mechanism iBooks applies.

[2020-07-22 11:36] JoshuaCrewe commented on #389
Ok great! Lets chat on Discord, I made an account there.

[2020-07-22 20:32] pichfl commented on #389
For future reference: The apps mentioned by @JoshuaCrewe use the Album title IDE3 reference to associate the files. We should do the same when filled and possible 🙂

[2020-07-27 22:24] anthonyattard opened #489 "Files List: File names should not be abbreviated but break into multiple lines"
# 💬 Description

File names get cut off/abbreviated instead of breaking into multiple lines to fit the whole name. Pretty much the same issue I reported in #403 but on the file list view instead of the chapter list view (thanks again for the fix for that one!).

![IMG_2161](https://user-images.githubusercontent.com/8838135/88597821-f8cbf800-d01c-11ea-958e-00321fe76a36.PNG)

# 🦶 Reproduction Steps

[2020-07-28 05:09] GianniCarlo commented on #479
merged! thanks @mmurali88

[2020-07-28 05:09] #479 closed

[2020-08-07 11:49] mastha7 opened #490 "Custom speed control options"
Hello,

Is it possible to add custom speed control options?
Speed 2x is to slow for me, but 2,5x is too fast. :)

[2020-08-07 12:02] pichfl commented on #490
Please use the search function before creating new issues.

This has been requested before: #224 is the first one and will be worked on in the future, #487 #425 #323 request something similar.

[2020-08-07 12:02] #490 closed

[2020-08-14 20:57] isaikrishnatej opened #492 "Support for iPad layout"
# 🗣 Context

_Describe the context..._

# 💬 Narrative

As a ...
I want ...
So that ...

# 📝 Notes

_Provide additional notes..._

# 🎨 Design

_Provide design example, screenshot, text input/output etc_

# ✅ Acceptance Criteria

**GIVEN** ...
**WHEN** ...
**THEN** ...

# 🚫 Out of Scope

_Describe what is out of scope_

[2020-08-14 21:21] pichfl commented on #492
A small note on Open-Source etiquette that needs to be mentioned: It is rather rude to not take the time to search for existing issues and then to not even add *any* description to your request.

The title of this issue suggests it is already covered by #230

[2020-08-14 21:21] #492 closed

[2020-08-20 05:53] neotaruntius commented on #127
Hi Gianni... Thanks for keeping us up to date on this feature. Do we have an ETA for when this feature will make it to the app? It's an essential feature for me!

[2020-08-20 12:07] GianniCarlo commented on #127
Hi @neotaruntius ! Since last time, I did finish the localization feature, and I'm currently doing the refactor of importing files (it's proving to be a more complex issue than I thought), then we'll continue withthe redesign which includes bookmarks. Giving ETAs is difficult when we can only work on this in our free time, but I hope we can close 2020 with the next major version v4.0.0 which would

[2020-08-20 12:15] neotaruntius commented on #127
Fully understand and again very appreciative of your efforts. Thanks for the quick response @GianniCarlo !!

[2020-08-22 12:20] thijmen-j opened #493 "Custom sleep timer duration"
I have the following quirk: I like to go sleep at a specific time (23:30). As such, I would very much like to be able to set a custom sleep timer (e.g. 7min) so that no matter what time I go to bed, the AudioBook always stops exactly at that time.

For this purpose, it would be great if the options list for the sleep timer also has the option "custom", which brings up an iOS widget (e.g. same as c

[2020-08-22 13:01] #493 closed, assigned to nobody

[2020-09-06 20:28] jianingxu1 commented on #464
Hi guys, this is the only feature that BookPlayer lacks for me and holds me back from using the app and yeah, as others said it would be huge, I really want to be able to leave home with only the apple watch. So, I wanted to know, how's all this going, could you tell us the progess? (really would love if you put this feature! heheh)

[2020-09-07 08:28] pichfl commented on #464
Any progress on the project in general can be seen in [our Git commit history](https://github.com/TortugaPower/BookPlayer/commits/main). TLDR; there is none yet, as we didn't have time to work on it and are currently focussing on reworking the UI and the underlying file system to provide a foundation for a better sync feature which in turn will make it possible to work on the Apple Watch device sy

[2020-09-08 01:10] troykirin commented on #464
Yes I was intending on working on this feature but I have acquired a new
job and no longer have the time to contribute.

On Mon, Sep 7, 2020 at 1:28 AM Florian Pichler <notifications@github.com>
wrote:

--

*Troy Kirinhakone*
"It's not the mountain we conquer but ourselves."

- Sir Edmund Hillary

[2020-09-08 07:07] pichfl commented on #464
That is the beauty of Open Source: No obligations. 🙂 Congrats on the new job! 🎉 Always good to hear people are making it through these times.

[2020-09-15 19:55] pichfl opened #496 "iOS 14 Widgets"
iOS 14 is here and brings widgets to the home screen.

### Ideas so far

- Small widget (all variations should be configurable on the flip side probably?)
    - Artwork for the current book (playing or last played)
    - Artwork for the current book (playing or last played), with a light or dark border (depending on the OS) plus our logo and the progress in the book below the artwork, a bit like t

[2020-09-17 09:44] semasire opened #497 "„Big“ audiobook file have no sound after 10 Hours"
A couple of audiobooks with about/over 37 hrs duration, have no sound after 09:58:58. The files work, I checked them with both pc and other audiobooks players. Can you fix this please?

[2020-09-17 16:21] GianniCarlo commented on #497
Hi @semasire ! could you share with us the file so we can debug? or the other option would be if you could pass the file through ffprobe (comes with ffmpeg) and copy/paste the info it has on the file

[2020-09-17 20:08] semasire commented on #497
File 1:

 configuration: --prefix=/usr/local/Cellar/ffmpeg/4.3.1_1 --enable-shared --enable-pthreads --enable-version3 --enable-avresample --cc=clang --host-cflags= --host-ldflags= --enable-ffplay --enable-gnutls --enable-gpl --enable-libaom --enable-libbluray --enable-libdav1d --enable-libmp3lame --enable-libopus --enable-librav1e --enable-librubberband --enable-libsnappy --enable-libsrt --enable

[2020-09-19 00:09] fowl2 opened #498 "Bug: Deleting Currently Playing File"
# 🌎 Environment

 - OS Version: iOS 14 GM
 - Version/Release: 3.10.1

# 💬 Description

When you delete the file that is currently playing, it still shows as paused, but can't be resumed. The file also still takes up storage space until the app is force closed.

Example

![DD128819-AC05-4213-A594-4A8BD2C52FF5](https://user-images.githubusercontent.com/12844147/93654244-df18c100-fa5f-11ea-9009-a3ead

[2020-09-24 16:40] crozo5 commented on #464
I hope someone gets this function. It would be awesome

[2020-09-28 18:14] rastaman111 opened #499 "GianniCarlo/Themeable error"
After updating my project, this error appeared
Module compiled with Swift 5.2.4 cannot be imported by the Swift 5.3 compiler: /Users/aleksandrsibircev/Desktop/introvert-develop1/Carthage/Build/iOS/Themeable.framework/Modules/Themeable.swiftmodule/arm64-apple-ios.swiftmodule

Tell me how to fix

[2020-09-29 23:53] GianniCarlo commented on #499
Hi @rastaman111 , it should be enough to rerun `carthage update --platform ios`, let me know if the problem persist though

[2020-09-30 06:17] rastaman111 commented on #499
![Uploading Снимок экрана 2020-09-30 в 09.17.42.png…]()

[2020-09-30 06:17] rastaman111 commented on #499
<img width="1365" alt="Снимок экрана 2020-09-30 в 09 17 42" src="https://user-images.githubusercontent.com/15727518/94649653-c92bbb80-02fd-11eb-8023-7d6f5c8f38ff.png">

[2020-09-30 12:48] rastaman111 commented on #499
@GianniCarlo an error occurs when performing an update

[2020-09-30 19:28] clarencecodes commented on #498
I managed to replicate this issue on iPhone 11 Simulator (iOS 13.6). Would be great if I could have a hand on this issue! :)

[2020-10-01 10:37] pichfl commented on #498
@clarencecodes of course. Looking forward to your Pull Request!

[2020-10-02 16:21] clarencecodes commented on #499
Hey @rastaman111, I had a similar issue the other day. Seems like an issue with Carthage and Xcode 12 - https://github.com/Carthage/Carthage/issues/3019. One workaround which I did was to build the project using an earlier version of Xcode (I used Xcode 11.6).

I found this to be a good read for managing multiple Xcode versions: https://www.donnywals.com/installing-multiple-xcode-versions-with-xcv

[2020-10-02 16:22] clarencecodes commented on #498
@pichfl Great, I'll work on this issue and send a PR soon!

[2020-10-02 17:04] GianniCarlo commented on #499
Yeah I'm experiencing this issue but with the Kingfisher dependency, I'm looking into maybe transitioning the project to Cocoapods as dependency manager 🤔

[2020-10-06 14:20] theboyk opened #501 "CarPlay: Playback controls unresponsive (via BookPlayer playback screen, Siri, Apple Watch app)"
# 🌎 Environment

 - OS Version: Apple CarPlay via iOS 14.0.1
 - Version/Release: 3.10.1-1

# 💬 Description

When using BookPlayer via Apple CarPlay, while an audiobook is playing, but I'm in another CarPlay app (Apple Maps, Waze, etc.), when I attempt to pause a book, BookPlayer will not pause playback. If I attempt to navigate to the BookPlayer playback screen, it will quickly land on the playbac

[2020-10-09 21:16] NCrusher74 commented on #260
I had opened a feature request issue for series management a while back, and at the time I had indicated interest in possibly helping on this project, but didn't feel my Swift skills were up to the task of working on someone else's code yet.

I'm still a little uncertain on that front, but as part of my own audiobook library management suite project that is in the works, I've created tagging libra

[2020-10-10 21:09] GianniCarlo commented on #260
Hi @NCrusher74 ! `SwiftTagger` redirects me to the same link of `SwiftTaggerID3` is that right? other than that, I'm looking forward to the `AudiobookTagger` library 😁 and I'm sure it'll be a great help when the time comes to use it in this project 💪

[2020-10-10 21:11] GianniCarlo commented on #501
Hi @theboyk ! thanks for reporting this, my car is currently undergoing maintenance so I won't be able to test this for a while yet :/, but if any one else wants to help debug this, any help is always welcome 😁

[2020-10-10 21:15] NCrusher74 commented on #260
Hi! Sorry, I'd forgotten `SwiftTagger` was still private, because I was intending to test it out fully as a dependency in `AudiobookTagger` before making it public. I've made it public now, but I'm still working on a few things for `AudiobookTagger` before I can fully test it. I hope you find it helpful!

[2020-10-14 08:35] pichfl commented on #501
Yeah I noticed similar issues. Debugging CarPlay is a mess, for me it means sitting in my car in the driveway and hoping for the Wifi to be still in reach 😄

Not sure what changed, but we are most likely missing some new config or changed hooks. CarPlay is like working through a key hole, not exactly a pleasant dev experience but it would be nice to improve this.

[2020-10-14 17:19] rastaman111 opened #502 "Inbox folder"
Good afternoon!
I have 2 questions:
1. How do you track the movement of files from iTunes or airdrop
2. How did you bypass the creation of the indox folder and immediately move the file to the main directory, it is best to say in which file it is re-edited, very interesting, for your application

[2020-10-14 18:33] GianniCarlo commented on #502
Hi @rastaman111 !

1.- If I remember correctly, Airdrop files arrive at the Inbox folder, we do have a watcher that gets notified when a new file is added, and it has a waiting threshold to see if there's additional content before firing off a new import operation. iTunes work in kind of the same way, only that they're put into the root of the Document folder (which contains the Inbox folder as we

[2020-10-14 18:56] rastaman111 commented on #502
@GianniCarlo Now I'm interested in how you implemented a listener for adding a file from outside.  Could you tell me which file of your application implements this?

[2020-10-14 19:19] GianniCarlo commented on #502
sure!, I made it into a separate library: https://github.com/GianniCarlo/DirectoryWatcher , I based that implementation in large part from one made in Obj-c, and I took inspiration from another library which kind of goes into the same subject. I'm planning on making that available via the Swift Package Manager, since we'll soon transition this project to use the SPM as the dependency manager (Cart

[2020-10-14 20:14] rastaman111 commented on #502
As I understand it, in order to avoid the appearance of the inbox folder, you created a folder in the main directory, and store everything in it.  But as you said, it was not the best solution.  And according to your library, I saw it, but when I looked at your project, I did not find where you use it to track the movement of a new file from outside

[2020-10-14 23:54] GianniCarlo commented on #502
In the `AppDelegate` you'll find the `import DirectoryWatcher` statement, and down in the file, the function `setupDocumentListener`, it then passes the event to the `DataManager` class, which has a instance of the `ImportManager` class, who handles the waiting for new events before firing the import event with a `ImportOperation` of the new urls that were reported

The library viewcontroller hand

[2020-10-16 04:59] ghost opened #503 "Allow manual duration for sleep timer"
When you tap on the sleep timer at the bottom left corner with the selected book at full screen, you are given a few options. Ignoring “Off”, we have the choices of 5 min, 10 min, 15 min, 30 min, 45 min, and 1 hour. Near the end of this sequence the jumps become pretty high, and thus it would be useful for the option to manually set the duration for the sleep timer. This ability to set the sleep t

[2020-10-16 06:54] rastaman111 commented on #502
Hello @GianniCarlo !  I studied your code and implemented it into my project, a new goal, this is how you display the LoadingView, what is responsible for what?

[2020-10-16 09:03] pichfl commented on #503
Yes indeed. This option will become available when the new Card based UI will become available as described in #281 - which needs to be updated with the latest mocks as Gianni and I worked quite a bit on that.

[2020-10-16 14:45] crozo5 opened #504 "Screen doesn't turn off while playback is active"
When I'm charging the iPhone and playing an audiobook, the screen doesn't turn off although I have this option deactivated in the applications settings.

[2020-10-16 16:58] GianniCarlo commented on #502
That's easier, based on when the import is going to start, a notification is fired off, the library is listening to these events so it can show the loading view.

I'm closing this issue, but feel free to join us on Discord (link in the readme) to further talk about the project

[2020-10-16 16:58] #502 closed

[2020-10-18 19:06] rastaman111 commented on #502
Hello @GianniCarlo , why when moving a file from Inbox to the main directory, the file is not renamed to its original name, but remains as an encoded name via IDZSwiftCommonCrypto

[2020-10-19 20:25] theboyk commented on #501
Wondering if there's any way the project could be built against the latest version of Xcode/newer iOS version? I downloaded the project today and tried to do this, just to see if it'd help (as this happens so often it's becoming unusable), but because my developer account isn't part of the MFi program, my provisioning profile fails (as there's some CarPlay specific aspects of the provisioning prof

[2020-10-19 20:55] pichfl commented on #501
You should be able to apply for a CardPlay certificate [here](https://developer.apple.com/carplay/) at the very bottom of the page before the footer (Section: Tell us about your apps that have the potential to be supported by CarPlay.)

[2020-10-19 21:02] GianniCarlo commented on #501
Re: latest Xcode, yeah I'm working on that part, Carthage has some issues in the latest Xcode, so I'm looking into replacing it altogether with the Swift Package Manager to avoid future problems

[2020-10-21 23:40] #504 closed

[2020-10-22 06:47] NCrusher74 commented on #260
[AudiobookTagger](https://github.com/NCrusher74/AudiobookTagger) is released. I hope you find it helpful!

[2020-10-28 14:57] GitHubThrowaway31231 commented on #299
I've recently started using this app (fantastic work btw!), and I went searching on Google to see if this feature was available which led me to this page.

I just wanted to add that I think this feature would be incredibly valuable, even if it started off as a very simple, non-interactive page which is effectively just an audit of playback actions (e.g. list with entries like "At 10:32am Playback

[2020-10-28 15:25] GianniCarlo commented on #299
Hi @AeroflotBhutanHymning ! we do plan to bring this feature alongside bookmarks, but it working as an audit page may be out of scope, since there may not be a point in storing past the last 10(?) interactions, and it'll just continue replacing themselves.

Although we could easily store all, and just present the latest 🤔, and the audit page is an interesting point, for statistics to make them ava

[2020-10-29 01:44] allanw opened #505 "Add a way to store book progress to an external service"
I also put audiobooks on my Garmin running watch, and it'd be great if I could sync the progress in each book to an external service. Then, BookPlayer could read the current progress and playback from that position.

Is this a good idea/possible to implement?

Thanks!

[2020-10-29 14:50] Guy27 opened #506 "Exclude from ITunes backup"
# 🗣 Context

Hi Folks,
is there a way for you to allow us to mark a book / library to exclude from itunes backup?
i've reached to a point where i have about 100GB of books and every backup takes forever where this content isn't a necessary backup content.

backing up to the PC takes forever with such a huge library, (creating duplicates since if you already have those files stored on your pc, the

[2020-10-29 15:46] GianniCarlo commented on #499
#507 addresses this issue and it'll be merged later today after some tests 👍

[2020-10-29 17:52] VikramTiwari opened #508 "Bug: Ordering of files in playlist isn't following correct order"
# 🌎 Environment

 - OS Version: iOS 14.1
 - Version/Release: 3.10.1-1

# 💬 Description

When I have more than 100 files in a playlist, I often see that the order of files gets mangled because of the naming scheme.
# 🦶 Reproduction Steps
If I name the files as 001 to 150. The files in the playlist will be 138, 139, 014, 140, 141, 142. Essentially the files from 120-129 are played between 012 and 01

[2020-10-29 20:25] GianniCarlo commented on #499
@rastaman111 @clarencecodes this should be ok now on the `develop` branch, we now manage things with the Swift Package Manager which is already integrated/managed by Xcode.  I'm closing the issue, but feel free to continue the discussion

[2020-10-29 20:25] #499 closed

[2020-10-29 22:13] VikramTiwari commented on #508
Hey @GianniCarlo I don't have any experience with swift but I can take a stab at this.

Would this be a good place to start? https://github.com/TortugaPower/BookPlayer/blob/bcf7d49e592efbd0d6bbf633fcaef7185b00fbd4/BookPlayer/Library/DataManagement/DataManager+CoreData.swift#L30 Assuringly, you would want to sort the files before they get added in existing book/playlist.

Also, I am not sure how it

[2020-11-01 00:29] avioli commented on #506
I disabled app backup altogether since all my audiobooks are coming from a storage/backup anyway.

[2020-11-01 00:33] avioli commented on #506
I wonder if the manual solution will work:

A) Add .nosync to a folder or file name
B) A folder called "tmp" or ending with ".tmp" won't be synced

[2020-11-02 11:21] dkBrazz opened #509 "Playback Speed control in CarPlay"
Didn't find how to control playback speed in CarPlay, have to pick the phone for this

Is it possible to add such control on the CarPlay UI?

[2020-11-02 15:08] rastaman111 opened #510 "ImportOperation"
Hello again!
Such a question, I downloaded audio in safari, I want to send it to my application, then it does not perform an action where is the breakpoint, the debug writes that the attribute is nil
Although the above application accepts the same file calmly
What could be the mistake?

Thanks

<img width="1096" alt="Снимок экрана 2020-11-02 в 18 05 57" src="https://user-images.githubusercontent.c

[2020-11-03 09:53] pichfl commented on #509
As far as I understand the current design, and with the current and very limited API it is not possible to show custom controls on the playback screen.

I'm hoping to revisit this at some point in a distant future where Apple allows us to control the UI more directly.

[2020-11-03 12:50] dkBrazz commented on #509
Can playback speed be controlled with voice commands?

[2020-11-03 13:34] pichfl commented on #509
I think it should be possible to add additional Siri triggers to adjust playback speed. If you have a moment, I'd appreciate a separate issue for that 🙂

[2020-11-03 22:00] DoroLala opened #511 "Sleep timer preset"
You would be my heroes if you could include a possibility to preset the sleep timer once and for all, so i.e. each time I start my audiobook, it automatically stops after 30 minutes without any further action required, so that I don’t need to restart the sleep timer each time- that would be just great!

[2020-11-04 04:54] krknopp opened #512 "Importing from Zip Doesn't Import Cover.jpg"
# 🗣 Context

Importing from a Zip of MP3's and cover.jpg

# 💬 Narrative

I'm using OneDrive to store .zip files of my AudioBooks and each includes a .jpg for the cover art.  It doesn't show up on the book when imported.

My books are longer than the limit of m4b files, which seem like it might be an alternative.  But I don't think it'll work for books longer than 13 hours. (AudioBinder for Mac spl

[2020-11-04 09:28] pichfl commented on #512
We read cover art from IDE3 tags, which works for most types of individual files, including MP3.

Right now, the archives structure is not considered relevant after importing which means that non-audio files are not handled at all. We are working on a new file system structure which could make this feature possible.

[2020-11-04 14:22] krknopp commented on #512
Thank you!  I'll see about getting the cover art embedded in the mp3's and go from there.

[2020-11-05 09:40] tgjma commented on #362
How about providing an option to import from an URL, that way the file can be placed on a web server on the computer and it can be imported into the app using URL to the file.

[2020-11-05 13:48] pichfl commented on #362
There already is an option to import via the `bookplayer://` interface.

Aside that we can't expect every user to know how to run or setup their own web server. The goal for BookPlayer is to have the best and easiest way to enjoy audiobooks and given how many of our users are not on Macs like us maintainers, we must face the reality of a rather diverse ecosystem and should provide this in the easi

[2020-11-05 16:04] LarsaSolidor commented on #362
I’ve written a small react front end up to upload files that supports drag and drop using react. It’s about 200kB in total… is that too large? This is what the server inside the app would serve; I’m more than happy to help with this component, but have no idea how to integrate with a mobile app

[2020-11-05 19:22] tgjma commented on #362
Ah, found the URL scheme for importing from an URL. That would do for me. Thank you.

[2020-11-05 20:04] GianniCarlo commented on #362
For future reference, there's an entry in the wiki 👌 [link](https://github.com/TortugaPower/BookPlayer/wiki/URL-scheme)

[2020-11-09 16:13] dkBrazz opened #513 "Voice commands for Playback Speed adjustment"
There is no way to adjust the playback speed in CarPlay without picking the phone
There is also no possibility to add controls into the CarPlay screen - #509
So there will be useful Siri triggers for voice commands

My suggestion is:
"playback speed up", "playback speed down" - increase/decrease to the closest value according to the application scale of speeds
"sat playback speed to X.XX" - sets t

[2020-11-09 17:07] GianniCarlo commented on #513
🤔 yeah thad could be useful as well to add it to our url scheme actions, as a side note, for CarPlay I've noticed that there's a playback rate button which toggles speed:

<img width="368" alt="Screen Shot 2020-11-09 at 12 05 41" src="https://user-images.githubusercontent.com/14112819/98572810-0cc1ff80-2284-11eb-9933-a3b6f816d5d9.png">

I can't find the proper docs regarding that option though to

[2020-11-09 17:13] GianniCarlo commented on #513
I found it! `MPChangePlaybackRateCommand`, implementing this in the `AppDelegate` alongside the other commands for `MPRemoteCommandCenter` should enable the speed toggle from CarPlay (maybe from the locked screen as well?)

[2020-11-09 20:40] dkBrazz commented on #513
This is just great!

[2020-11-10 10:53] pichfl commented on #513
I reopened #509 - @GianniCarlo is a wizard 😯

[2020-11-10 10:54] pichfl commented on #509
@GianniCarlo found the appropriate method which can apply this https://github.com/TortugaPower/BookPlayer/issues/513#issuecomment-724150210

[2020-11-11 01:02] GianniCarlo commented on #509
interesting thing, it looks like the `MPRemoteCommandCenter` can only display **_correctly_** speeds from 0.5x to 2x, jumping by intervals of 0.25 minimum. So we have two options, either make available a separate speed array, which woud only work for remote commands and properly display the information, or make all the speed options available, but have the media center display incorrect informatio

[2020-11-13 10:24] iain1248 opened #514 "Show audio destination"
# 🗣 Context

The display has an icon to select to which device to send the audio

# 💬 Narrative

It would be useful to include a text field above the icon to confirm the destination (e.g. AirPods) without having to press the icon to get the pop up.

# 📝 Notes

_Provide additional notes..._

# 🎨 Design

Overcast does this for podcasts

# ✅ Acceptance Criteria

**GIVEN** ...
**WHEN** ...
**THEN** ..

[2020-11-13 11:39] pichfl commented on #514
Will be part of the redesigned player screen 🙂

[2020-11-17 03:28] GianniCarlo commented on #511
Hmmmm I think this is better achieved via a shortcuts 🤔 , though not perfect (since via shortcut it's only possible to resume the last played book) but it's an option.

The shortcut route can be done in two ways, one having the shortcut as an icon in your homescreen, the other one triggering via siri voice commands (in this case, name the shortcut with something distinct for siri).

The shortcut w

[2020-11-17 22:44] Mrtz11 opened #516 "iPad"
Please adapt the app for the iPad. Otherwise it is only displayed in very small or enlarged and blurred form. It's really not nice. Otherwise the app is very good, thank you very much

[2020-11-17 22:45] Mrtz11 opened #517 "Bug: The Size on iPad"
Please adapt the app for the iPad. Otherwise it is only displayed in very small or enlarged and blurred form. It's really not nice. Otherwise the app is very good, thank you very much

[2020-11-17 23:00] #517 closed

[2020-11-17 23:02] pichfl commented on #517
Thanks for your interest, but this is not a bug.

A dedicated version for the iPad is planned since #230, but don't hold your breath. Unless someone steps in and helps us to overhaul the UI, this will have low priority over better sync, a new file system and internal restructuring to make an iPad version even possible.

[2020-11-17 23:03] pichfl commented on #516
Duplicate of #230
Duplicate of #517

[2020-11-17 23:03] #516 closed

[2020-11-20 21:45] GianniCarlo commented on #455
I'm closing this issue since it seems it didn't continue to occur 👍

[2020-11-20 21:45] #455 closed

[2020-11-21 01:19] GianniCarlo commented on #404
This will be included in the next release 👍

[2020-11-21 01:19] #404 closed

[2020-11-22 12:21] Mrtz11 commented on #517
Thanks for the answer. I'm a student and all of my audio lessons are on the app. I always learn with it and the app is almost perfect. There is no other app that comes close in terms of level. And luckily it's even free, unfortunately i can't afford an app that costs something. Thank you very much for this great app. As a student I use an ipad and of course it would be very good if it were adjuste

[2020-11-24 11:11] darabo opened #521 "Loss of Audio When Rewinding"
I have an issue concerning BookPlayer 3.10.1-1 on my iPhone12,5 running iOS 14.2

When I try to rewind, more often that not there is no audio playing and I have to pause/play to get the audio back.

Any assistance with this would be most appreciated, thank you!

[2020-11-27 12:40] GianniCarlo commented on #521
Ah yes, I've seen this, and tried different scenarios, the problem is easily reproducible by only having a different speed from 1x. It looks like the `AVPlayer` buffer empties out and it starts loading more, which causes the loss of audio.

I've tried hooking up into the native listeners available for either the `AVPlayer` and `AVPlayerItem`, but there's no event posted that will indicate that the

[2020-11-28 22:31] chrisjf opened #522 "Bug: Privacy Policy Missing"
# 💬 Description

I clicked (Nov. 28, 2020) on the Privacy Policy link in the App Store and was forwarded to the project's GitHub Page. Where is the Privacy Policy for this app? Could it be put in the repository? Could the App Store link be updated? Thanks.

[2020-11-28 22:53] pichfl commented on #522
@chrisjf thanks for bringing this up! We had a website before but it is defunct by now and given we redirect here, we should put the policy straight into the repository.

The privacy policy was very short anyway.

However, I'm glad you asked, because future versions will use https://apptelemetry.io to help us gain some anonymous insight on how people are using BookPlayer so we can decide on what t

[2020-11-29 18:48] chrisjf commented on #522
Thank you for the reply with the (very short!) privacy policy.

# Action Items:
- [ ] Put the privacy policy in the repository
- [ ] Update the link in App Store

[2020-12-05 04:56] georgiotunson opened #523 "File names not retained when uploading zip"
# 🌎 Environment

 - OS Version: 14.2.1

# 💬 Description

File names aren't retained when uploading zip containing multiple files. They are all named after the containing folder and they are also out of order so it is very hard to know which file you should be listening to next.

# 🦶 Reproduction Steps

Steps to reproduce the behavior, provide an example of the command line issued:
1. Create a zipp

[2020-12-16 02:41] NCrusher74 commented on #508
I'm... not really certain how the process should go to submit a PR fixing an issue, as I've never done it before, and I appear to be missing some dependencies when I try to build. So instead, I'll just suggest a solution here.

First, add this convenience extension:

[code]

Then change the line you flagged (Line 30 of DataManager+CoreData.swift) as follows:

[code]

That would sort the files base

[2020-12-20 20:08] XiaoHippo commented on #230
My kids use their iPads to listen to audiobooks and it would be so much better if this app had native iPad support.

[2020-12-20 21:39] GianniCarlo commented on #522
we've added our [Privacy Policy](https://github.com/TortugaPower/BookPlayer/blob/main/PRIVACY_POLICY.md) and updated the App Store page as well 👍, thanks for bringing this up @chrisjf

[2020-12-20 21:39] #522 closed

[2020-12-21 00:09] GianniCarlo opened #528 "Siri - Support for Rewind/Forward by X amount"
Requested via email support by Mustafa. Current actions by Siri only trigger the forward and rewind action with the predefined intervals, the goal would be to enable to rewind or forward by the amount defined by the user in the Siri command

[2020-12-28 15:19] skobylite commented on #396
Have you guys had any more thoughts on this since Big Sur? A continuity player would be incredible

[2020-12-28 17:07] GianniCarlo commented on #396
We do want to make BookPlayer available wherever possible, but as @pichfl mentioned, we first have to accomplish cross-device synchronization, it's taking some time, but we're working on it. After that, the next major milestone would be to make it available in iPad, then v2 watch app with stand-alone functionality, then enable the app to be on M1 Macs, and see how it behaves 🤔. The priorities may

[2020-12-30 16:26] garylitton opened #530 "Use Computer Web Browser to add audio files"
# 🗣 Context

Any chance of adding the feature that is available in Bookmobile to do a local network import 'using your computer's web browser'?
Thank you!

[2020-12-31 21:19] pichfl commented on #530
#362 is tracking this very feature and we hope to bring to BookPlayer once we finish the file system overhaul.

[2020-12-31 21:19] #530 closed

[2020-12-31 21:21] pichfl commented on #362
For further reference, this is the current mockup for this feature:
![Artboard](https://user-images.githubusercontent.com/194641/103425970-5a892300-4bb6-11eb-9b66-f4f7ea430d41.png)

These are additional states for the drop area:
![Artboard Copy](https://user-images.githubusercontent.com/194641/103425992-7260a700-4bb6-11eb-8440-de9e9505ef46.png)

The coloring is done in a way that allows for very s

[2021-01-02 08:29] deeohlaa opened #531 "Search library"
Is there a search option available or coming soon to allow users search for books by title in their library?

[2021-01-02 12:41] pichfl commented on #531
A quick search here in the project would have brought up #105 which discusses just that. There is also Pull Request #419 which tried to implement the search but was never completed.

We are currently busy reworking the file structure of the Library behind the scenes, but a big Library update is planned in the near future 🙂

[2021-01-02 12:41] #531 closed

[2021-01-03 12:49] Plekteret opened #532 "Issue: Unable to create a widget on iOS 14.3"
# 🌎 iPhone app

 - OS Version: iOS 14.3
 - Version/Release: 3.11.0-2

# 💬 Description

I am trying to add a widget with the BookPlayer but for some reason I can't find it as a widget option when I go to add a widget on my phone home screen. The description on the app store says the app has a widget for ios 14, so I am wondering if this might be a bug or something i am doing wrong. I tried both wit

[2021-01-03 13:41] pichfl commented on #532
Before adding a widget to your home screen you have to launch the latest version of BookPlayer at least once.

After that, BookPlayer should appear in the list of available widgets when long pressing on your home screen wallpaper and using the plus button in the upper left corner.

[2021-01-04 21:29] elric667 opened #534 "Import does not refresh from cloud storage without disconnecting the cloud storage"
# 🌎 Environment

 - OS Version: iOS 14.3

# 💬 Description

Import from Cloud filespace does not refresh or have an option to refresh

# 🦶 Reproduction Steps

1. Put Books on Cloud Storage Service.
2. import books from cloud storage service
3. change the books in cloud storage or add books
4. go to import books and see if the new books have shown up.

# 🤔 Expected Results

Import will show new book

[2021-01-08 02:14] GianniCarlo commented on #532
Hi @Plekteret ! did it work?

[2021-01-22 01:23] b3rrym opened #536 "Please do a version for iPad"
I've switched from my iPhone to a iPad but recognised that your great app is not supported. Please bring a version for the iPad, it looks how so horrible, thank you all very much,, would be very happy about a version for iPad.

[2021-01-22 09:38] pichfl commented on #536
there will be an iPad version in the future but it takes time and resources we do not have right now. This has been requested previously so this issue is a duplicate of #230 and will be closed.

[2021-01-22 09:38] #536 closed

[2021-01-24 11:42] Murcl opened #537 "Minor improvement to german Strings"
# 🌎 Environment

 - OS Version: 14.3
 - Version/Release: 3.11.0-2

# 💬 Description

I found 2 strings that could be improved in the german version.

# 🦶 Reproduction Steps

The 2 strings:
1. Siri Shortcuts -- Resume last book: the german string says "Zuletzt gespieltes Buch fortzusetzen" but I think it should mean "Zuletzt gespieltes Buch fortsetzen"
2. On the main screen, when you select all play

[2021-01-24 14:13] pichfl commented on #537
Oh most definitely a good idea. The current translation was made rather quickly. Will change on Localize so @GianniCarlo can prepare a bugfix in one of the next releases.

[2021-01-24 14:14] Murcl commented on #537
Thank you @pichfl!

[2021-01-30 15:33] mlosev commented on #511
Unfortunately, such shortcut doesn't work properly when launched from Apple Watch.
While the first action (Resume last played book) succeeds, the second action (Set sleep timer) fails with not a very helpful message:
![IMG_0032](https://user-images.githubusercontent.com/7642914/106360444-57e23080-6310-11eb-915e-7c9a24877468.png)

[2021-01-31 09:41] gabiionut opened #538 "Library grid view"
I will love to have the posibility to change the library view from list view to a grid view.

[2021-01-31 15:49] GianniCarlo commented on #511
Hmmmm true I tried it out (I wasn't aware that you could run shortcuts directly from), that's a bug, I'll look into it

[2021-01-31 21:24] poisenloaf opened #540 "Bug: Siri Shortcut to "resume last played book" in Bookplayer does not work"
# 🌎 Environment

 - OS Version: 14.3
 - Version/Release: 3.11.0-2

# 💬 Description

"Last played book" Siri Shortcut does not work.

Enabling the "Last played book" under Bookplayer:Settings creates a Siri Shortcut to Do:Resume last played book.  Executing the shortcut has Siri say "Sorry, you'll need to continue this in Books".  If I remove the Books app from my phone, then Siri just says "I don'

[2021-02-01 10:46] pichfl commented on #538
This is basically a spoiler for a possible look for the next big release of BookPlayer. It may change a lot until it is done but I think you may still like it.

<img src="https://user-images.githubusercontent.com/194641/106448205-bd562e80-6482-11eb-8ef9-9defa287e0ea.png" width="375" alt="Library Grid View" />

[2021-02-01 18:22] gabiionut commented on #538
Yes, this is exactly what I was thinking about. Thanks!

[2021-02-02 12:56] baron opened #541 "Bug: screen stays awake during playback"
# 🌎 Environment

 - OS Version: 14.3
 - Version/Release: 3.11.0-2

# 💬 Description

During playback the lock screen is prevented from going to sleep. I would rather it obeyed the screen sleep settings and went dark after the time lapse of the settings or stayed dark until awakened.

# 🦶 Reproduction Steps

Steps to reproduce the behavior, provide an example of the command line issued:
1. Play book

[2021-02-02 14:38] pichfl commented on #541
Have you checked the BookPlayer settings? We do have an option there which explicitly prevents the screen from locking.
Once you leave BookPlayer, the screen is no longer in our control.

[2021-02-02 15:01] GianniCarlo commented on #541
Yeah the lock screen is out of our control, we can only provide the metadata for the now-playing view there via Apple's API, nothing else. Echoing what @pichfl , the only control we have is inside the app, and in that regard, we can only prevent the phone from _locking_ automatically.

I'm closing this issue, since from the info provided, nothing can be done from within BookPlayer. Side-note, in m

[2021-02-02 15:01] #541 closed

[2021-02-02 17:59] GianniCarlo commented on #532
Closing issue due to inactivity, feel free @Plekteret to reopen

[2021-02-02 17:59] #532 closed

[2021-02-03 00:18] GianniCarlo commented on #511
ok, so here is what I tried and what I found out:
- Debugging the app and running the shortcut from the watch, the app only gets notified of the first part of the shortcut (the one about resuming playback), the second part fails on the siri shortcut watch app, and the main app never gets the callback
- Running the shortcut from the phone, it all works out (via voice command as well)

Not sure why

[2021-02-03 03:05] baron commented on #541
Yes that’s the exact issue I’m talking about. I guess it must be an iOS but then. Thank you!

[2021-02-03 10:38] crozo5 commented on #538
It looks very good, do you have a release date?

[2021-02-03 14:26] GianniCarlo commented on #538
Not yet @crozo5 , but some good news, from the donations we recently managed to hire another person who will help us speed up our pipeline, so we're just now in the process of re-planning tasks

[2021-02-09 08:42] a-rock-lobster opened #544 "Using sleep timer with siri"
Hello,

I'm sorry to bring this issue up again but I couldn't garner a clear answer from the closed issues.

What is the status of using siri with the sleep timer function _without_ having to unlock the device.

I can't figure out whether it isn't possible yet, or I'm doing something wrong.

Best wishes,

[2021-02-09 11:09] fowl2 opened #545 "Bug: Tip Pricing Doesn’t match"
# 🌎 Environment

 - OS Version: iOS 14.5 (18E5140k)
 - Version/Release: 3.11.0-2

# 💬 Description

Here is a screenshot of the "Tip Jar" screen on my device.

![image](https://user-images.githubusercontent.com/12844147/107354847-c732fe00-6b22-11eb-8b95-e998846104f9.jpeg)

And here is the purchase that was actually made:

![image](https://user-images.githubusercontent.com/12844147/107354903-ddd9550

[2021-02-09 13:11] GianniCarlo commented on #545
Oh damn, yeah that's bad, it's as you say, the values are hard-coded in the app. I'll work on it this week to figure out how to read them from the App Store directly based on region. Thanks for reporting it @fowl2

[2021-02-09 23:28] GianniCarlo commented on #545
This is solved with https://github.com/TortugaPower/BookPlayer/pull/546 I'll include it in the next release. Thanks again @fowl2 !

[2021-02-10 15:06] #545 closed

[2021-02-12 03:01] papaGregor opened #547 "Access built-in media libraries"
It seems to me that one of the biggest issues for a third-party app like this is getting content into the app, especially since the demise of iTunes. I’ve just discovered that, at least in iOS 14, the app can request access to the user’s media libraries, so that the media does not have to be separately imported into the third-party app. Bookmobile Audiobook Player does this as of today, if you wan

[2021-02-14 17:22] pichfl commented on #547
We are aware of this option, but importing files into these built-in libraries is even more involved than importing a file into BookPlayer using a cloud provider which integrates well with the iOS Files.app. To make the project less reliant on cloud services and iTunes, we are planning to provide a web importer which allows you to send files directly to the app even from devices which do not suppo

[2021-02-14 17:22] #547 closed

[2021-02-14 18:58] papaGregor commented on #547
Hi, Florian -

Sorry, I was unclear. I didn’t mean actually importing the files in the sense of copying. Bookmobile just acquires read access to the built-in media libraries. I don’t know if that simplifies the issue as far as the coding goes…

On Feb 14, 2021, at 9:22 AM, Florian Pichler <notifications@github.com> wrote:

﻿
We are aware of this option, but importing files into these built-in libr

[2021-02-15 15:02] pichfl commented on #547
That was very clear, I think you missunderstood me here. Without iTunes/Music it's not possible to *add* files to the internal Libraries in the first place, which is the reason why BookPlayer exists as an alternative.

We are aware that some publishers publish audiobooks to Apple Music and we will explore showing files from these Libraries in the future, but right now this is beyond what BookPlaye

[2021-02-16 20:33] DarkXaHTeP commented on #224
Hi! Could it be possible to add 2.25x and 2.75x as well in addition to 1.1x and others?

[2021-02-16 21:52] GianniCarlo commented on #537
This will be included in the next release 3.11.1

[2021-02-16 21:52] #537 closed

[2021-02-17 00:40] #498 closed

[2021-02-17 01:59] GianniCarlo commented on #388
This is already in the app 👌

[2021-02-17 01:59] #388 closed

[2021-02-20 12:23] master0v opened #552 "Unable to copy books using file sync (Potential regression)"
# 🌎 Environment

 - OS Version: BigSur + iOS 14.4
 - Version/Release: Latest from App Store

# 💬 Description
It used to be possible to connect the phone using the usb cable and drag/drop books into the BookPlayer folder in order to copy them to the player.  It no longer works

<img width="715" alt="Screen Shot 2021-02-20 at 8 15 51 AM" src="https://user-images.githubusercontent.com/18746987/108595

[2021-02-20 12:30] GianniCarlo commented on #552
Hi @master0v ! Yes, it's been some time since we disabled direct folder support due to a bug, we're currently working on it in this Sprint, so hopefully we have it back in the next version near the start of March. The current workaround is to first zip the folders and then pass that zip file(s) to the app as you're doing with the folders

[2021-02-20 12:37] master0v commented on #552
Thanks for the workaround.  I also found that when copying entire folder over Airdrop, iOS does not present bookplayer as a target.  It does so only when dropping a bunch of mp3 files.  Should I file it as issue, or is this also known?

[2021-02-20 15:09] GianniCarlo commented on #552
yes that's related to folder support, once we enable it back again, BookPlayer will show up in the list 👍, thanks for your attention to detail 😁

[2021-02-23 09:35] crozo5 commented on #464
Will we see this feature in the near future? This year?

[2021-02-23 10:23] menkab opened #553 "Despite cover art is saved in id3 tag it does not shows up"
I have cover art written into id3 tag of the mp3 files, but it does not show up.
File size is about 78Kb and ist jpeg.

https://github.com/TortugaPower/BookPlayer/issues/512#issuecomment-721617777

[2021-02-23 18:36] blckbrd14 opened #555 "Two suggestions"
Great work all around with this app, thank you! Here are two suggestions for new features:

• A theme that mimics Audible app’s dark grey scheme for all the people who have a strong emotional connection to that specific tint from hours of using Audible.
• A weird feature I haven’t seen in any app: a sleeping aid that remembers your original place in the book. In other words, the ability to play bo

[2021-02-23 23:39] xvaara opened #556 "m4b with png artwork not showing."
# 🌎 Environment

 - OS Version: 14.4
 - Version/Release: 3.11.2-1

# 💬 Description

m4b with png artwork not showing.

# 🦶 Reproduction Steps

Created a m4b with audiobookbinder, added a png as artwork.

# 🤔 Expected Results

Show artwork on list and play screen.

# 😲 Actual Results

No artwork.
 ffprobe give:
[code]
Using itunes I removed the png and added jpg of the cover.
[code]
still no luck.

[2021-02-24 04:08] XiaoHippo commented on #556
Seeing the same thing, but with JPEG cover art. Worked on an older version but not on the latest that was released yesterday.

[2021-02-24 09:47] pichfl commented on #555
For other people wanting to post suggestions: We do have the [Discussions feature](https://github.com/TortugaPower/BookPlayer/discussions) enabled for this repository, please use that if you do not have problems with BookPlayer but want to contribute with ideas.

1. New theme: New themes will drop more regularly in the future. The suggestion is duly noted. We won't copy verbatim, but I think getti

[2021-02-24 09:47] #555 closed

[2021-02-25 15:16] Klench commented on #556
I am experiencing the same issue, with a jpg image.

[2021-02-26 09:00] lilgrassin commented on #556
Same here, experiencing missing cover art for any audiobooks imported since the latest app update.

[2021-02-26 10:22] baron opened #558 "Bug: screen stays awake during playback if plugged into power"
# 🌎 Environment

 - OS Version: 14.4
 - Version/Release: 3.11.2-1

# 💬 Description
So this one is a revisit of #541 which was closed.

The core of the issue is: When BookPlayer is playing it prevents the screen from sleeping.

This is a bug since:
1. Apple's Music, Spotify, and other audio book apps respect the screen lock settings and go to black even during charging
2. BookPlayer's behavior is i

[2021-02-26 11:42] pichfl commented on #556
Can confirm this is happening. Not sure why though.

[2021-02-26 15:16] GianniCarlo commented on #556
I've forgotten to mention, I've scheduled this to be reviewed next sprint that starts next week, this may prompt a patch release to get the fix out by next week. Thanks everyone for reporting this 🙂

[2021-02-26 15:25] GianniCarlo commented on #558
Hi @baron ! thanks for the detailed investigation and the reproduction steps

Regarding the `updateAutolock()`function

https://github.com/TortugaPower/BookPlayer/blob/72d881dab5034de16a16d2a1e549fd447a3032bb/BookPlayer/Player/PlayerViewController.swift#L340-L354

The first line checks whether the user has configured the setting and is set to `true`, otherwise it doesn't continue with the rest.

I

[2021-02-26 16:31] baron commented on #558
Thank you for giving this your attention, I wish I could be more helpful with actual code but hopefully provided you with enough information to investigate.

I have tipped before but will gladly tip again if this is resolved as I really like the app. I listened to the entire Dark Tower series by Stephen King with this app so it has a special place in my heart. Thank you for giving us such a qualit

[2021-03-01 16:17] david0z3ro commented on #556
Thanks for this amazing app.
Indeed, no art work is showing up in my side as well. It does show up in native iBooks app though. File is acquired in BookPlayer via download from NAS.

[2021-03-01 17:46] GianniCarlo commented on #556
This PR fixes this issue (retroactively as well) https://github.com/TortugaPower/BookPlayer/pull/560

[2021-03-01 17:46] GianniCarlo commented on #553
This may be related to the issue introduced in the last version, this PR should fix it https://github.com/TortugaPower/BookPlayer/pull/560

[2021-03-01 18:52] pichfl commented on #553
This may be related to #556

[2021-03-02 23:33] GianniCarlo commented on #558
@baron I tried reproducing it but with no success. Can you specify in the steps in which screen you're currently at for each one?

Regarding this line `UIApplication.shared.isIdleTimerDisabled = UIDevice.current.batteryState != .unplugged` the app will only reach that if the user has enabled the `Disable Autolock` feature, the first `guard` statement takes care of that. For the version that is wai

[2021-03-03 20:16] GianniCarlo commented on #556
The new version was approved 👍, in a few hours it should appear in the App Store, feel free to reopen if the issue persists

[2021-03-03 20:16] #556 closed

[2021-03-03 20:16] GianniCarlo commented on #553
The new version was approved, in a few hours it should appear in the App Store, feel free to reopen if the issue persists

[2021-03-03 20:16] #553 closed

[2021-03-03 20:17] #496 closed

[2021-03-05 11:20] NightMachinary opened #565 "[FR] Support WebDAV"
I have a lot of audio books on my external HDD. I have connected this HDD to my computer and I am running a webDAV server to share the drive across the local network (my WiFi LAN). I like to be able to play these books with BookPlayer. Most video players on iOS have this feature, e.g., KMPlayer.

I can run other servers (e.g., ftp) instead of webDAV, too. BookPlayer just needs to support a single

[2021-03-05 13:45] GianniCarlo commented on #565
Hi @NightMachinary ! yes we've talked about webDAV support in this ticket https://github.com/TortugaPower/BookPlayer/issues/362 , we're working on folder support and also make the on-disk files reflect the same structure as the digital library so there's no issues with webDAV and other services that rely on modifying/adding directly files into the disk/phone

[2021-03-06 19:55] #565 closed

[2021-03-07 15:55] baron commented on #558
@GianniCarlo I'll lookout for the update and report back. Thank you for looking into this. I'll do my best to break it down. Also, I didn't emphasize that I have "tilt to awake enabled" but this didn't affect my testing.

Steps to reproduce the behavior, provide an example of the command line issued:
1. Settings app - Set screen lock to 30 seconds and Tilt to awake is ON (under screen lock setting

[2021-03-10 03:42] MotaOcimar commented on #341
I'm also migrating from Android these days and looking for an app to listen my audiobooks.
This project seems to be quite amazing :heart:

@sretlawd said:

Hey man! First of all, thanks for implementing this! This feature will really come in handy!
I'm very used to falling asleep listening to my audiobooks, so I'm going to love a feature like that! In fact, just like @Petahh said:

So, any update?

[2021-03-10 15:15] sherlock440 opened #567 "Feature request: a built-in collection of atmospheric music that can be used as a background"
Some readers have a cool feature: they allow you to add subtle background atmospheric music (like the burning of a campfire or the pounding of rain).

It would be very cool if this app had a similar option, at least for those who have paid for it. Well, and users should be able to adjust its volume

[2021-03-10 15:34] sherlock440 opened #568 "Feature Request: Ability to add bookmarks to the books"
Bookmarks help you quickly find important marked points

[2021-03-10 18:10] #567 closed

[2021-03-10 21:45] pichfl commented on #341
Glad to hear this feature has fans. We will be implementing it once other more pressing issues are resolved.

If there would be an update or an intend to implement, it would be visible in this issue. Keep in mind that BookPlayer is a hobby project still, so the only way to speed things up is to download Xcode and write Swift yourself. If you are interested in joining in, you can drop by our Discor

[2021-03-10 22:18] Stephanieml3 opened #571 "App plays audiobooks on iPhone but not on Apple Watch"
I'm unable to hear my audiobooks on my Apple Watch using bluetooth earbuds. I hear them on my iPhone instead. I'm assuming the audiobooks haven't synced to my watch even though I can select them on the Apple Watch app.
Thanks for your help with this issue!

[2021-03-11 09:32] pichfl commented on #571
Books are not playing directly on the Watch right now. The Watch app is currently only a companion for the main application.

This will change once #464 is resolved and will most likely take some time as we have to refactor how we handle books in general first.

I'll close this as a duplicate for now, if I mistook something here, do not hesitate to clarify and I'll reopen the issue.

[2021-03-11 09:32] #571 closed

[2021-03-11 09:34] pichfl commented on #534
Please provide more specifics. What type of cloud storage are you using?

[2021-03-11 09:35] pichfl commented on #523
Please provide more details:

- Can you please post the naming scheme of the files you used?
- Are they MP3 or MP4
- Do they have IDE3 Metadata?

[2021-03-11 09:38] pichfl commented on #501
I can't reproduce this any longer using my wired USB connection. @theboyk do you use wired CarPlay and does it work for you by now?

[2021-03-11 10:50] pichfl commented on #464
@crozo5 it will be ready when it is ready. Keep in mind that BookPlayer is not a paid application and will always be Open Source in its core. We work on this whenever we can, but it does not yet pay for our food or the roof over our heads even though we are grateful for the donations which help to divert some of our time to continue the project.

To repeat my sentiment from earlier in this issue:

[2021-03-11 16:07] kmaling commented on #501
Sorry guys. Moved my audiobook library into PLEX and started using Prologue for iPhone & CarPlay playback, so haven't been running BookPlayer since late 2020. Sorry.

[2021-03-11 20:16] Stephanieml3 commented on #571
Thank you, Florian for this information! Unfortunately, I can't use this app until this issue is resolved. Thanks!

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, March 11, 2021 2:32 AM, Florian Pichler ***@***.***> wrote:

[2021-03-12 15:32] pichfl commented on #501
@kmaling Don't be! If you have Plex that sounds like a nice option 👍

[2021-03-15 19:56] eluphira opened #573 "Heavy battery drain playing MP3 to Bluetooth speaker"
When playing a book consisting of multiple MP3 files to a Bluetooth speaker, battery drain is heavy and the back of the iPhone becomes warm.  By heavy I mean the battery level dropped from 79% to 71% in 2 minutes.

The iPhone is in airplane mode. WiFi is off. No other apps should be in background.

With Bluetooth off, playing to the internal speaker, battery drain is slow as expected.

Playback sp

[2021-03-17 13:12] OSchu78 commented on #511
Hi, i have a similar request too...
Maybe it is possible to etablish an opt in option to make the sleep timer settings globally since i disable this option. So i can choose to set the sleeptimer for current book only or for all books in the library.
That would be great!

[2021-03-17 16:50] jcqbrc commented on #127
Any update on this? Seems like an essential feature of non fiction books. Thanks!

[2021-03-17 18:16] GianniCarlo commented on #127
soonish 😁 we'll be including this in our next major release v4 along some other surprises 💪

[2021-03-17 19:19] jcqbrc commented on #127
Oh, very nice. Any sense of a timeline? :)

[2021-03-18 12:27] pichfl commented on #127
@jcqbrc it's done when it's done – this is how Open Source works.

[2021-03-21 15:56] almetria opened #574 "Resume play after calls"
# 🗣 Context

Resume playing after interruptions like when calls end. It isn’t nice having to mess with device after call ends when driving.

[2021-03-21 19:56] caughtadeer opened #575 "Ability to Import M4B files"
Would love to be able to import m4b files. Thanks guys.

[2021-03-21 23:48] red-ochre commented on #575
I do that now from macOS. Connect iPhone to Mac with either USB or WiFi. In Finder open the phone’s folder then the Files tab. Then drag ‘n’ drop the m4b to the BookPlayer folder. The BookPlayer app on the phone will import the book.

Cheers,

[2021-03-22 14:12] pichfl commented on #575
Importing `m4b` files is a basic function of BookPlayer from the very beginning of the app. You can send them via AirDrop on macOS or another iOS device or via the method @red-ochre describes or from any cloud service connected to Files.app on your device. We even recommend M4B as the default format for your audiobooks as it makes handling much easier.

If you have an issue importing a specific fi

[2021-03-22 14:12] #575 closed

[2021-03-22 14:14] pichfl commented on #574
Do you have an example of an application that actually supports this right now?

I can't get this working with Apples own apps so I'm fairly certain that there is no way for us to provide this feature as iOS itself is lacking a mechanism for it.

@GianniCarlo may know additional context, but I'll close this for now as it very much seems to be out of our reach 😞

[2021-03-22 14:14] #574 closed

[2021-03-22 14:35] GianniCarlo commented on #574
Hi Guys! we actually have it implemented in the AppDelegate

![Screen Shot 2021-03-22 at 9 31 15 AM](https://user-images.githubusercontent.com/14112819/112006159-76370200-8af1-11eb-87ae-f1104a7bc4ba.png)

The problem is, that sometimes the app can't turn back on the audio session so it can reproduce audio again, when the app enters this state, nothing I've tried have managed to make it able to tur

[2021-03-23 07:10] redcardfr commented on #311
The ability to

Is it possible to have this functionality at the playlist level?

Typically I’ll have a playlist with 2-3 books I’m currently listening to, and it would be nice to see time remaining etc. for the playlist

Thanks

[2021-03-23 10:15] pichfl commented on #311
Not yet, but we are working on that 🙂

[2021-03-25 04:58] almetria commented on #574
Pretty much. It’ll be on Bluetooth either car or headphones and won’t resume play once Bluetooth is disconnected. I’m coming from Android/Listen Audiobook Player and your app is the closest I’ve been able to find to it. I can appreciate there are limitations you have to work within. It won’t kill me to have to resume it myself :D

Sent from my iPhone

[2021-03-28 21:16] homeuser99 opened #576 "Bug: Error when umlaut in filename"
# 🌎 Environment

 - OS Version: [e.g. 13.5.1]
 - Version/Release: [e.g. 3.9.0-1]

# 💬 Description

A clear and concise description of what the bug is.

# 🦶 Reproduction Steps

Trying to add a file that has an umlaut in the filename
1. Navigating to file location on my NAS (WD MyBookLive)
2. Tap on filename (03. Nena - Zurück in die Zukunft.m4a)
3. Get error message (see below).

# 🤔 Expected Resul

[2021-04-06 23:14] jasonblewis commented on #575
I think OP might have been referring to the inabliltu to select m4b when importing in app. Steps to reproduce:

Touch add/import files, then select a folder that contains m4b files. Note they cannot be selected. See screenshot

![467EC415-6AE2-4159-803D-C79F09A1ED6D](https://user-images.githubusercontent.com/129165/113788978-93bacb80-9781-11eb-863a-c363616a0572.png)

[2021-04-07 01:00] GianniCarlo commented on #575
Hi @jasonblewis I recently responded via email as well, this is the line I'm referring to that we present the document picker Apple provides for us

https://github.com/TortugaPower/BookPlayer/blob/92b2d62a6806153af3e9b34683c05f5cdff7235d/BookPlayer/Library/ItemListViewController.swift#L194-L195

we pass `public.audio` which according to [Apple's reference](https://developer.apple.com/library/archi

[2021-04-07 09:11] jasonblewis commented on #575
@GianniCarlo thank you for your detailed response and diagnosis. For what it's worth in this case it is the ownCloud client. I will see if i can report the issue to them

[2021-04-10 18:52] ChrisNFS commented on #573
Same problem here. Massive (read very heavy) battery drain using Bluetooth (AirPods). Battery level dropped from 95% to 30% in 2 hours, no other apps used. Bookplayer was in background, playing a single MB4 audiobook. Problems exists with 3.12.0-2, not before. I am using iOS 14.4.2.

[2021-04-23 02:16] dannydav709 opened #584 "Pause/Play somewhat glitchy"
Pause/play button is somewhat glitchy. There’s a short delay in pausing, and then a short delay in un-pausing. Not as smooth as a play/pause button in certain other apps.

(Amazing app otherwise!!)

[2021-05-06 03:06] fivestones commented on #127
Everybody know that a timeline given by anyone making software is a best-case-guess at best, and that it typically will require more, or a lot more, time.

It’s still really helpful for impatient people like me to hear a timeline. 😉

[2021-05-06 03:27] fivestones commented on #127
I’m not sure how much of this issue may have been completed already but I have a few thought on how it could work assuming most of it hasn’t already been done:

Starting the bookmark at the time the button is pressed would be helpful for some of the things previously mentioned (e.g., keeping track of your spot when you are about to fall asleep). But to replicating the best of what can be done with

[2021-05-12 02:24] mark-mess opened #586 "Sync files between iphone and ipad"
Hi, I want to use BookPlayer on my iphone and my ipad.  Right now I do not see my files from my iPhone when I go to the app on my iPad. Is there a way to sync them?
Thanks! Mark

[2021-05-12 12:24] GianniCarlo commented on #586
Hi @mark-mess , we currently don't have a way to do cross-device synchronization, it's in our pipeline though 🙂. Side note, If you want to share one book from your phone to your ipad, you can 'Share' it from the options menu of a book (not playlist) and it will open up the iOS share sheet, allowing you to send it via Airdrop to your iPad (current progress won't be sent :/)

[2021-05-12 15:43] mark-mess commented on #586
Thanks!  I didn’t know I could airdrop. Thats works great.
I appreciate the reply.
Mark

On Wed, May 12, 2021 at 5:24 AM Gianni Carlo ***@***.***>
wrote:

[2021-05-24 15:02] elric667 commented on #511
Wondering if we could just have an automatic sleep timer setting that allows us to reset the sleep timer by shaking it.  Also, be able to set sleep time volume decrease over time allowing for volume decrease over up to 1 minute.

[2021-05-24 16:22] OSchu78 commented on #511
Shaking the device works only within the time range selected, but when the time is expired the sleep timer will be disabled until you arm it manually again.
So if i can set the sleep timer globally and it expired once and i start the book again, the timer will be armed automatically again about the period i've setting the last time.
If i am listening to a book with several chapters of approx. 20 m

[2021-06-20 08:34] bkunat opened #591 "Unable to export more than one file at a time"
Hi all,

First of all, I wanted to thank you for all the work. BookPlayer has become my favorite audio player of the last couple of months.
I'm not entirely sure if this is more of a feature request or a bug.

# 🗣 Context

The newest version of BookPlayer.app does not support exporting more than one file at a time. Share option is greyed out when more than one file is selected.

# 💬 Narrative

As

[2021-06-23 03:19] GianniCarlo commented on #591
Hi @bkunat !, we have the building blocks for this with the class `BookActivityItemProvider`. I purposely limited the feature to just exporting one item at a time, due to not being sure what would be the breaking point for exporting a playlist (in terms of sizing or number of items).

If anybody is up for this, please feel free to reach us via [Discord](https://discord.gg/MjCUXgU) and we can point

[2021-06-23 05:53] #591 closed

[2021-07-08 03:00] gitly-ops opened #592 "Cover art resolution"
Hello, the .mp3 2400x2400 cover art for my audiobook is displaying poorly( extremely blurry/low-resolution) despite the original files resolution quality. Do you have recommendations for resolving or this a bug? Thanks

[2021-07-08 08:07] pichfl commented on #592
Can you provide the artwork in question as well as what device you're using?

[2021-07-10 20:12] gitly-ops commented on #592
Hi Florian,
It’s an .mp3 file.
I viewed on an iPhone 8+ (also will check that it works for Androids).

On Thu, Jul 8, 2021 at 1:07 AM Florian Pichler ***@***.***>
wrote:

[2021-07-10 20:17] gitly-ops commented on #592
This is the cover art and it’s appearance.
Thank you for your time and consideration
Florian.

P.S: I’m in the woods and have spotty reception .

On Sat, Jul 10, 2021 at 1:12 PM Dr M ***@***.***> wrote:

[2021-07-11 11:28] and-pete commented on #380
This was a nice little fix for another `.m4b` issue I experienced.

A 16-hour audiobook was dead silent in _BookPlayer_ on either my iPhone or iPad (and also if opened by the device's default player within Files), but it *would* work using the _VLC_ app on each device.  Running it through `ffmpeg` did the trick. Thank you!

[2021-07-14 01:01] gitly-ops commented on #592
Hello Florian,

I’m following up on my last message (below).
What do you think the issue is? How can I have the cover art image show
better (resolution)?

Look forward to hearing from you,
Manna

On Sat, Jul 10, 2021 at 1:17 PM Dr M ***@***.***> wrote:

[2021-07-15 11:17] pichfl commented on #592
You didn't attach the image nor a screenshot here on GitHub so far, which makes this hard to debug.

[2021-07-15 21:48] gitly-ops commented on #592
Hello Florian,
Thank you for alerting me, I had drafted but hadn't sent the screenshot of
the image. If you require the image itself, I am attaching it to this email.
Please let me know what the results of the debugging are. I'm also in the
midst of reformatting the files with 500x500 cover art in case that may
improve the image quality on the audiobook player.
Thank you,
Manna

On Thu, Jul 15, 20

[2021-07-16 08:34] pichfl commented on #592
Answering to the email doesn't work, you would have to attach here on GitHub.

[2021-07-30 19:28] kolibrie opened #593 "Opus playback"
# 🗣 Context

I have audiobooks that I have ripped from CD into Opus format, and would like to be able to import them into BookPlayer and play them, without having to re-encode them (into a proprietary format).

# 💬 Narrative

As an audiobook listener
I want to be able to play audiobooks in free formats such as Opus
So that I do not have to re-encode them in order to listen to them with the BookPla

[2021-07-31 14:52] rakleed opened #594 "By default, make app theme match system theme"
By default, please make the app theme match the system theme. Since this is exactly what is done in the vast majority of other apps, and it is convenient.

[2021-08-02 15:04] GianniCarlo commented on #594
This totally makes sense, I'll change this for the next release 👍

[2021-08-12 01:36] GianniCarlo commented on #594
This issue is solved in the upcoming [release 4.0.0](https://github.com/TortugaPower/BookPlayer/pull/600/files#diff-1e5ac206acc8a8ac41dbdc5d9f9ea5cb9371fd69a9ff9865f28c185c00759f72R176-R178), see excerpt

https://github.com/TortugaPower/BookPlayer/pull/600/files#diff-1e5ac206acc8a8ac41dbdc5d9f9ea5cb9371fd69a9ff9865f28c185c00759f72R176-R178

[2021-08-12 01:36] #594 closed

[2021-08-14 18:19] karenmiss opened #601 "Bug: App randomly crashes/closes when attempting to import files"
# 🌎 Environment

 - OS Version: iOS 14.7.1 (iPhone SE model MXCY2LL/A)
 - Version/Release: 3.12.0-2

# 💬 Description

App crashes when importing files from OneDrive stored locally.  I have tried mp3 and m4a files.  The files average10-30MB each.  If I select more than one file to import, the app crashes with every attempt.  If I choose one file at a time, the app will crash randomly maybe once or

[2021-08-14 22:51] GianniCarlo commented on #601
Thanks for reporting this @karenmiss. I've looked into this, and it looks like when importing, this line fails:

`try (destinationURL as NSURL).setResourceValue(URLFileProtection.none, forKey: .fileProtectionKey)`

which is needed to allow the app to autoplay next files/books when the phone is locked 🤔 . I'll have to think a way around this

[2021-08-16 09:07] GarethBlain opened #602 "Add automatic updating of read status on GoodReads"
# 🗣 Context

Add automatic updating of read status on GoodReads (https://www.goodreads.com/)

# 💬 Narrative

It would be great to be able to link a book you're listening to to a GoodReads book when it's added to BookPlayer.
That way as you start reading a book it could have the started date automatically marked on GoodReads then as you progress the percent complete could be updated.

I often find

[2021-08-16 14:40] #602 closed

[2021-08-17 23:27] GianniCarlo commented on #601
@karenmiss can you verify if it's still happening on v4.0.0?

[2021-08-17 23:28] GianniCarlo commented on #358
Folder (and subfolders) support is back in v4.0.0 (#600), we're finally able to close this

[2021-08-17 23:28] #358 closed

[2021-08-17 23:36] GianniCarlo commented on #508
This should already be fixed in v4.0.0 released today, feel free to reopen in case it's still happening

[2021-08-17 23:45] GianniCarlo commented on #510
@rastaman111 we've revamped how importing works right now, we no longer need to read the whole file to get an identifications, I would recommend to test again in v4.0.0 and see if it works with that. Please feel free to [join us in Discord](https://discord.gg/MjCUXgU) 👍

[2021-08-17 23:45] #510 closed

[2021-08-18 09:24] technolaaji opened #606 "MacOS app support"
# 🗣 Supporting macos to run bookplayer as an ios app

some of the apps that I use have some sort of compatibility to run on macos (M1 version). it would be ideal if the mobile app can be supported on macos to run but not fully supported as in width screen but rather just run the app directly with the iphone default size. take overcast as an example where you can run the app on the m1 mac at the si

[2021-08-18 13:34] GianniCarlo commented on #606
With v4.0.0 out now, we have enabled the app to be available for the appstore on Mac M1.

There are some reordering issues with v4.0.0 that will be addressed in v4.0.1 which is pending review, but other than that, you should be able to drag files from finder on top of the app and import files

Syncing progress cross device isn't yet supported, but we are moving towards that goal

[2021-08-18 13:36] #606 closed

[2021-08-19 00:01] karenmiss commented on #601
@GianniCarlo it still crashes/closes when doing a bulk import, but it is a different process now.  After selecting Open, I now see a new Import screen that lists all of the files that I am trying to import with a red circle icon to the left of each file that will delete it from the import list.  I click the Done button at the top of that screen and it immediately closes the app without any spinner

[2021-08-19 08:36] pichfl commented on #601
Side question: How much free space do you have left on your device? Go to Settings → General → Info and look for "Capacity" and "Available"

[2021-08-19 15:22] karenmiss commented on #601
@pichfl I've got 10.54GB remaining out of 128GB.

[2021-08-19 19:25] rakleed commented on #594
@GianniCarlo I reinstalled the app, and although I have a dark theme on my system, the first time I started the app, the light theme was displayed (while the System theme option was set in the settings). After closing the app and reopening it, a dark theme was displayed.

It would be nice if the app theme matches the system theme the first time you open it.

[2021-08-19 22:12] kirtangor opened #609 "Bug: Random playlists vanish after dragging and sorting a file within a different playlist"
# 🌎 Environment

 - OS Version: 14.4
 - Phone: iPhone XS
 - Version/Release: 4.0.0-7

# 💬 Description

I lost around 40-50 of my audiobooks that were in a couple of playlist after dragging a file to arrange its order within a different playlist.

This seems like a very weird bug, but I am heartbroken at losing so many good books gathered over the course of many months.

I see that the files still

[2021-08-19 22:22] kirtangor commented on #609
I see that a hotfix for a reorder bug is already in review. However, is the hotfix addressing the bug and would it also bring back the files lost due to it?

[2021-08-19 23:13] GianniCarlo commented on #609
Hi @kirtangor , that will be addressed in a upcoming PR, we are working on a data management settings, so the orphaned files that are still on disk, can be found and matched with possibly Book objects that got their Folder or Library relationship cut off and are on limbo (or they can be deleted too, whichever course the user decides)

I see that 4.0.1 was just approved by Apple, so I'm closing thi

[2021-08-19 23:13] #609 closed

[2021-08-19 23:46] kirtangor commented on #609
Hi @GianniCarlo, thanks for the update! I just installed the latest version and unfortunately the files are still not back. Would the app perform an auto-scan the first time it launches to fix this? I tried opening / re-opening the app multiple times and still do not see those files. The bug that actually caused this problem seems to have been fixed though.

[2021-08-19 23:49] kirtangor commented on #609
Since I am not a collaborator on the project, I cannot reopen the issue. Would you like me to file a new one?

A workaround to export those files out of the disk would also be appreciated, ad-interim.

Thanks again for all your work on the app - It's amazing!

[2021-08-19 23:55] GianniCarlo commented on #609
Thanks :D, regarding the issue, yes I think that would be best, there's still not one that refers to either data storage management, or a solution for those that were affected by this bug. Good idea about the ability to export files from there too 🤔

[2021-08-20 00:10] kirtangor commented on #609
Thanks again for your quick response. I will file a new bug as soon as I get free. I have currently connected my iPhone with the Mac and am exporting the whole Processed folder of the app to my Mac's disk. I have my fingers crossed and am hoping that the files are still there.

[2021-08-20 00:18] kirtangor opened #610 "Bug: Random playlists vanish after dragging and sorting a file within a different playlist"
## Environment

 - OS Version: 14.4
 - Phone: iPhone XS
 - Version/Release: 4.0.0-7

## Description

Due to the reordering bug introduced in release 4.0.0-7, dragging a file in one playlist to the top of the playlist and ordering it caused a few (random?) playlist folders to disappear. Luckily the folders are still intact on the disk, however their association is somehow lost.

**IMP NOTE**: Do no

[2021-08-20 09:52] nohup6352 opened #611 "Skip-/Fast-forward and Skip-/Fast-backward controls on EarPods"
# 🗣 Context
Hello,

the EarPods Audio Controls do not work as expected regarding the Skip-/Fast-forward and Skip-/Fast-backward controls on the Apple EarPods.

This is from the [Apple manual](https://support.apple.com/en-gb/guide/iphone/iph7a203b610/ios):

An example how it works as expected is the 'MP3 Audiobook Player' App.

There may also be options to have different behaviours with the EarPod

[2021-08-21 03:56] song4Him commented on #311
Just adding a note here saying I, too, would love to have a way to see progress on the book or playlist as a whole. I was wondering if perhaps a percentage number next to the current pie chart progress tracker would be an easy addition? But I do like redcardfr's idea, too.

I also haven't worked out how to effectively do m4b books, as I get almost all my audiobooks as mp3s, and converting them is

[2021-08-22 17:53] pichfl commented on #311
@song4Him we are working on a solution to bundle up files into a single book from inside the app in the future. For now and for easier handling of books in general we always recommend [using m4b to create a single file for each book](https://github.com/TortugaPower/BookPlayer/wiki/FAQ#how-to-combine-mp3-files-into-m4b-audio-books).

In short: You most definitely want to have a single file per book

[2021-08-22 23:37] dano3006 commented on #311
A playin-in-progress meter would be a nice addition, very useful and helpful.

I use m4b almost exclusively, so they do work. Agree that converting multiple files - either mp3 or m4b - is a pain*.

*I have not found many sound utilities that can edit m4b. I use Audiobook Builder to compile multiple files into a single or a few files but it does not edit m4b, it only compiles mp3 or m4b into bigger

[2021-08-24 05:04] GianniCarlo commented on #594
@rakleed thanks for pointing it out, [this commit](https://github.com/TortugaPower/BookPlayer/pull/613/commits/c49edf0dbd9f4639edf1335d27fd19179ce07e6b) handles that issue and will be included in the next release

[2021-08-24 13:19] GianniCarlo commented on #506
This was addressed in [this PR](https://github.com/TortugaPower/BookPlayer/pull/614), which is included in the next upcoming version v4.1.0

[2021-08-24 13:19] #506 closed

[2021-08-27 04:35] solveitconsultants opened #616 "Library Categories and Series"
# 🗣 Library Organization

Just a shout out to the developers, you are doing a great job. Every progression so far has been fantastic!

Something I would love to see is the ability to use categories, tags, or series to manage my larger libraries when I am on the road.

I have a lot of series (Asterix and Obelix for example) which have episodes (Same with Alfred Hitchcocks Three Detectives) where a

[2021-08-27 17:40] #616 closed, assigned to nobody

[2021-09-01 06:39] jbcoventry opened #619 "Bug: Next item does not autoplay if screen is locked and item was imported through airdrop"
## Environment

 - OS Version: 14.7.1
 - App Version: 4.1.0

## Description

When listening with the screen locked, when the item finishes playing the lock screen player disappears and the next item in the playlist does not begin playing. This happens if the items were imported directly in to BookPlayer through airdrop and also if items were airdropped in to iOS files application and then imported

[2021-09-03 01:45] co8erboy opened #623 "Local audiobook support instead of relying and solely allowiny cloud storage import"
# Local audiobook support instead of relying and solely allowiny cloud storage import
The app Bookmobile and Greenlit allow recognition and usage of locally stored audiobooks as opposed to having to import cloud-stored audiobooks that one may not even have current possesion of "in the cloud" or that would otherwise require perpetual subscription of paid cloud services to maintain one's current cat

[2021-09-03 02:01] GianniCarlo commented on #623
I've looked into this before, the thing is that Apple Books doesn't provide access to the actual files, but rather provides a reference that can be used for playback of the item, and this lands into external items territory.

When we get around to handle external files/items, we want to properly design the interface (both UI and codewise), which will take time (the folder restructure overhaul took

[2021-09-03 02:14] co8erboy commented on #623
Sorry, didn’t mean to attack you with the “paid-off” thing. It just gets tiring that there are always these seemingly needless distinctions that never get integrated like the fact that there are so many either MOBI or EPUB or PDF readers but very few well-designed players that recognize all three.

I’m honestly sure you are doing your best :) If/when possible: please integrate the locally-stored a

[2021-09-03 02:30] elric667 commented on #511
I completely agree I want these features for the Bookplayer it is the only thing I miss going from Android to Iphone is that I lost my Smart Audiobook.

[2021-09-03 19:54] s00d commented on #508
![IMG_002139](https://user-images.githubusercontent.com/2684895/132059065-891560f4-1280-4035-a2d5-b15ed60d4a99.PNG)
<img width="204" alt="Screenshot 2021-09-04 at 00 52 28" src="https://user-images.githubusercontent.com/2684895/132059078-0d118383-c6bd-4764-a58e-625a52c9418d.png">
How does this happen? version 4.1.0
all my mp3 books in random order

[2021-09-04 06:26] BatsaxIV commented on #619
Hi,

I can confirm having the same bug, also the workaround provided is ok.

[2021-09-04 22:28] jbcoventry commented on #619
@BatsaxIV i found that zipping the folder prior to airdropping works as well. Which I find more convenient than using the finder drag drop method.

[2021-09-05 17:22] checkoutmyspideysuit opened #624 "Customized Smart Rewind for forgetful listeners"
# 🗣 Context

Smart rewind feature is not long enough for people with memory issues

# 💬 Narrative

I love using the app to listen to audiobooks but as a person with memory issues the smart rewind feature (rewind 30 seconds after not playing for >10 minutes) does not rewind enough for me to remember what is going on in the story. Personally, I often have to rewind ~90 seconds back to figure out wha

[2021-09-06 20:49] carbonel17 opened #625 "Bug: File import to BookPlayer not always working"
## Environment

 - OS Version: iOS 14.7.1
 - App Version: BookPlayer 4.1.0-2

## Description

I have been using BookPlayer for several months as my exclusive audiobook reader. I found it after becoming annoyed with VLC because it kept losing my place.

Normally I import books using the File Import feature in iTunes. If the book is just one file, I'll use the Dropbox feature that lets you export to

[2021-09-07 04:46] hydrohd opened #627 "Bug: Crashing on launch"
## Environment

 - OS Version: 14.7.1
 - App Version: 4.1.0
 - iPhone XR

## Description

Recently updated my BookPlayer to 4.1.0, the app refuses to launch anymore :( I tap on it and it just returns to home screen.

## Steps to reproduce the behavior
1. Update to latest version of app
2. Try to launch the app by tapping on it
3. App just refuses to open.

[2021-09-07 15:25] GianniCarlo commented on #127
#626 takes care of the initial version and will be released in the next feature version 4.2.0, I'll put up the open beta as soon as possible 🙌

[2021-09-07 15:25] #127 closed

[2021-09-07 15:27] GianniCarlo commented on #299
In the initial version, there are two automatic bookmarks that get overridden `.play` `.skip`, which will record the place before playback is started, or a time jump is triggered by the user (either via the progress slider, rewind or forward button)

[2021-09-07 15:27] #299 closed

[2021-09-07 15:39] GianniCarlo commented on #625
@carbonel17 can you test on the version that was released today (v4.1.1)? that contains a fix where folders were being ignored by the DirectoryWatcher (which also was affecting some zip files imports)

[2021-09-07 15:46] GianniCarlo commented on #619
@jbcoventry @BatsaxIV can you test on the version that was released today (v4.1.1)? that contains a fix where folder contents are being also set with the proper file protection key to allow the app while in background and locked to access the files and continue playback

[2021-09-07 16:09] carbonel17 commented on #625
It worked! I was able to import a file using the Dropbox export function.

Thanks for the quick response!

[2021-09-07 16:33] carbonel17 commented on #625
Update: A book that I tried to import as a zipfile from Dropbox is still being ignored by BookPlayer.

[2021-09-07 16:52] carbonel17 commented on #625
Further update: Importing from iTunes File Sharing, either as a zipfile or .mp3 files isn't working with the same files I had problems with yesterday.

So either things aren't completely fixed or I have problematical files (though they work just fine in iTunes and VLC).

[2021-09-07 17:07] carbonel17 commented on #625
And yet a further update: Nothing was working, even something that had worked before, so I tried shutting down my iPhone and restarting it. After that, I was able to import a zipfile via Dropbox. (I haven't tried iTunes again after that.)

Any idea why restarting would fix things? (It didn't before the update.)

[2021-09-07 17:37] rastaman111 commented on #510
Hey!  I learned a new import method and found it interesting.  But it would be interesting if when the zip file was unzipped, and not 2 times a screen with files opens

[2021-09-07 17:53] GianniCarlo commented on #510
@rastaman111 yeah I get what you mean, and that would be a good improvement on the current way import works. We would need to make the `ImportOperation` an async operation (see reference: https://www.avanderlee.com/swift/asynchronous-operations/), so that the unzipping files can be handled/processed and the resulting files appended to the final `processedFiles` array

[2021-09-07 18:31] GianniCarlo commented on #627
This looks like it's due to a failed migration, I tried to handle this in [this commit](https://github.com/TortugaPower/BookPlayer/commit/71a00e31), to at least reinitialise the library, but it looks like it's not working, maybe due to the library trying to access the core data objects before they're ready. We are currently working on refactoring the app navigation so it uses Coordinators, which w

[2021-09-07 18:35] rastaman111 opened #628 "Bug: Language error"
In the Russian version of the language, part of the new menu is described in English, perhaps it was so conceived :)

![image](https://user-images.githubusercontent.com/15727518/132394386-cf595182-152d-4cb5-ac49-d5f49172dfca.jpeg)
![image](https://user-images.githubusercontent.com/15727518/132394402-5ecfad13-dbb9-4bac-8a81-efeb6d21977c.jpeg)

[2021-09-07 18:42] GianniCarlo commented on #628
Ah yes, there's a lot of new text that needs localization in the platform we use [Lokalise](https://lokalise.com), I have yet to reach out to the original contributors so translations can be updated. Besides bookmarks, there's still one more screen we're planning on adding, and we haven't set the text for English yet. But yes, this needs to be addressed as well

[2021-09-07 19:46] PasChris commented on #625
I just updated to the most recent version on iOS on my 12 pro max. I have tried importing m4b files through airdrop and the files didn't show up in book player. I tried again and got a message saying ”importing takes time” and a description of the audio file I was importing with ”-1” added to the file, which makes me believe that the original file is somewhere in the phone.

I've restarted my phon

[2021-09-07 21:16] PasChris commented on #625
I just checked and the storage amount listed in the app and the storage amount listed as used in the settings app are different. They are off by almost 2gigs. That is about the size of the two books I tried importing but never showed up in the app.

Help!

[2021-09-07 23:30] GianniCarlo commented on #625
If you can play the book, then it looks like the file is there multiple times, so you should be able to delete that one

The folder structure is as follows:
* Documents
   * Processed → This is where all the successfully imported files are
   * Inbox → This is created automatically by the OS, and it's where Airdropped files are originally placed before being imported
* Application Support → This i

[2021-09-07 23:40] jbcoventry commented on #619
@GianniCarlo Autoplay now functions properly after airdropping a folder. However BookPlayer now appears to be the only option for opening airdropped folders when it was one of several before. Even when I tried a folder only containing a few text files.

Previously it would be one of many like [this.](https://user-images.githubusercontent.com/69566911/132423023-13562065-c6f9-4f24-ade8-89fde1ed8a59.

[2021-09-07 23:47] GianniCarlo commented on #619
@jbcoventry can you try turning off and back on your phone? I've had airdrop fail to receive any files in general before, and having it cancelled (don't know why), but after rebooting, it worked fine.

For transparency sake, these are the type of files we registered that the app can accept (This can be viewed from Xcode → Target BookPlayer → Info → Document Types):

<img width="700" alt="Screen Sh

[2021-09-07 23:57] jbcoventry commented on #619
@GianniCarlo Restarted iPhone and MacBook. Still persists.

[2021-09-08 00:01] GianniCarlo commented on #619
not sure then :/ that change regarding folders type was introduced in v4.0.0, and we don't have a direct way in the code to trigger/modify airdrop, we can only register to receive files

[2021-09-08 00:05] GianniCarlo commented on #619
can you try launching VLC, then airdropping? maybe their type of documents registration got wiped? I'm just speculating, there are no docs regarding how iOS handle these things

[2021-09-08 00:16] jbcoventry commented on #619
Didn't help. Also tried reinstalling BookPlayer using the unload app feature in iPhone storage settings and still nothing.

[2021-09-08 01:17] Harwood opened #629 "External folder support (iCloud Drive & On My iPhone/iPad)"
First off, love the app! Great job all round!

# 🗣 Context

I've seen a few issues like #4 and #480 discussing streaming from cloud providers but what about the ability to add existing directory's from the file picker.

[Textastic Code Editor 9](https://apps.apple.com/us/app/textastic-code-editor-9/id1049254261)'s `Add External Folder...` (see screen shot) is a nice implementation of this.

![imag

[2021-09-08 02:49] PasChris commented on #625
I’m just a basic user, not a programmer or anything. So I don't have the phone connected to any other computer.

I get that if the file plays then I shouldn't have to worry. I'm not really concerned about them.

The real problem is that there are 2 books that I've imported through airdrop that aren't showing up at all. When I try to re-import them, I get that error message saying I'm importing a d

[2021-09-08 18:10] piptib opened #630 "Stop requiring iOS 13"
Best app for audiobooks with sensible privacy politics and without any unnecessary fuss
I can't use because Apple don't support my phone anymore.
Please consider not requiring iOS 13 for this app. It worked great before but now many users are unable to use it because some artificial restrictions. Does iOS 13 have something this important for this app existence? Is i truly necessary? If it is then

[2021-09-08 18:37] GianniCarlo commented on #630
Hi @piptib! hmmmm I get what you mean, but iOS 13 brings many performance improvements for us (code-wise), and the oldest device support (iPhone 6s) was released almost 6 years ago now, and we figured that it would be 'safe' to require it. For more info on what we are leveraging from iOS 13+:
* Combine, the reactive framework from Apple, and it has allowed us to refactor the whole Player screen (#

[2021-09-08 19:13] piptib commented on #630
Sad but
![i](https://user-images.githubusercontent.com/90346982/132570609-1c188e02-7ae1-4775-8a05-b7c8fb822600.jpg)

[2021-09-08 19:37] #627 closed

[2021-09-08 19:39] #630 closed

[2021-09-09 16:06] rastaman111 opened #631 "Question"
@GianniCarlo hi!

I have implemented your import in my project and faced this problem.  I created a folder, go to it and want to create a file in it, and it is created in the root daddy, where is the definition of where to create the file?

[2021-09-09 16:30] GianniCarlo commented on #631
I'm moving this to Discussions

[2021-09-09 16:31] #631 closed

[2021-09-14 07:55] jstaubr commented on #625
I'm noticing the same behaviour. I use airdrop only and the first attemp fails, second attempt gets noticed by the app, but the zip file has "-1.zip". The first file is stuck in inbox.
This happens since the version that brought the UI redesign (I think).

[2021-09-14 11:37] GianniCarlo commented on #625
@jstaubr does the first time open the app but fails to bring up the import screen? I'm in the middle of optimizing/refactoring that screen with some tools available from iOS 13+

[2021-09-14 11:42] jstaubr commented on #625
@jstaubr Yes exactly, airdrop shows new file screen where I can choose BookPlayer and the app opens and nothing happens. Second time the import screen shows up and proceeds with the new file.

[2021-09-22 06:48] AddaxSoft opened #634 "Bug: app crashes as soon as it opens after update"
## Environment

 - OS Version: iOS 14.5.1
 - App Version: latest (22/September/2021)

## Description

 the app craahes as soon as it is open

## Steps to reproduce the behavior
1. Open app

Logs:

Exception Type:  EXC_BREAKPOINT (SIGTRAP)
Exception Codes: 0x0000000000000001, 0x0000000100b2dc14
Termination Signal: Trace/BPT trap: 5
Termination Reason: Namespace SIGNAL, Code 0x5
Terminating Process:

[2021-09-23 21:49] carbonel17 commented on #625
Has there been a new update to the app? Today, for the first time since the problems started, I was able to import two books in a row (as zipfiles, using Dropbox) without having to restart my iPhone for the second one. (I did restart before the first one, because I didn't think to experiment.)

[2021-09-23 22:07] GianniCarlo commented on #625
not yet @carbonel17 , we still have to work on the loading stage of the app where all the database migration will execute before loading up the library. But a fix will be included for this ticket though

[2021-09-25 09:03] paulhargreaves opened #637 "Storage management issue, spinning FILES icon"
iOS 15.0 BookPlayer 4.1.1-1

I've airdropped twice and both times the book doesn't appear.

The files appear to have transferred, per the storage consumed from the iOS side

![ios storage](https://user-images.githubusercontent.com/1288695/134765964-18007715-1805-4e79-be6d-ca403aadbff8.png)

but inside bookplayer it shows no files, even after 14 hours or so, and icon below FILES just spins.

![in a

[2021-09-25 11:21] paulhargreaves commented on #637
I've deleted the app and reinstalled, re-sent my files across.

[2021-09-25 11:21] #637 closed

[2021-09-25 22:11] mttjj opened #638 "Import to Existing Playlist"
# 🗣 Context

I may be missing something but when I import a bunch of files from iTunes (Finder) I only have the option of importing them to the library or into a new playlist. I would like to be able to pick an existing playlist to which to import the files. I have 800+ files that I want to add but I want to do it in chunks of 50 or so just to make sure everything doesn't crash and burn. But after

[2021-09-27 15:21] GianniCarlo commented on #637
yes it's definitely related, it looks like the files aren't being picked up from the Inbox folder after airdrop finishes. We'll add something to routinely clean up that folder, either by prompting the import process or by just deleting them based on date added 🤔. The storage management only takes into account the Processed folder, which was a black hole after the book was imported. The Inbox folde

[2021-10-02 18:27] rastaman111 opened #640 "Import folder zip"
Hey!  I noticed such a problem, if you create a folder on your computer and upload an audio file and a picture there and then create a zip and then import it into the application, then everything in the folder is imported into the application

![image](https://user-images.githubusercontent.com/15727518/135727878-e331c001-54a3-40db-bb86-a21c9a348765.png)

[2021-10-02 20:20] 0xConnorRhodes commented on #625
I am also experiencing this issue. Some of the m4a and mp3 files I try to import don't work. They silently fail when imported through airdrop or the files app.

Version: 4.1.1-4 - iOS 15.0

[2021-10-02 20:30] carbonel17 commented on #625
@0xConnorRhodes, try shutting down your device (not just turning it off) and restarting it. That has been a reliable workaround for me. Sometimes I'll get two imports after that, sometimes just one. But it's always worked at least once after a shutdown and restart.

[2021-10-03 08:55] rakleed opened #642 "In player, display remaining time instead of full duration by default"
# 🗣 Context

In the player on the right, display the remaining time instead of the full duration by default. Since in most iOS applications for listening to music and podcasts, the remaining time is displayed on the right (for example, -0:52). And when switching to your app, consistency is lost, making the app harder to use.

# 💬 Narrative

In the player on the right, display the remaining time in

[2021-10-04 14:42] GianniCarlo commented on #642
Hi there @rakleed , you can already do this, just tap that same label, and it will toggle between total and remaining time. Also if you're listening to a book that has chapter metadata, you can tap the label in the middle to toggle between book duration and chapter duration (affecting both current time and max time)

[2021-10-04 15:06] rakleed commented on #642
@GianniCarlo thanks! Can you display the remaining time by default? Since this is the default behavior for most other iOS apps, and this is what the user expects to see.

[2021-10-04 15:22] GianniCarlo commented on #642
Once you change it once, the app remembers your choice, and will use that for the next items you play 👍

[2021-10-04 15:43] rakleed commented on #642
I understand, but usually users don't change the default settings. Why don't you want to make the behavior I have proposed as the default option, taking into account the previously indicated arguments?

[2021-10-04 16:17] GianniCarlo commented on #642
I'm focused on other things regarding the upcoming version, if anybody else wants to contribute with a pull request with the code to add that change, they are welcomed to do it, I also personally prefer the remaining time option, but that is my preference

[2021-10-04 16:20] rakleed commented on #642
Can you then reopen the issue?

[2021-10-09 23:47] Resonanz opened #646 "Add file action sheet: Add option to Import from URL"
**Edit by @pichfl**

We currently have a menu that allows you to add files or create playlists and contains a message informing users about AirPlay.

We could add a new menu option "Import from URL" which opens an alert with an input field for a URL (and potentially basic validation insuring only URLS are put into the field) which then triggers the same interaction we have when the `bookplayer://d

[2021-10-11 11:51] fritzrehde commented on #611
Skipping forward and backward work for me, and so does pressing the centre button to play when the audio is paused, but pausing itself (by pressing the centre button when the audio is playing) does not work for me.